



.inline-dropdown {
  display: inline-block;
}




/* Consistent bottom margin for form buttons, fields, etc */

.form-group {
  margin-bottom: 10px;
  
  .btn,
  .btn-group,
  .input-group,
  .form-control {
    margin-bottom: 5px;
  }
}

/* Consistent right margin for inline form buttons/groups */

.form-group .btn,
.form-group .btn-group {
  margin-right: 5px;
  
  &.pull-right {
    margin-right: 0;
  }
}

/* Reset for nested elements */

.form-group .btn-group .btn {
  margin-bottom: 0;
  margin-right: 0; 
}

.form-group .input-group .form-control {
  margin-bottom: 0;
}




.help-icon {
  margin-right: 5px;
  color: #bbb;

  i {
    font-size: 21px;
  }

  &:hover, &:focus, &:active { color: #23527c; }
}




.isometrica-rich-text-control {
  padding: 0;
  margin: 0 -15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  .isometrica-rich-text-controls {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    position: relative;

    .btn {
      border-color: transparent;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
    }

    .btn-expand {
      position: absolute;
      right: 10px;
      top: 4px;
    }
  }

  .isometrica-rich-text-input {
    height: 300px;
  }

  &.isometrica-rich-text-control-condensed {
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;

    .isometrica-rich-text-input {
      height: 120px;
    }
  }

}

.modal .isometrica-rich-text-control {
  .isometrica-rich-text-input {
    height: 120px;
  }
}

.isometrica-rich-text-panel {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;

    .isometrica-rich-text-control {
      border-top: 0;
      border-bottom: 0;
      margin-bottom: 0;
    }

    .isometrica-rich-text-input {
      height: 340px;
    }
  }
}

.form-control-with-status {
  padding-right: 35px !important;
  position: relative;

  .label {
    position: absolute;
    right: 8px;
    left: auto !important;
    top: 50%;
    margin-top: -8px;
  }
}

.btn-checkbox {
  width: 34px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 10px !important;

  i {
    margin: 0 !important;
    color: white;
  }
}


.desktop {
  .form-horizontal .control-label {
    padding-right: 0;
  }
}

.ios {

  .modal-body {
    padding-top: 0;
  }

  .form-horizontal .form-group {
    padding-top: 0;
    padding-bottom: 0;

    label,
    .form-control,
    .btn {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .form-horizontal .form-group .control-label {
    white-space: normal;
  }

  .form-horizontal .form-group:first-of-type {
    margin-top: 0;
  }



  textarea {
    resize: none;
  }

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .btn {
    //margin: 1px 0;
  }
}

.android {

  textarea:focus, input:focus, select:focus {
    outline: 0;
    box-shadow: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;
  }

  .form-horizontal .form-group .btn {
    margin: 2px 0;
  }
}



.control-label-block,
.form-horizontal .control-label-block {
  padding-top: 0;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}



/* Form group status label */

.form-group .label {
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 8px;
  display: inline-block;
}


/* Dropdowns */

.dropdown-menu>li>a {
  padding: 7px 15px;
}

.dropdown-menu {
  .divider {
    margin: 4px 0;
  }
  .dropdown-header {
    padding: 5px 15px 0;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background: $blue-color;
  color: white !important;
}


/* Typeahead */

.isometrica-typeahead {
  .input-group-btn {
    position: static;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
  }
  .dropdown-menu {
    left: 0;
  }
}



/* Disabled fields */

.ios .form-control[disabled],
.android .form-control[disabled] {
  background: transparent;
  border-color: transparent;
}



/* Clear field */

.clear-field {
	position: absolute;
	right: 12px;
	top: 0;
	font-size: 21px !important;
	line-height: 22px;
	color: #bbb !important;
	transition: all 0.3s ease;
	border: 0;
  z-index: 9;
  display: none;
  margin-right: 0 !important;

	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
	}
}

input:focus ~ .clear-field {
  display: block;
}

.ios .clear-field {
  padding-right: 0 !important;
}

.android .clear-field {
  right: 0;
}


/* Search form */

.search-form {
  .form-control,
  .btn {
    margin-bottom: 0;
  }
}

/* Form layout */

.ios,
.android {
  .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-horizontal .form-group:last-child {
    margin-bottom: 0;
  }

  .form-horizontal .form-group .control-label:first-child {
    padding-left: 15px;
    padding-right: 0;
  }

  .form-horizontal .form-group > div,
  .form-horizontal .form-group > div:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ios {
  .form-horizontal .form-group .control-label {
    padding-top: 8px;
    color: black;
    font-weight: 500;
  }

  .bootcards-panel-collapsing:not(.full-width) .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.android {
  .form-horizontal .form-group .control-label {
    padding-top: 7px;
  }

  textarea {
    line-height: 26px;
  }
}


/* Input groups */

.input-group {
  //margin-top: 8px;
  //margin-bottom: 8px;

  //&:first-child { margin-top: 0; }
  //&:last-child { margin-bottom: 0; }
}

.input-group + .input-group {
  margin-top: 8px;
}

.input-group .btn {
  margin-right: 0;
  margin-bottom: 0;
}

.ios,
.android {
  .input-group {
    .input-group-btn > .btn {
      border-radius: 3px;
      border-width: 1px;
      z-index: 9;
    }

    .input-group-addon {
      background: transparent;
      border-color: transparent;
      padding-left: 0;
    }
  }
}

