

/* Cards */

.bootcards-cards {
  .panel-title {
    .label {
      padding-top: .25em;
      padding-bottom: .25em;
      position: relative;
      top: -1px;
    }

    .status-indicator {
      padding: 0;
      top: 2px;
      margin-right: 10px;
    }

    .risk-square {
      padding: 0;
      margin: -9px 0;
      margin-right: 10px;
    }
  }

  .panel-subheading {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    background: white;
    padding-top: 15px;
    padding-left: 0;
    margin-left: 15px;
    padding-bottom: 0;
    margin-bottom: -2px;
    background-color: transparent !important;

    .panel-title {
      margin: 0;
      font-size: 18px;
      font-weight: normal;
      color: #777;
      text-transform: none;
    }
  }

  .list-group {
    padding-top: 8px;
    padding-bottom: 8px;

    .list-group-item {
      border: 0 !important;
      padding-top: 7px;
      padding-bottom: 7px;

      .list-group-item-heading {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 0;

        .label {
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
      }

      .list-group-item-text {
        margin-bottom: 0;
        line-height: 18px;
        font-size: 14px;
        font-weight: normal;
        color: #777;


      }

      i {
        width: auto;
        opacity: 1;
        margin-right: 5px;
      }

      .btn {
        margin-top: 3px;
        margin-bottom: 2px;
        white-space: normal;
        text-align: left;
      }

      ol, ul {
        padding-left: 35px;

        li {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }

          .list-group-item-heading,
          .list-group-item-text {
            margin-bottom: 5px;
          }
        }
      }
    }

  }



  .isometrica-card-table {
    margin-top: 10px;
    margin-left: 15px;

    td:first-child, th:first-child {
      padding-left: 0 !important;
    }
  }
}










.desktop {
  .isometrica-container-listdetail {
    .bootcards-cards {
      .list-group-item {
        border-top: 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
      }

      .panel>.list-group .list-group-item:last-child {
        border-bottom: 1px solid #ddd;
      }

      .list-group>.list-group-item:last-child {
        border-bottom: 0 !important;
      }

      .list-group {
        .row {
          margin: 0;

          &:last-child {
            .list-group-item {
              border-bottom: 0 !important;
            }
          }

          > div { padding: 0; }
        }
      }
    }
  }
}


.ios,
.android {
  .isometrica-container-listdetail {
    .bootcards-cards {
      .list-group-item {
        border-top: 0;
        margin-bottom: 0;
      }

      .list-group {
        .row {
          margin: 0;
          > div { padding: 0; }
        }

        > .list-group-item:last-child {
          border-bottom: 0 !important;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;


      > .panel {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}


.ios {
  .isometrica-container-listdetail {
    .bootcards-list {
      .panel-heading {
        border-bottom: 0;
      }

      .list-group-item-heading {
        font-weight: 500;
        color: #444;
      }
    }

    .bootcards-cards {
      .panel-title {
        text-transform: none;
        font-size: 17px;
        color: black;
        font-weight: 500;
      }



      .list-group {
        padding-top: 0;
        padding-bottom: 0;
      }

      .list-group-item {
        border-top: 0;
        margin-bottom: 0;

        .list-group-item-heading {
          font-size: 17px;
          font-weight: 500;
          color: #444;
        }

        .list-group-item-text {
          color: #777;
        }

      }

      .list-group {
        > .row {
          margin: 0;
          margin-bottom: -1px;

          > div { padding: 0; }
        }

        > .list-group-item:last-child {
          border-bottom: 0 !important;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding: 0;
    }
  }
}


.ios,
.android {
  .isometrica-container-listdetail {
    .bootcards-cards {
      .panel-subheading {
        padding-top: 15px;
        padding-bottom: 0;
        margin-top: 1px;

        .panel-title {
          color: #777;
          padding: 0;
          margin: 0;
          line-height: 1.2;
          font-weight: 400;
        }
      }
    }
  }
}






/* Layout */

.isometrica-container-listdetail {
  //position: fixed;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //padding-top: 0;
  //height: auto !important;
}

.desktop .isometrica-container-listdetail {
  //top: 50px;

  > .row {
    height: 100%;


  }
}

.ios .isometrica-container-listdetail {
  //top: 44px;
}

.android .isometrica-container-listdetail {
  //top: 50px;
}



/* List */

.bootcards-list {
  
  .panel-body {
    padding: 10px 15px;
  }

  .list-group-item {
    .status-indicator.pull-left {
      margin-left: 1px;
      margin-right: 17px;
      margin-top: 1px;
    }
  }

  .list-group-item.active,
  .list-group-item.active:focus,
  .list-group-item.active:hover {
    background: $blue-color !important;
    border-color: $blue-color !important;
    color: white !important;

    .list-group-item-heading {
      color: white !important;
    }

    .list-group-item-text {
      color: #c7ddef !important;
    }
  }

  .list-group-item-text {
    &.pull-right {
      line-height: 24px;
    }
  }  
  
}

.desktop .bootcards-list {
  .panel-heading {
    border-radius: 0;
  }

  a.list-group-item {
    padding-right: 40px;
  }
}


/* List group items - icon positioning */

.list-group-item {
  i {
    opacity: 1;
    
    /*
    &.pull-left {
      position: relative;
      top: 4px;
      font-size: 32px;
      color: #999;
    }
    */
  }

  .list-group-item-content {
    overflow: hidden; /* Stops content wrapping under image/icon */
  }
}



/* MOBILE-ONLY LIST VIEWS */

.isometrica-mobile-list-view-container {
  padding-top: 15px;

  .bootcards-list {
    height: auto !important;
  }

  .list-group-item {
    .label {
      display: inline-block;
      padding: .3em .6em .3em;
    }
  }
}

.ios .isometrica-mobile-list-view-container {
  padding: 0;
}