/* ADDRESS BOOK */

.isometrica-address-book {
  .phone-numbers {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    a {
      span {
        margin-left: 15px;
        font-weight: normal;
      }
    }
  }

  .bootcards-list-subheading {
    font-size: 16px !important;
  }

  .permissions {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    .list-group-item-heading {
      font-size: 14px !important;

      &.text-success { color: #5cb85c; }
      &.text-danger { color: #d9534f; }
    }

    i {
      opacity: 1;
      width: 20px;
      margin-right: 10px;
    }
  }

  .call-tree {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    a {
      margin-left: 15px;
    }
  }

}




/* Edit MOdal */

.isometrica-addressbook-edit-modal {
  .modal-content {
    overflow: hidden;
  }
  .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  div.checkbox {
    padding-top: 7px !important;
  }

  input[type="checkbox"] {
    margin-top: 4px;
  }

}

.ios .isometrica-addressbook-edit-modal {
  .control-label {
    padding-left: 15px !important;
  }

  div.checkbox {
    padding-bottom: 7px;
  }
}