/* ADDRESS BOOK */

.isometrica-address-book {

  .bootcards-container {
    padding-top: 80px;
  }

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;
    }
  }

  .isometrica-address-book-select {
    border-bottom: 1px solid #ddd;

    .list-group-item {
      i {
        position: absolute;
        left: 0;
        width: auto;
      }

      .list-group-item-heading {
        padding-left: 34px;
        position: relative;
      }
    }

    .collapse {
      .list-group-item {
        &:before {
          display: none; /* Hide disclosure indicators */
        }
      }
    }
  }

  .panel-body:first-child {
    border-bottom: 1px solid #ddd;
  }

  .phone-numbers {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    a {
      margin-right: 15px;
    }
  }

  .permissions {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    .list-group-item-heading {
      font-size: 14px !important;

      &.text-success { color: #5cb85c; }
      &.text-danger { color: #d9534f; }
    }

    i {
      opacity: 1;
      width: 20px;
      margin-right: 10px;
    }
  }

  .call-tree {
    .list-group-item-text {
      margin-bottom: 10px;
    }

    a {
      margin-left: 15px;
    }
  }

}

.ios.isometrica-address-book {
  .bootcards-container {
    padding-top: 52px;

    select {
      padding-left: 12px;
    }
  }

  .bootcards-cards {
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.android.isometrica-address-book {
  .bootcards-container {
    padding-top: 52px;
  }
}


/* Edit MOdal */

.isometrica-addressbook-edit-modal {
  .modal-content {
    overflow: hidden;
  }
  .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  div.checkbox {
    padding-top: 7px !important;
  }

  input[type="checkbox"] {
    margin-top: 4px;
  }

}

.ios .isometrica-addressbook-edit-modal {
  .control-label {
    padding-left: 15px !important;
  }

  div.checkbox {
    padding-bottom: 7px;
  }
}