.isometrica-calendar {

  .search-form {
    .row > div {
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
    }

    .form-group {
      position: relative;
      margin: 0;
      padding: 0;
    }

    input {
      padding-left: 32px;
    }

    i.fa-search {
      position: absolute;
      left: 12px;
      top: 10px;
      color: #999;
      font-size: 14px;
    }
  }

  &.isometrica-calendar-year,
  &.isometrica-calendar-quarter {
    th:first-child {
      width: 20%;
      border-right: 1px solid #bbb;

      @media (max-width: 1199px) {
        width: 25%;
      }
    }
  }

  &.isometrica-calendar-year {
    th {
      width: 6.6666%; /* 80% / 12 */

      @media (max-width: 1199px) {
        width: 6.25%; /* 75% / 12 */
      }
    }
  }

  &.isometrica-calendar-quarter {
    th {
      width: 6.1538%;  /* 80% / 13 */

      @media (max-width: 1199px) {
        width: 5.769%;  /* 75% / 13 */
      }
    }
  }


  thead {
    background: #f5f5f5;

    th {
      border-width: 1px !important;
      text-align: center;
      font-weight: 500;
      vertical-align: middle !important;
    }
  }

  th, td {
    padding: 8px !important;
  }

  th:first-child {
    border-right: 1px solid #ddd;
  }

  tbody th {
    font-size: 16px;
    padding: 10px 15px !important;
    font-weight: 500;
  }

  th.calendar-accordion-toggle {
    margin-left: 0;
    font-weight: 500;
    z-index: 6;
    //background-color: white;
    padding: 10px 10px 10px 40px !important;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    position: relative;

    .bootcards-panel-collapsing-indicator {
      line-height: 20px;
      font-size: 24px;
      width: 24px;
      text-align: center;
      color: #337ab7;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -11px;
      transition: all 0.3s ease;
    }

    &.collapsed .bootcards-panel-collapsing-indicator {
      -webkit-transform: rotate(-90deg);
    }

  }

  .btn-date-specific,
  .btn-date-range  {
    text-align: left;
    text-decoration: none;

    .date {
      display: block;
    }
  }

  .btn-date-specific {
    position: relative;
    padding-right: 0;
    padding-left: 15px !important;
    color: $blue-color;

    .date {
      color: #999;
    }

    &:before {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #00b2e2;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }

  .btn-date-range {
    display: block;
    text-align: left;

    .date {
      color: #cde9f0;
    }
  }

  tbody {
    .label {
      display: block;
      font-size: 14px;
      padding: 5px;
    }
  }
}


.ios .isometrica-calendar-container {
  overflow-y: scroll;

  .bootcards-cards {
    padding-left: 0;
    padding-right: 0;
  }
}