.isometrica-communications-log {

  .bootcards-container {
    padding-top: 80px;
  }

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;
    }
  }


  .bootcards-list {
    .panel-body:first-child {
      border-bottom: 1px solid #ddd;

      select {
        padding-left: 12px;
      }
    }

    .list-group-item-content {
      overflow: hidden;
    }

    .list-group-item {
      i {
        font-size: 36px;
        top: 2px;
        position: relative;
      }
    }
  }

  .bootcards-cards {
    .list-group-item {
      i {
        width: auto;
        opacity: 1;
        margin-right: 5px;
      }
    }
  }
}

.ios.isometrica-communications-log {
  //overflow: hidden;

  .bootcards-container {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* Edit MOdal */

.isometrica-communications-edit-modal {


  .isometrica-workbook-modal-subheading {
    margin: 0 0 15px;
    font-size: 16px;
  }



  .modal-body {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .linked-items {
    margin-bottom: 10px;

    .btn {
      margin-bottom: 5px;
      color: white;
    }

    .btn-info {
      background-color: #5bc0de;

      &:hover, &:focus, &:active {
        background-color: #31b0d5;
      }
    }

    .btn-primary {
      background-color: #337ab7;

      &:hover, &:focus, &:active {
        background-color: #286090;
      }
    }
  }

  .isometrica-rich-text-control {
    padding: 0;

    .isometrica-rich-text-controls {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      text-align: center;

      .btn {
        border: 0;
        border-radius: 0;
      }
    }

    .isometrica-rich-text-input {
      height: 300px;
    }
  }

  .problems-nonconformities {
    background: #eee;
    .btn.pull-right {
      position: relative;
      top: -8px;
      margin-right: -8px;
    }
  }

  .table {
    margin-bottom: 0;

    th {
      background: #eee;
    }

    .label {
      font-size: 14px;
    }
  }
}

.ios .isometrica-communications-edit-modal {

  .control-label {
    padding-left: 15px !important;
  }

  input[disabled] {
    background: transparent;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .linked-items {
    padding-bottom: 0;
    margin-bottom: 0;

    .btn {
      padding-left: 12px;
      padding-right: 12px;
    }

    .btn-info:first-child {
      padding-right: 0;
    }
  }
}
