
/* Edit MOdal */

.isometrica-communications-edit-modal {



  .linked-items {
    margin-bottom: 10px;

    .btn {
      margin-bottom: 5px;
      //color: white;
    }

    .btn-info {
      background-color: #5bc0de;

      &:hover, &:focus, &:active {
        background-color: #31b0d5;
      }
    }

    .btn-primary {
      background-color: #337ab7;

      &:hover, &:focus, &:active {
        background-color: #286090;
      }
    }
  }

  /*
  .isometrica-rich-text-control {
    padding: 0;

    .isometrica-rich-text-controls {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      text-align: center;

      .btn {
        border: 0;
        border-radius: 0;
      }
    }

    .isometrica-rich-text-input {
      height: 300px;
    }
  }
  */
}
