.isometrica-dashboard-page {

  .isometrica-dashboard-items {
    //padding-top: 30px;
    @include clearfix();
    padding-bottom: 30px;

    .row > div {
      @media (min-width: 992px) {
        width: 20%;
      }
    }

    hr {
      clear: both;
      border-color: #ddd;
      margin: 0 0 30px;
    }
  }

  .isometrica-dashboard-item {
    height: 151px; // Same height as Overview items
    border: 1px solid #bbb;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    cursor: pointer;


    &:hover, &:focus, &:active { border-color: $light-blue-color; }

    .panel-body {
      position: relative;
    }

    i {
      display: block;
      text-align: center;
      font-size: 42px;
      margin: 10px 0 5px;

      //color: #5ec4e0;
    }

    h3 {
      line-height: 20px;
      font-size: 16px;
      color: #333;
      text-align: center;
      margin: 0;
    }

    p {
      text-align: center;
      margin: 4px 0;
      color: #777;
    }

    .label {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 13px;
      padding: 4px 8px;
    }
  }

  .isometrica-mobile-list-view-container {
    overflow: scroll;
  }

  .list-group {
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 48px;
      @include clearfix();
      margin-left: 15px;

      i {
        font-size: 28px;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -14px;
        opacity: 1;
      }

      .label {
        position: relative;
        top: -1px;
        left: 3px;
      }

    }
  }
}


.ios.isometrica-dashboard-page,
.android.isometrica-dashboard-page {
  .isometrica-dashboard-container {
    height: auto;
  }

  .isometrica-dashboard-items {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;

    .row > div {
      padding-left: 8px;
      padding-right: 8px;
    }

    hr {
      margin: 15px 8px;
    }

    .isometrica-dashboard-item {
      margin-bottom: 15px;
    }
  }
}

