.isometrica-dashboard-page {
  //padding-top: 50px;


  .guidance-bar {
    padding-right: 40px;
    position: relative;
    top: 0;

    .guidance-bar-dismiss {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -17px;
      color: white;
      font-size: 24px;
      padding: 0;
      opacity: 0.7;

      &:hover, &:active, &:focus {
        opacity: 1;
      }
    }
  }

  .isometrica-dashboard-items {
    padding-top: 30px;
  }

  .isometrica-dashboard-item {
    min-height: 160px;
    border: 1px solid #bbb;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover, &:focus, &:active { border-color: #5bc0de; }

    i {
      display: block;
      text-align: center;
      font-size: 42px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #5ec4e0;
    }

    h3 {
      line-height: 20px;
      font-size: 16px;
      color: #333;
      text-align: center;
      margin: 0 0 5px;
    }

    p {
      text-align: center;
      margin: 0;
      color: #777;

      .label {
        position: relative;
        top: -1px;
        left: 3px;
      }
    }
  }

  .isometrica-mobile-list-view-container {
    overflow: scroll;
  }

  .list-group {
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 48px;
      overflow: hidden;
      margin-left: 15px;

      i {
        font-size: 28px;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -14px;
      }

      .label {
        position: relative;
        top: -1px;
        left: 3px;
      }

    }
  }

}

.ios.isometrica-dashboard-page {
  .isometrica-dashboard-items {
    padding-left: 15px;
    padding-right: 15px;
  }
}
