.isometrica-meetings {

  .bootcards-container {
    padding-top: 80px;
  }

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;
    }
  }

  .bootcards-list {
    .panel-body:first-child {
      border-bottom: 1px solid #ddd;

      select {
        padding-left: 12px;
      }
    }
  }

  .list-group-item {
    i.pull-left {
      font-size: 32px;
      position: relative;
      top: 4px;
    }
  }

  .bootcards-cards {
    .avatar {
      border-radius: 50%;
      margin-right: 5px;
      height: 32px;
      width: 32px;
    }
  }
}

/*
.meetings-icon {
  border-radius: 2px;
  text-align: center;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  color: white;
  font-size: 10px;
  font-weight: 500;

  &.meetings-icon-operations { background: #5dc1dd; }
  &.meetings-icon-sales { background: #f69d55; }
  &.meetings-icon-support { background: #f483b3; }
  &.meetings-icon-planning { background: #ae7bda; }
  &.meetings-icon-management { background: #8dda7b; }
  &.meetings-icon-adhoc { background: #81a9c8; padding-top: 6px; }

  i {
    font-size: 28px;
    opacity: 1 !important;
    color: white !important;
    display: block;
    text-align: center;
    margin: 2px auto -2px auto !important;
  }
}
*/

.ios.isometrica-communications-log {
  //overflow: hidden;

  .bootcards-container {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.isometrica-meetings-modal {

  .modal-content {
    overflow: hidden;
  }

  .modal-body {
    h4 {
      margin: 15px 0 0;
    }

    hr {
      border-color: #ddd;
      margin: 15px -15px;
    }

    .btn-add {
      //margin-top: 15px;
    }

    .long-label {
      padding-top: 0;
      margin-bottom: -4px;
      margin-top: -2px;
    }
  }



  .bootcards-panel-collapsing {
    clear: both;
    margin-bottom: 0;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      //border-top-width: 0;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;
    }

    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }

    .panel-heading .bootcards-panel-collapsing-indicator {
      //font-size: 18px;
      left: 10px;
      margin-top: -11px;
    }

    .panel-body {
      hr {
        border-color: #ddd;
        margin: 15px -15px;
      }
    }
  }

  .modal-footer {
    background: #f5f5f5;
    border-top: 1px solid #ddd;

    small.text-left {
      text-align: left;
    }

    small.text-right {
      text-align: right;
    }
  }
}