.isometrica-meetings {
  .bootcards-container {
    padding-top: 80px;
  }

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;
    }
  }

  .bootcards-list {
    .panel-body:first-child {
      border-bottom: 1px solid #ddd;

      select {
        padding-left: 12px;
      }
    }
  }

  .list-group-item {
    i.pull-left {
      font-size: 32px;
      position: relative;
      top: 4px;
    }
  }

  .bootcards-cards {
    .avatar {
      border-radius: 50%;
      margin-right: 5px;
      height: 32px;
      width: 32px;
    }
  }

  .isometrica-meetings-modal {
    .modal-content {
      overflow: hidden;
    }

    .modal-body {
      h4 {
        margin: 15px 0 0;
      }

      hr {
        border-color: #ddd;
        margin: 15px -15px;
      }

      .long-label {
        padding-top: 0;
        margin-bottom: -4px;
        margin-top: -2px;
      }
    }

    .bootcards-panel-collapsing {
      clear: both;
      margin-bottom: 0;

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0;
      }

      &:first-child {
        margin-top: 15px;
      }

      &:last-child {
        margin-bottom: 15px;
      }

      .panel-heading .bootcards-panel-collapsing-indicator {
        left: 10px;
        margin-top: -11px;
      }

      .panel-body {
        hr {
          border-color: #ddd;
          margin: 15px -15px;
        }
      }
    }

    .modal-footer {
      background: #f5f5f5;
      border-top: 1px solid #ddd;

      small.text-left {
        text-align: left;
      }

      small.text-right {
        text-align: right;
      }
    }
  }
}



.desktop.isometrica-meetings {
  .isometrica-meetings-modal {
    .btn-add, .btn-delete {
      margin: -8px 0;
    }
  }
}


.ios.isometrica-meetings {
  .bootcards-container {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form-group {
    border-bottom: 0;
    border-top: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-top: 0;
    }
  }

  .isometrica-meetings-modal {

    hr {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .modal-body {
      padding-bottom: 0;
    }

    .btn-add, .btn-delete {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .btn-add {
      margin-top: -10px;
    }

    .bootcards-panel-collapsing {
      border: 1px solid #ccc;

      &:not(:last-child) {
        border-bottom: 0;
      }

      .panel-heading {
        background-color: #f5f5f5;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0;
      }

      .panel-body {
        padding-bottom: 5px;
      }

      // Toggle
      .btn-group {
        .btn {
          padding-left: 10px;
          padding-right: 10px;
        }

        .btn-default {
          border-color: #ddd;
        }

        .active {
          background: #007aff;
          border-color: #007aff;
          box-shadow: none;
          opacity: 1;
        }
      }
    }

    .modal-footer {
      small {
        font-size: 11px;
      }
    }
  }
}

.android.isometrica-meetings {
  .bootcards-container {
    position: fixed;
    top: 102px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bootcards-list {
    select {
      border-bottom: 0;
    }
  }

  .isometrica-meetings-modal {
    .bootcards-panel-collapsing {
      .panel-heading {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f5f5f5;
        border-radius: 0;
      }

      .btn-group {
        .btn {
          border-color: #ddd;
        }
        .active {
          background: #33b5e5;
          border-color: #33b5e5;
          box-shadow: none;
        }
      }

      .panel-body {
        padding-top: 5px;
        padding-bottom: 0;

        hr {
          margin-bottom: 10px;
        }
      }
    }
  }
}