.isometrica-meetings {

  .bootcards-cards {
    .list-group-item {
      i {
        opacity: 0.3;
        margin-right: 15px;
        //position: relative;
        //top: 6px;
      }
    }
  }

  .isometrica-meetings-modal {
    .modal-content {
      overflow: hidden;
    }

    .modal-body {
      h4 {
        margin: 15px 0 0;
      }

      hr {
        border-color: #ddd;
        margin: 15px -15px;
      }

      .long-label {
        padding-top: 0;
        margin-bottom: -4px;
        margin-top: -2px;
      }
    }

    .bootcards-panel-collapsing {
      clear: both;
      margin-bottom: 0;

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0;
      }

      &:first-child {
        margin-top: 15px;
      }

      &:last-child {
        margin-bottom: 15px;
      }

      .panel-heading .bootcards-panel-collapsing-indicator {
        left: 10px;
        margin-top: -11px;
      }

      .panel-body {
        hr {
          border-color: #ddd;
          margin: 15px -15px;
        }
      }
    }

    .modal-footer {
      background: #f5f5f5;
      border-top: 1px solid #ddd;

      small.text-left {
        text-align: left;
      }

      small.text-right {
        text-align: right;
      }
    }
  }
}



.desktop.isometrica-meetings {
  .isometrica-meetings-modal {
    .btn-add, .btn-delete {
      margin: -8px 0;
    }
  }
}


.ios.isometrica-meetings {
  .bootcards-container {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;

    @media (max-width: 767px) {
      top: 44px;
    }
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form-group {
    border-bottom: 0;
    border-top: 1px solid #ddd;
    //padding-left: 10px;
    //padding-right: 10px;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-top: 0;
    }
  }

  .isometrica-meetings-modal {

    hr {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .modal-body {
      padding-bottom: 0;
    }

    .btn-add, .btn-delete {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .btn-add {
      //margin-top: -10px;
    }

    .modal-footer {
      small {
        font-size: 11px;
      }
    }
  }
}