/* CORE SYSTEM */

.isometrica-org-setup-page {
  background: white;
}

.ios.isometrica-org-setup-page {
  overflow: auto;

  .org-setup-container {
    overflow: visible;
    height: auto;
  }
}

.org-setup-container {
  width: auto;
  //padding: 0 180px;
  //padding-top: 30px;
  //max-width: 1200px;

  > .row > div {
    padding: 30px 180px 0;
    position: relative;
  }

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  .org-setup-panel {
    margin-bottom: 40px;
    border-color: #bbb;

    .panel {
      margin-bottom: 15px;
      position: relative;
      border-color: #bbb;
      background: #e5e5e5;
    }

    h2 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      margin-bottom: 15px;
    }

    .panel-heading {
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
      border-radius: 0;
      border-color: #bbb;
      background: #eee;
      position: relative;
      width: 100%;

      .text-muted {
        color: #999;
      }

      &.first {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &.last {
        border-bottom: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &:hover,
      &:active {
        background: #f5f5f5;

        &:after {
          border-left-color: rgba(0,0,0,0.2);
        }
      }

      .arrow {
        position: absolute;
        font-size: 63px;
        line-height: 1;
        top: 50%;
        margin-top: -32px;
        color: #ccc;
        z-index: 9;

        &.left {
          left: -54px;
        }

        &.right {
          right: -54px;
        }

        &.top {
          top: -54px;
          margin-top: 0;
          left: 50%;
          width: 64px;
          text-align: center;
          margin-left: -32px;
        }
      }

      .panel-title {
        line-height: 1.3;

        span {
          display: inline-block;
        }

        .badge {
          position: relative;
          top: -1px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: #d9534f;
        }
      }

      &.inactive .panel-title {
        color: #999;
      }

      .status-indicator {
        position: absolute;
        top: 50%;
        right: 20px;
        left: auto;
        margin-top: -9px;
      }
    }

    .panel-body {
      border-bottom: 1px solid #bbb;
      padding-bottom: 0;
    }

    .org-setup-offset-container {
      position: relative;
    }

    .offset {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 120px;

      @media (max-width: 991px) {
        //display: none;
      }

      &.left {
        left: -165px;
      }

      &.right {
        right: -165px;
      }

      .panel {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        text-align: center;

        .panel-heading {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          border: 0;

          .status-indicator {
            top: auto;
            bottom: 20px;
            left: 50%;
            right: auto;
            margin-top: 0;
            margin-left: -9px;
          }
        }
      }
    }
  }
}

.isometrica-org-setup-page {
  .modal-content {
    overflow: hidden;
  }
}

/* Spreadsheet multiadd */
.isometrica-org-setup-multiadd {

  .table {
    margin-bottom: 0;
    border: 0;
  }

  .table-responsive {
    border-top: 0;
  }

  .table>tbody>tr>td {
    padding: 0 !important;
  }

  .table>tbody>tr:first-child>td {
    border-top: 0;
  }

  .table>tbody>tr:last-child>td {
    border-bottom: 0;
  }

  .table>thead>tr>th {
    padding-left: 15px;
    background: #f5f5f5;
    border-bottom-width: 1px;
  }

  .table>tbody>tr>td,
  .table>thead>tr>th {
    &:first-child { border-left: 0; }
  }

  th {
    min-width: 180px;
  }

  th.short {
    min-width: 120px;
  }
  
  th.long {
    min-width: 300px;
  }

  th.icon,
  td.icon {
    width: 40px;
    min-width: 40px;
  }

  .form-control {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding-left: 15px;
  }

  .btn {
    border-color: transparent;
    border-radius: 0;
  }

  .text-muted {
    color: #bbb;
  }

  .btn-group {
    white-space: nowrap;
    .btn {
      float: none;
      display: inline-block;
    }
  }

}

/* Mission & goals edit */

#editMission {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 960px;
    }
  }

  .modal-content {
    overflow: hidden;
  }

  .modal-body {
    padding-bottom: 0;
    //border-top: 1px solid #ddd;
  }

  .isometrica-rich-text-control {
    border-bottom: 0;

    .isometrica-rich-text-input {
      height: 400px;
    }
  }
}


.ios.isometrica-org-setup-page {

  .org-setup-container {
    padding-top: 30px;
    overflow: scroll;

    @media (max-width:767px) {
      padding-top: 15px;
    }
  }

  .org-setup-panel {
    border: 1px solid #bbb !important;

    .panel-title {
      color: #333 !important;
      text-transform: none !important;
      font-weight: 500 !important;
    }

    .panel {
      border: 1px solid #bbb !important;
    }
  }

  .modal {
    .panel {
      border: 1px solid #bbb;
    }

    .form-group {
      margin-top: 0;
      margin-right: 0;
      border: 0;

      .form-control {
        padding-left: 10px;
      }
    }
  }
}

.android.isometrica-org-setup-page {
  .org-setup-container {
    padding-top: 15px;
  }

  .org-setup-panel {
    .panel-heading {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .modal-header {
    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
    }
  }
}


/* CORE SYSTEM MODAL */

.modal.isometrica-orgsetup-modal {
	z-index: 1051;

	.modal-dialog:not(.modal-lg) {
  	@media (min-width: 768px) {
    	width: 480px;
  	}
	}

	.modal-header {
  	//padding: 10px;
  	padding: 12px 15px;

  	.pull-left {
    	position: absolute;
      left: 15px;
      top: 12px;
  	}

  	.pull-right {
    	position: absolute;
      right: 15px;
      top: 12px;
  	}

  	.modal-title {
    	@media (max-width: 767px) {
      	text-align: left;
      	padding-left: 15px;
    	}

  	}
	}
}