/* Navbar */

.isometrica-overview-page {
  .navbar {
    .navbar-brand {
      img {
        display: inline-block;
        position: relative;

        @media (min-width: 768px) {
          height: 28px;
          top: -5px;
        }
      }
    }

    .navbar-nav {
      margin: 0;

      .btn {
        i {
          font-size: 24px;
        }

        &[aria-expanded="true"] {
          color: white;
        }
      }
    }

    .navbar-right {
      float: right;
      margin-right: -15px;
    }

    .navbar-collapse {
      &[aria-expanded="true"] {
        display: block !important;
        background: #444;
      }

      .navbar-nav {
        float: none;
        margin: 0 -15px;
        position: static !important;
      }
    }
  }
  .navbar-nav>li>a {

    i {
      font-size: 24px;
      position: relative;
      top: 3px;
    }

    &.chat-link {
      .label {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -16px;
        border-radius: 10px;
      }
    }
  }
}



.isometrica-overview-page {
  .guidance-panel-top {
    min-height: 135px;
  }
}


body.desktop.isometrica-overview-page {
  @media (max-width:767px) {
    padding-top: 50px !important;

    .btn-menu {
      display: block !important;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
      padding: 13px 15px;
    }
  }

  .navbar-header {
    position: relative;

    @media (max-width: 767px) {
      display: block;
      height: 50px;
    }


    .navbar-brand {
      @media (max-width: 767px) {
        float: none;
        display: block;
        text-align: center;
      }

      @media (min-width: 768px) {
        font-size: 36px;
      }

      img {
        height: 34px;
      }
    }

    @media (min-width: 768px) {
      height: 80px;

      .dropdown-toggle i {
        top: -8px;
      }

      .dropdown-menu {
        left: 0;
        right: auto;
        margin-left: 0;
        text-align: left;
        width: auto;
        min-width: 240px;
      }
    }
  }

  .navbar-nav>li>a {
    line-height: 50px;
  }
}

.ios.isometrica-overview-page,
.android.isometrica-overview-page {
  .navbar {
    .navbar-brand  img {
      height: 22px;
      top: -3px;
    }
    .navbar-right {
      top: 0;
      left: auto !important;
      right: 0;
      float: none !important;
      position: absolute;
    }
    
    .navbar-left {
      top: 0;
    }
    
    .navbar-nav>li>a {
      color: #ccc;



      &:hover, &:focus, &:active {
        color: white;
      }

      i {
        line-height: 14px;
      }
    }
    .navbar-nav>li.open>a {
      color: white;
    }

  }
  
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background: transparent;
  }

}

.ios.isometrica-overview-page {
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        margin: 0;
      }
    }


  }
}

.android.isometrica-overview-page {
  .navbar {
    .navbar-brand {
      padding-left: 15px !important;
    }
  
    .navbar-nav > li > a {
      padding-top: 14px;
      padding-bottom: 15px;
    }
    
    .navbar-left a {
      padding-left: 30px;
      padding-right: 0;
    }
  }
}


.ios.isometrica-overview-page .navbar .navbar-collapse .navbar-nav:first-child,
.android.isometrica-overview-page .navbar .navbar-collapse .navbar-nav:first-child {
  @media (min-width: 768px) {
    float: left !important;
  }
}


/* ICON UPLOAD */

.overview-icon-preview {
  background: #444;
  padding: 20px !important;
  text-align: center;

  img {
    height: 34px;
    margin: 0 auto;
  }
}



/* Scrolling Area */

.ios.isometrica-overview-page {
  overflow-y: auto;
}



/* DASHBOARD */

.isometrica-overview-page .guidance-bar {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  min-height: 115px;

  @media (max-width: 767px) {
    padding-bottom: 5px;
  }
}

/* Tabs */

.isometrica-overview-tabs {
  background: $blue-color;
  padding-top: 10px;

  @media (max-width: 767px) {
    padding-top: 3px;
    .container {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .nav {
    > li {
      > a {
        border-color: transparent !important;
        font-weight: 500;
        color: white !important;
        background: #539ad7;
        background: $light-blue-color;
        //border-radius: 0;
        transition: all 0.3s ease;
        margin: 0 2px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media (max-width: 991px) {
          white-space: nowrap;
        }

        i {
          font-size: 24px;
        }

        &:hover, &:focus, &:active {
          background: #5bc0de;
        }
      }

      &.active > a {
        background: #f5f5f5;
        color: #333 !important;
      }
    }
  }

  // Show on Mobile
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
}

.ios .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #efeff4;
    }
  }
}

.android .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #eee;
    }
  }
}

/* Dashboard Items */

.isometrica-overview-items {
  //margin-top: 30px;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
  @include clearfix();

  @media (max-width:767px) {
    padding-left: 0;
    margin-top: 12px;
  }

  hr {
    clear: both;
    border-color: #ddd;
    margin: 0 0 30px;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    &.isometrica-org-divider {
      border-width: 3px;
    }
  }

  h2 {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width:767px) {
      text-align: center;
    }
  }

  .btn-add-org {
    margin-bottom: 20px;
  }
}


/* Services */

.isometrica-overview-items.services {
  .panel-heading {
    background: transparent;

    .panel-title {
      line-height: 1.3;
      overflow: hidden;
      text-align: center;
    }

    i {
      margin-top: 12px;
      margin-right: 12px;
      display: block;
      float: none !important;
      margin: 10px 0;
      text-align: center;
      font-size: 40px;
    }
  }
}


/* Workspace */

.isometrica-overview-document-items {
  position: relative;

  @media (min-width:768px) {
    padding-left: 120px;
  }
}

.isometrica-overview-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 20px;


  @media (max-width:767px) {
    position: static;
    width: auto;
    margin-bottom: 10px !important;

  }

  @media (min-width: 768px) {
    white-space: normal;
  }

  i {
    @media (max-width:767px) {
      //display: inline-block;
      //font-size: inherit;

    }
    @media (min-width: 768px) {
      margin: 0 !important;
      font-size: 48px;
      line-height: 1;
      vertical-align: 0;
      display: block;
    }

  }
}

.isometrica-overview-item {
	cursor: pointer;
	border: 1px solid #bbb !important;
	margin-bottom: 30px;

	@media (max-width:767px) {
    margin-bottom: 15px;
  }

	&:hover, &:focus, &:active {
		border-color: #5bc0de;
	}

	.label {
		font-size: 12px;
	}

	.panel-body {
  	position: relative;
  	
		.isometrica-overview-item-heading {
  		.workbook-icon {
  			float: left;
  			margin: 3px 15px 0 3px;
  			height: 60px;
  		}
  		
		  .document-not-approved {
        position: absolute;
        left: 12px;
        top: 12px;
        border-radius: 50%;
        font-size: 14px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0;
        text-align: center;
      }

  		h3 {
  			margin-top: 0;
  			padding: 0;
  			margin-bottom: 3px;
  			line-height: 20px;
  			font-size: 16px;
  		}

			.org-name {
    		margin-bottom: 0;
    		line-height: 20px;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
  		}
		}

		p {
			overflow: hidden;
			margin: 0;
			margin-bottom: 5px;

		}

		.description {
  		margin-bottom: 15px;
  		line-height: 20px;
  		height: 50px;
  		overflow: hidden;
  		clear: both;
  		padding-top: 10px;

  		@media (max-width: 767px) {
    		height: auto;
  		}
		}

	}


	.status {
		margin-bottom: 0;
		border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: 30px;
    clear: both;

    .label {
      display: inline-block;
      padding: .3em .6em;
      position: relative;
      top: -1px;
      left: 3px;
    }
	}

  &.isometrica-overview-item-document {
    .isometrica-overview-item-heading {
      @media (min-width: 768px) {
        height: 65px;
        overflow: hidden;
      }

      .workbook-icon {
        margin-bottom: 15px;
      }
    }
  }

	.progress {
		clear: both;
		margin-bottom: 0;
		//margin: 0;
    border-radius: 0;
    height: 30px;

    .progress-bar {
      line-height: 30px;
      font-size: 14px;
    }
	}

  .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0;
  }

  .panel-footer {
    background: transparent;
    text-align: center;
    line-height: 35px;

    .progress {
      border-radius: 3px;
      margin: 2px 0 3px;
    }
    
    .btn-link {
      text-decoration: none;
      font-weight: 500;
      
      i {
        font-size: 38px;
        line-height: 20px;
        float: left;
      }
    }
  }

	.users {
		list-style: none;
		padding: 0;
		overflow: hidden;
		height: 35px;
		margin: 0;

		li {
			float: left;
			text-align: center;

			@media (max-width: 400px) {
  			&:nth-child(5) {
    			display: none; /* Hide a user to fit mobile browsers */
  			}
			}

			@media (max-width: 767px) {
  			margin-right: 10px;
			}

			@media (min-width: 768px) {
  			//width: 16.666%;
  			margin-right: 15px;
			}

			img {
  			height: 34px;
  			width: 34px;
			}

			.add-user {
  			/*
				display: block;
				width: 34px;
				height: 34px;
				-webkit-border-radius: 50%;
				background: #ddd;
				color: white;
				text-decoration: none;
				-webkit-transition: all 0.5s ease;
				margin: 0 auto;
        */
        text-decoration: none;
        
				i {
					font-size: 38px;
					line-height: 34px;
					display: block;
					text-align: center;
					color: #ddd;
				
  				&:hover,
  				&:active {
  					color: $blue-color;
  				}				
				}
			}
		}
	}

	.stats {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			overflow: hidden;
			padding: 5px 0;
			h6 { float: left; }
			span { float: right; }
			h6, span {
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
	}
}

.ios .isometrica-overview-items {

  hr {
    margin-bottom: 15px;
  }

  .row  {
    margin: 0 -8px;

    > div {
      padding: 0 8px;
      //padding-right: 15px;

      .isometrica-overview-item {
        margin-bottom: 15px;
      }
    }
  }
}

.android .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;
    }
  }
}