/* Navbar */

.isometrica-overview-page {
  .navbar {
    .navbar-nav {
      margin: 0;

      .btn {
        //padding-top: 12px;
        //padding-bottom: 12px;

        i {
          font-size: 24px;
        }

        &[aria-expanded="true"] {
          color: white;
        }
      }
    }
    .navbar-right {
      float: right;
      margin-right: -15px;
    }

    .navbar-collapse {
      &[aria-expanded="true"] {
        display: block !important;
        background: #444;
      }

      .navbar-nav {
        float: none;
        margin: 0 -15px;
        position: static !important;
      }
    }
  }
}

body.desktop.isometrica-overview-page {
  @media (max-width:767px) {
    padding-top: 50px !important;
  }
}

.ios.isometrica-overview-page {
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        margin: 0;
      }
    }
  }
}

/* Scrolling Area */

.ios.isometrica-overview-page {
  overflow-y: auto;
}

.isometrica-overview-page.desktop {
  @media (min-width: 768px) {
    .navbar-brand {
      font-size: 36px;
    }
  }
}

/* DASHBOARD */

.isometrica-overview-page .guidance-bar {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;

  @media (max-width: 767px) {
    padding-bottom: 5px;

    .row {
      //padding-bottom: 5px;
    }

    h4 {
      font-size: 14px;
      line-height: 1.4;
    }
    .btn-group {
      text-align: center;
      float: none !important;
      display: block;

      .btn {
        float: none;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

/* Tabs */

.isometrica-overview-tabs {
  background: #337ab7;

  @media (max-width: 767px) {
    padding-top: 3px;
    .container {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .nav {
    > li {
      > a {
        border-color: transparent !important;
        font-weight: 500;
        color: white;
        background: #539ad7;
        //border-radius: 0;
        transition: all 0.3s ease;
        margin: 0 2px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        i {
          font-size: 24px;
        }

        &:hover, &:focus, &:active {
          background: #5bc0de;
        }
      }

      &.active > a {
        background: #f5f5f5;
        color: #333;
      }
    }
  }

  // Show on Mobile
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
}

.ios .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #efeff4;
    }
  }
}

.android .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #eee;
    }
  }
}

/* Dashboard Items */

.isometrica-overview-items {
  margin-top: 30px;
  padding: 0 0 0 120px;
  position: relative;

  @media (max-width:768px) {
    padding-left: 0;
    margin-top: 20px;
  }

  hr {
    clear: both;
    border-color: #ddd;
    margin: 0 0 20px;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    &.isometrica-org-divider {
      border-width: 3px;
    }
  }

  .isometrica-org-heading {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width:767px) {
      text-align: center;
    }
  }
}

.isometrica-overview-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease;

  @media (max-width:768px) {
    position: static;
    width: auto;
    margin-bottom: 20px;
  }

  i {
    display: block;
    font-size: 48px;

    @media (max-width:768px) {
      display: inline-block;
      font-size: inherit;
    }
  }
}

.isometrica-overview-item {
	cursor: pointer;
	border-color: #bbb;
	margin-bottom: 30px;

	@media (max-width:767px) {
    margin-bottom: 15px;
  }

	&:hover, &:focus, &:active {
		border-color: #5bc0de;
	}

	.panel-body {
		.isometrica-overview-item-heading {
      overflow: hidden;
      height: 75px;

  		.canvas-icon {
  			float: left;
  			margin: 3px 15px 0 3px;
  			height: 60px;
  		}

  		h3 {
  			margin-top: 0;
  			padding: 0;
  			margin-bottom: 5px;
  			line-height: 20px;
  			font-size: 16px;
  		}

			.org-name {
    		margin-bottom: 5px;
    		line-height: 20px;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
  		}
		}

		p {
			overflow: hidden;
			margin: 0;
			margin-bottom: 5px;
		}

		.description {
  		margin-bottom: 15px;
  		line-height: 20px;
  		height: 40px;
  		overflow: hidden;

  		@media (max-width: 767px) {
    		height: auto;
  		}
		}

		.status {
  		margin-bottom: 15px;
  		border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      font-size: 12px;
      line-height: 18px;
      margin-left: -15px;
      margin-right: -15px;
		}
	}

	.progress {
		clear: both;
		margin-bottom: 15px;
		margin-left: -15px;
		margin-right: -15px;
		//margin: 0;
    border-radius: 0;
	}

  .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0;
  }

	.users {
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 0;

		li {
			float: left;
			text-align: center;

			@media (max-width: 400px) {
  			&:nth-child(5) {
    			display: none; /* Hide a user to fit mobile browsers */
  			}
			}

			@media (max-width: 767px) {
  			margin-right: 10px;
			}

			@media (min-width: 768px) {
  			//width: 16.666%;
  			margin-right: 15px;
			}

			img {
  			height: 34px;
  			width: 34px;
			}

			.add-user {
				display: block;
				width: 34px;
				height: 34px;
				-webkit-border-radius: 50%;
				background: #ddd;
				color: white;
				text-decoration: none;
				-webkit-transition: all 0.5s ease;
				margin: 0 auto;

				&:hover,
				&:active {
					background: #428bca;
				}

				i {
					font-size: 20px;
					line-height: 34px;
					display: block;
					text-align: center;
				}
			}
		}
	}

	.stats {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			overflow: hidden;
			padding: 5px 0;
			h6 { float: left; }
			span { float: right; }
			h6, span {
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
	}
}

.ios .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;

      .isometrica-overview-item {
        margin-bottom: 15px;
      }
    }
  }
}

.android .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;
    }
  }
}