/* Navbar */

.isometrica-overview-page {
  .navbar {
    .navbar-brand {
      @media (min-width: 1060px) and (max-width: 1199px) {
        margin-left: -59px;
      }
      @media (min-width: 1260px) {
        margin-left: -59px;
      }

      img {
        display: inline-block;
        position: relative;
        margin-right: 10px;

        @media (min-width: 768px) {
          height: 28px;
          top: -5px;
        }
      }
    }

    .navbar-nav {
      margin: 0;

      .btn {
        i {
          font-size: 24px;
        }

        &[aria-expanded="true"] {
          color: white;
        }
      }
    }

    .navbar-right {
      float: right;
      margin-right: -15px;
    }

    .navbar-collapse {
      &[aria-expanded="true"] {
        display: block !important;
        background: #444;
      }

      .navbar-nav {
        float: none;
        margin: 0 -15px;
        position: static !important;
      }
    }
  }
}


body.desktop.isometrica-overview-page {
  @media (max-width:767px) {
    padding-top: 50px !important;

    .btn-menu {
      display: block !important;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
      padding: 13px 15px;
    }
  }

  .navbar-header {
    position: relative;

    @media (max-width: 767px) {
      display: block;
      height: 50px;
    }


    .navbar-brand {
      @media (max-width: 767px) {
        float: none;
        display: block;
        text-align: center;
      }

      @media (min-width: 768px) {
        font-size: 36px;
      }

      img {
        @media (min-width: 768px) {
          height: 40px;
          top: -4px;
        }
      }
    }

    @media (min-width: 768px) {
      height: 80px;

      .dropdown-toggle i {
        top: -8px;
      }

      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }
  }
}

.ios.isometrica-overview-page {
  .navbar {
    .navbar-brand  img {
      height: 18px;
      top: -2px;
    }

    .navbar-collapse {
      .navbar-nav {
        margin: 0;
      }
    }
  }
}

.android.isometrica-overview-page {
  .navbar {
    .navbar-brand  img {
      height: 21px;
      top: -2px;
    }
  }

  .guidance-bar {
    box-shadow: none;
  }
}


.ios.isometrica-overview-page .navbar .navbar-collapse .navbar-nav:first-child,
.android.isometrica-overview-page .navbar .navbar-collapse .navbar-nav:first-child {
  @media (min-width: 768px) {
    float: left !important;
  }
}




/* Scrolling Area */

.ios.isometrica-overview-page {
  overflow-y: auto;
}



/* DASHBOARD */

.isometrica-overview-page .guidance-bar {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;

  h4 {
    line-height: 28px;
  }

  @media (max-width: 767px) {
    padding-bottom: 5px;

    .row {
      //padding-bottom: 5px;
    }

    h4 {
      font-size: 14px;
    }
    .btn-group {
      text-align: center;
      float: none !important;
      display: block;

      .btn {
        float: none;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

/* Tabs */

.isometrica-overview-tabs {
  background: $blue-color;


  @media (max-width: 767px) {
    padding-top: 3px;
    .container {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .nav {
    > li {
      > a {
        border-color: transparent !important;
        font-weight: 500;
        color: white !important;
        background: #539ad7;
        background: $light-blue-color;
        //border-radius: 0;
        transition: all 0.3s ease;
        margin: 0 2px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        i {
          font-size: 24px;
        }

        &:hover, &:focus, &:active {
          background: #5bc0de;
        }
      }

      &.active > a {
        background: #f5f5f5;
        color: #333 !important;
      }
    }
  }

  // Show on Mobile
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
}

.ios .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #efeff4;
    }
  }
}

.android .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #eee;
    }
  }
}

/* Dashboard Items */

.isometrica-overview-items {
  margin-top: 30px;
  padding: 0;
  position: relative;

  &.workspace {
    padding-left: 120px; // Space for Add button
  }

  @media (max-width:767px) {
    padding-left: 0;
    margin-top: 12px;
  }

  hr {
    clear: both;
    border-color: #ddd;
    margin: 0 0 20px;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    &.isometrica-org-divider {
      border-width: 3px;
    }
  }

  h2 {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width:767px) {
      text-align: center;
    }
  }

  .btn-add-org {
    margin-bottom: 20px;
  }
}


/* Services */

.isometrica-overview-items.services {
  .panel-heading {
    background: transparent;

    .panel-title {
      line-height: 1.3;
      overflow: hidden;
    }

    i {
      margin-top: 12px;
      margin-right: 12px;
    }
  }
}


/* Workspace */

.isometrica-overview-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 20px;


  @media (max-width:767px) {
    position: static;
    width: auto;
    margin-bottom: 10px !important;

  }

  @media (min-width: 768px) {
    white-space: normal;
  }

  i {
    @media (max-width:767px) {
      //display: inline-block;
      //font-size: inherit;

    }
    @media (min-width: 768px) {
      margin: 0 !important;
      font-size: 48px;
      line-height: 1;
      vertical-align: 0;
      display: block;
    }

  }
}

.isometrica-overview-item {
	cursor: pointer;
	border: 1px solid #bbb !important;
	margin-bottom: 30px;

	@media (max-width:767px) {
    margin-bottom: 15px;
  }

	&:hover, &:focus, &:active {
		border-color: #5bc0de;
	}

	.label {
		font-size: 12px;
	}

	.panel-body {
		.isometrica-overview-item-heading {
  		.workbook-icon {
  			float: left;
  			margin: 3px 15px 0 3px;
  			height: 60px;
  		}

  		h3 {
  			margin-top: 0;
  			padding: 0;
  			margin-bottom: 5px;
  			line-height: 20px;
  			font-size: 16px;
  		}

			.org-name {
    		margin-bottom: 0;
    		line-height: 20px;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
  		}
		}

		p {
			overflow: hidden;
			margin: 0;
			margin-bottom: 5px;

		}

		.description {
  		margin-bottom: 15px;
  		line-height: 20px;
  		height: 50px;
  		overflow: hidden;
  		clear: both;
  		padding-top: 10px;

  		@media (max-width: 767px) {
    		height: auto;
  		}
		}

	}


	.status {
		margin-bottom: 0;
		border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: 30px;
    clear: both;

    .label {
      display: inline-block;
      padding: .3em .6em;
      position: relative;
      top: -1px;
      left: 3px;
    }
	}

  &.isometrica-overview-item-document {
    .isometrica-overview-item-heading {
      @media (min-width: 768px) {
        height: 65px;
        overflow: hidden;
      }

      .workbook-icon {
        margin-bottom: 15px;
      }
    }
  }

	.progress {
		clear: both;
		margin-bottom: 0;
		//margin: 0;
    border-radius: 0;
    height: 30px;

    .progress-bar {
      line-height: 30px;
      font-size: 14px;
    }
	}

  .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0;
  }

  .panel-footer {
    background: transparent;
    text-align: center;
    line-height: 35px;
  }

	.users {
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 0;

		li {
			float: left;
			text-align: center;

			@media (max-width: 400px) {
  			&:nth-child(5) {
    			display: none; /* Hide a user to fit mobile browsers */
  			}
			}

			@media (max-width: 767px) {
  			margin-right: 10px;
			}

			@media (min-width: 768px) {
  			//width: 16.666%;
  			margin-right: 15px;
			}

			img {
  			height: 34px;
  			width: 34px;
			}

			.add-user {
				display: block;
				width: 34px;
				height: 34px;
				-webkit-border-radius: 50%;
				background: #ddd;
				color: white;
				text-decoration: none;
				-webkit-transition: all 0.5s ease;
				margin: 0 auto;

				&:hover,
				&:active {
					background: #428bca;
				}

				i {
					font-size: 20px;
					line-height: 34px;
					display: block;
					text-align: center;
				}
			}
		}
	}

	.stats {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			overflow: hidden;
			padding: 5px 0;
			h6 { float: left; }
			span { float: right; }
			h6, span {
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
	}
}

.ios .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;

      .isometrica-overview-item {
        margin-bottom: 15px;
      }
    }
  }
}

.android .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;
    }
  }
}