




/* WIKI MODULE */

.isometrica-wiki {

  .bootcards-list .list-group-item-heading {
    line-height: 20px;
  }

  .isometrica-wiki-panel {
    overflow: hidden;

    .isometrica-wiki-panel-text-read {
      font-size: 15px;
      line-height: 22px;
      padding: 25px;
      min-height: 500px;
    }
  }

  .isometrica-wiki-panel-info {
    border-bottom: 1px solid #ddd;

    button {
      .more-label { display: inline; }
      .less-label { display: none; }

      &[aria-expanded="true"] {
        .more-label { display: none; }
        .less-label { display: inline; }
      }
    }

    .isometrica-multi-input {
      @include flexbox();

      > :first-child {
        width: 70px;
      }

      > :last-child {
        width: 100px;
      }

      input {
        margin-right: -1px;
        &:not(:first-child) {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
        &:not(:nth-child(2)) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }

      button {
        margin-left: 30px;
      }
    }
  }

  .isometrica-wiki-panel-files {
    border-top: 1px solid #ddd;
    background: white;

    label {
      float: left;
      margin-right: 15px;
      margin-top: 6px;
    }

    div {
      //overflow: hidden;
    }

    .isometrica-wiki-panel-files-list {
      overflow: hidden;
    }

    .btn {
      margin: 0 0 5px;
    }
  }

  .isometrica-wiki-panel-metadata {
    padding-top: 0;
    padding-bottom: 0;
    //margin-bottom: 0;
    //background: white;

    .bootcards-panel-collapsing {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    strong {
      display: block;
    }

    .label {
      font-size: 12px;
    }

    hr {
      border-color: #ddd;
      margin: 10px 0;
    }

    .collapse, .collapsing {
      .row { margin: 0; }
      .row > div { padding: 0; }
    }

    .modal-body {
      border-bottom: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .isometrica-wiki-issue-history {
    overflow: hidden;
    > .panel-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    .bootcards-panel-collapsing {
      margin-top: 0;
      margin-bottom: 0;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      .panel-body {
        padding-left: 50px;
      }
    }
  }

  .isometrica-wiki-comments {
    p {
      margin: 0 !important;
      line-height: 1.5;
    }
    .avatar {
      margin-top: 5px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  .bootcards-cards,
  .modal {
    .list-group-item {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

.isometrica-wiki-edit-modal {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 960px;
    }
  }

  .isometrica-wiki-panel-controls {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .btn {
      font-size: 14px;
      line-height: 20px;
      border-color: transparent;
      background: transparent;
      box-shadow: none;
    }
  }

  .isometrica-wiki-panel-text-edit {
    padding: 0;
    position: relative;
    font-size: 0;

    iframe {
      min-height: 600px;
    }
  }

  .isometrica-wiki-panel-files {
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
    text-align: center;
  }
}


/* iOS
.ios.isometrica-wiki {
  .isometrica-wiki-panel {
    .panel-heading {
      min-height: 44px;

      .pull-left .btn {
        margin-left: 0;
        margin-right: 20px;
      }

      .btn {
        background: transparent !important;
        box-shadow: none;
        border-color: transparent;
        padding: 8px 0;
        opacity: 1;
        color: #007aff;
      }
    }

    .bootcards-panel-tips {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .panel-footer {
    small {
      @media (max-width:767px) {
        float: none !important;
      }
    }
  }

}*/

/* Android
.android.isometrica-wiki {

  .panel-heading {
    min-height: 44px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;

    .pull-left {
      position: absolute;
      left: 0;
      top: 0;
    }

    .pull-right {
      position: absolute;
      right: 0;
      top: 0;
    }

    .btn {
      background: transparent !important;
      box-shadow: none;
      border-color: transparent;
      opacity: 1;
      color: #999;
      margin: 0;
      padding: 10px 15px;
    }
  }

  .bootcards-panel-tips {
    padding: 10px 15px;
  }

  .isometrica-wiki-panel-metadata {
    //padding-top: 5px;
    //padding-bottom: 5px;
    //border-top: 1px solid #ddd;

    .form-group {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .btn {
        line-height: 28px;
      }
    }
  }

}*/