/* WIKI MODULE */

.bootcards-wiki {

  .bootcards-list .list-group-item-heading {
    line-height: 20px;
  }

  .bootcards-wiki-panel {
    overflow: hidden;

    .bootcards-wiki-panel-text-read {
      font-size: 15px;
      line-height: 22px;
      padding: 25px;
      min-height: 500px;
    }
  }

  .bootcards-wiki-panel-files {
    //border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background: white;

    label {
      float: left;
      margin-right: 15px;
      margin-top: 6px;
    }

    div {
      //overflow: hidden;
    }

    .btn {
      margin: 0 0 5px;
    }
  }

  .bootcards-cards {
    .bootcards-list-subheading {
      border-bottom: 0 !important;
    }
  }

  .bootcards-wiki-panel-metadata {
    padding-top: 0;
    padding-bottom: 0;
    //margin-bottom: 0;
    //background: white;

    .bootcards-panel-collapsing {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    strong {
      display: block;
    }

    .label {
      font-size: 12px;
    }

    hr {
      border-color: #ddd;
      margin: 10px 0;
    }

    .collapse, .collapsing {
      .row { margin: 0; }
      .row > div { padding: 0; }
    }

    .modal-body {
      border-bottom: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .bootcards-wiki-issue-history {
    overflow: hidden;
    > .panel-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    .bootcards-panel-collapsing {
      margin-top: 0;
      margin-bottom: 0;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      .panel-body {
        padding-left: 50px;
      }
    }
  }

  .bootcards-wiki-comments {
    p {
      margin: 0 !important;
    }
    .avatar {
      margin-top: 5px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  .bootcards-cards,
  .modal {
    .list-group-item {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

.isometrica-wiki-edit-modal {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 960px;
    }
  }


  .bootcards-wiki-panel-controls {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .btn {
      font-size: 14px;
      line-height: 20px;
      border-color: transparent;
      background: transparent;
      box-shadow: none;
    }
  }

  .bootcards-wiki-panel-text-edit {
    padding: 0;
    position: relative;
    font-size: 0;

    iframe {
      min-height: 600px;
    }
  }

  .bootcards-wiki-panel-files {
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
    text-align: center;
  }
}


/* Desktop */
.desktop.bootcards-wiki {
  overflow: hidden;

  .isometrica-container-listdetail { // Separately scrolling columns
    position: fixed;
    top: 102px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;


    > .row,
    > .row > div {
      height: 100%;
    }

    > .row > div {
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 30px;
    }
  }

}

/* iOS */
.ios.bootcards-wiki {
  .bootcards-wiki-panel {
    .panel-heading {
      min-height: 44px;

      .pull-left .btn {
        margin-left: 0;
        margin-right: 20px;
      }

      .btn {
        background: transparent !important;
        box-shadow: none;
        border-color: transparent;
        padding: 8px 0;
        opacity: 1;
        color: #007aff;
      }
    }

    .bootcards-wiki-panel-metadata {
      //border-top: 1px solid #ddd;
      //margin-bottom: 0;
    }

    .bootcards-wiki-panel-text-edit {
      //border-top: 1px solid #ddd;
    }

    .bootcards-panel-tips {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .control-label {
    padding-left: 15px !important;
  }

  .panel-footer {
    small {
      @media (max-width:767px) {
        float: none !important;
      }
    }
  }

}

/* Android */
.android.bootcards-wiki {

  .panel-heading {
    min-height: 44px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;

    .pull-left {
      position: absolute;
      left: 0;
      top: 0;
    }

    .pull-right {
      position: absolute;
      right: 0;
      top: 0;
    }

    .btn {
      background: transparent !important;
      box-shadow: none;
      border-color: transparent;
      opacity: 1;
      color: #999;
      margin: 0;
      padding: 10px 15px;
    }
  }

  .bootcards-panel-tips {
    padding: 10px 15px;
  }

  .bootcards-wiki-panel-metadata {
    //padding-top: 5px;
    //padding-bottom: 5px;
    //border-top: 1px solid #ddd;

    .form-group {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .btn {
        line-height: 28px;
      }
    }
  }

}