.isometrica-work-inbox {
  .bootcards-list {
    .list-group-item {
      padding-right: 40px;

      .list-group-item-heading {
        position: relative;
      }

      .work-icon {
        position: relative;
      }

      .label {
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -5px;
        z-index: 9;
        width: 21px;
        height: 21px;
        padding: 0;

        i {
          color: white;
          opacity: 1;
          font-size: 16px;
          width: auto;
          margin: 0;
          line-height: 21px;
        }
      }
    }
  }

  .label {
    border-radius: 2px;
    display: inline-block;
    padding: .25em .5em;
  }

  .bootcards-cards {
    .panel-title {
      i.pull-left {
        font-size: 32px;
        line-height: 34px;
        margin-right: 15px;
        margin-top: -8px;
        margin-left: 4px;
        opacity: 0.3;
      }
    }

    .label {
      margin-bottom: -1px;
    }

    .list-group-item-heading {
      &.pull-left, &.pull-right {
        margin-bottom: 0;
        line-height: 34px;

      }
    }

    .list-group {
      .row {
        margin: 0;

        > div {
          padding: 0;
        }

        .list-group-item {
          border-width: 1px 0;
        }
      }
    }
  }

  .modal {
    .isometrica-btn-toggle {
      overflow: hidden;
      white-space: nowrap;

      .btn {
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 20px;
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }
}

.android.isometrica-work-inbox {

  .bootcards-cards {
    .row {
      margin-top: 1px;
      margin-bottom: -1px;
    }
    .row > div > .list-group-item:last-child {
      border-bottom: 1px solid #ddd !important;
    }
  }

  .modal {
    .btn-group {
      margin-bottom: 5px;

      .btn {
        box-shadow: none;
      }
    }
  }

}

.ios.isometrica-work-inbox {

  .bootcards-cards {
    .row {
      margin-top: 1px;
      margin-bottom: -1px;
    }
    .row > div > .list-group-item:last-child {
      border-bottom: 1px solid #ddd !important;
    }
  }

  .modal {
    .btn-group {
      //margin-bottom: 5px;
      margin-right: 10px;

      .btn {
        //box-shadow: none;
        //padding-left: 10px;
        //padding-right: 10px;
        //background: #007aff;
        //color: white;
      }
    }
  }

}