.isometrica-work-inbox {
  .bootcards-list {
    .list-group-item {
      padding-right: 40px;

      .list-group-item-heading {
        position: relative;
      }

      .work-icon {
        position: relative;
      }
    }
  }

  .bootcards-cards {
    .panel-title {
      i.pull-left { // icon in Card panel title
        font-size: 32px;
        line-height: 34px;
        margin-right: 15px;
        margin-top: -8px;
        margin-left: 4px;
        opacity: 0.3;
      }
    }

    .label {
      margin-bottom: -1px;
    }

    .list-group-item-heading {
      &.pull-left, &.pull-right {
        margin-bottom: 0;
        line-height: 34px;

      }
    }


  }

  .modal {
    .isometrica-btn-toggle { // Toggle
      overflow: hidden;
      white-space: nowrap;

      .btn {
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 20px;
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }
}

.android.isometrica-work-inbox {



  .modal {
    .btn-group { // Inline form buttons
      margin-bottom: 5px;

      .btn {
        box-shadow: none;
      }
    }
  }

}

.ios.isometrica-work-inbox {



  .modal {
    .btn-group { // Inline form buttons
      margin-right: 10px;
    }
  }

}