.isometrica-work-inbox {
  .bootcards-list {
    .list-group-item {
      padding-right: 40px;

      .list-group-item-heading {
        position: relative;
      }

      .work-icon {
        position: relative;
      }
    }
  }

  .bootcards-cards {

    .label {
      margin-bottom: -1px;
    }

    .list-group-item-heading {
      &.pull-left, &.pull-right {
        margin-bottom: 0;
        line-height: 34px;

      }
    }


  }
}

.android.isometrica-work-inbox {



  .modal {
    .btn-group { // Inline form buttons
      margin-bottom: 5px;

      .btn {
        box-shadow: none;
      }
    }
  }

}

.ios.isometrica-work-inbox {



  .modal {
    .btn-group { // Inline form buttons
      margin-right: 10px;
    }
  }

}