body {
  background: #444; }

.homepage-header {
  padding-top: 60px;
  background: #d9edf1;
  background-image: -moz-linear-gradient(90deg, #cce6ed 0%, #e6f3f6 100%);
  background-image: -webkit-linear-gradient(90deg, #cce6ed 0%, #e6f3f6 100%);
  background-image: -ms-linear-gradient(90deg, #cce6ed 0%, #e6f3f6 100%); }
  @media (min-width: 768px) {
    .homepage-header {
      text-align: center; } }
  .homepage-header .logo {
    width: 300px;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .homepage-header .logo {
        width: 200px;
        margin-bottom: 20px; } }
  .homepage-header h1 {
    font-size: 24px;
    line-height: 1.4;
    color: #81abb2;
    margin: 0 auto;
    max-width: 640px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .homepage-header h1 {
        font-size: 18px; } }
  .homepage-header .availability {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px; }
    .homepage-header .availability span {
      position: absolute;
      right: -80px;
      top: 10px;
      background: #d85250;
      transform: rotate(45deg);
      line-height: 20px;
      width: 240px;
      padding: 10px 0;
      text-align: center;
      color: white;
      font-size: 14px; }
      .homepage-header .availability span strong {
        display: block;
        font-weight: bold; }
  .homepage-header .sketch {
    margin: 60px auto 0; }
    @media (max-width: 767px) {
      .homepage-header .sketch {
        margin-top: 30px; } }

.homepage-key-facts {
  background: white;
  padding-top: 40px; }
  @media (min-width: 768px) {
    .homepage-key-facts {
      text-align: center; } }
  .homepage-key-facts .fact {
    margin-bottom: 30px;
    overflow: hidden; }
  .homepage-key-facts .circle {
    background: #006e9e;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 28px; }
    @media (max-width: 767px) {
      .homepage-key-facts .circle {
        float: left;
        margin: 0 15px 0 0; } }
    .homepage-key-facts .circle i {
      line-height: 50px;
      color: #6fd5f1;
      text-align: center;
      display: block; }
  .homepage-key-facts h4 {
    color: #7da1ac;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
    overflow: hidden; }
    @media (max-width: 767px) {
      .homepage-key-facts h4 {
        font-size: 14px; } }
    .homepage-key-facts h4 strong {
      color: #444;
      display: block;
      font-size: 32px;
      line-height: 1;
      margin-bottom: 4px; }
      @media (max-width: 767px) {
        .homepage-key-facts h4 strong {
          font-size: 24px; } }

.homepage-contact {
  padding: 60px 0;
  color: white; }
  @media (min-width: 768px) {
    .homepage-contact {
      text-align: center; } }
  .homepage-contact h4 {
    font-size: 32px;
    font-weight: bold;
    color: #bbb;
    margin: 0 0 30px; }
    @media (max-width: 767px) {
      .homepage-contact h4 {
        font-size: 24px; } }
  @media (min-width: 768px) {
    .homepage-contact form {
      max-width: 400px;
      margin: 0 auto; } }
  .homepage-contact form .form-control {
    border-color: #444; }
  .homepage-contact form .btn {
    border-color: #444;
    transition: all 0.3s ease; }
  .homepage-contact form .checkbox {
    margin-top: 30px;
    font-weight: bold; }
