$red-color: #d9534f;
$amber-color: #f0ad4e;
$green-color: #5cb85c;
$sticky-color-default:#dcecf8;
$link-color: #337ab7;

html,
body {
	height: 100%;
}

body.desktop {
  padding-top: 50px !important;

  &.has-bootcards-navbar-double {
    padding-top: 80px !important;
  }
}

.desktop .bootcards-hidden-desktop {
  display: none;
}

.modal-backdrop.in {
  position: fixed;
}


/* FORMS */

.btn {
  i.no-margin {
    margin: 0;
  }
}

input.form-value {
  border-color: transparent !important;
  background: transparent !important;
  color: #333 !important;
  box-shadow: none !important;
  padding-left: 0;
}

.container {
  @media (min-width:768px) and (max-width: 991px) {
    width: auto;
  }
}

.clear-field {
	position: absolute;
	right: 12px;
	top: 0;
	font-size: 21px !important;
	line-height: 22px;
	color: #bbb !important;
	transition: all 0.3s ease;
	border: 0;

	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
	}
}

.ios .clear-field {
  //right: 4px;
}

.android .clear-field {
	right: 3px;
	top: 3px;
}

.help-icon {
  margin-right: 5px;
  color: #bbb;

  i {
    font-size: 21px;
  }

  &:hover, &:focus, &:active { color: #23527c; }
}

.ios {

  .form-horizontal .form-group:last-child {
    margin-bottom: 0;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;

  }

  .form-horizontal .form-group > :first-child {
    padding-left: 15px !important;
  }

  .form-horizontal .form-group > :last-child {
    padding-right: 15px !important;
  }

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .btn {
    margin: 1px 0;
  }
}

.android {

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;
  }

  .form-horizontal .form-group .btn {
    margin: 2px 0;
  }
}


/* BUTTONS */

.ios {
  .btn {
    transition: all 0.3s ease;
    padding-left: 12px;
    padding-right: 12px;

    &:hover, &:focus, &:active, &.active {
      outline: none;
      opacity: 1 !important;
    }
  }

  .form-horizontal .form-group .btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn-primary {
    background: #007aff;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #007aff;
      color: white;
    }
  }

  .btn-info {
    background: #33b5e5;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      color: white;
    }
  }

  .btn-default {
    background: white;
    border-color: #ccc;
    color: #444;

    &:hover, &:focus, &:active, &.active {
      background: white;
      border: 1px solid #ccc;
      color: #444;
    }
  }

  .btn-warning {
    background: #f0ad4e;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      color: white;
    }
  }

  .btn-danger {
    background: #d9534f;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      color: #007aff;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.android {
  .btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .btn-primary {
    background: #337ab7;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #337ab7;
      color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-info {
    background: #33b5e5;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-default {
    background: #dfdfdf;
    font-size: 14px;
    color: #444;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #cecece;
      color: #444;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-warning {
    background: #f0ad4e;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      color: white;
    }
  }

  .btn-danger {
    background: #d9534f;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      color: #23527c;
      box-shadow: none;
      font-size: 14px;
    }
  }
}


/* FORMS */

.android {
  .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-horizontal .form-group .control-label:first-child {
    padding-left: 15px;
  }

  .form-horizontal .form-group div:last-child {
    padding-right: 15px;
  }
}


/* NAV */

.desktop .isometrica-navbar-centered {
  .navbar-brand {
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .btn {
    padding-top: 12px;
    padding-bottom: 12px;

    i {
      font-size: 24px;
    }
  }

  .navbar-nav {
  	@media (max-width: 767px) {
  		//margin: 4px 0;
  		margin: 0;
  	}



  	&.navbar-left {
  		//float: left;
  		//margin-left: -15px;
  		position: absolute;
  		left: 0;
  		top: 1px;
  		z-index: 2;
  		margin: 0;
  	}

  	&.navbar-right {
  		//float: right;
  		//margin-right: -15px;
  		position: absolute;
  		right: 0;
  		top: 1px;
  		z-index: 2;
  		margin: 0;
  	}
  }
}



.desktop {
  .navbar-inverse {
    background: #444;

    .navbar-brand {
      font-weight: 500;
    }

    .navbar-brand,
    .navbar-text,
    .navbar-nav>li>a {
      color: #bbb;
    }

    span.navbar-brand,
    a.navbar-brand:hover,
    .navbar-nav>li>a:hover {
      color: white;
    }
  }
}

.ios .navbar-collapse,
.android .navbar-collapse {
  display: none !important;
}

.android {
  .navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-color: transparent;

    .navbar-brand {
      font-size: 20px;
      padding-left: 15px !important;
      color: white !important;
      margin-left: 0 !important;
    }
    .btn {
      line-height: 50px;
    }
  }
}

.ios .bootcards-navbar-double {
  .container > .navbar-right {
    position: absolute;
    left: 0;
    right: auto;
  }

  .navbar-header {
    overflow: hidden;
  }

  .navbar-collapse {
    border:0;
    background: white !important;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    max-height: none;

    .navbar-nav {
      margin: 0 !important;
    }

    .navbar-nav>li>a {
      color: #333;
      font-size: 15px;

      .label {
        position: relative;
        top: -2px;
        left: 3px;
      }
    }
  }
}

.android .bootcards-navbar-double {
  .container > .navbar-right {
    float: left !important;

    .btn {
      height: 50px;
    }
  }

  .navbar-brand {
    margin: 0;
  }

  .navbar-header {
    overflow: hidden;
  }

  .navbar-collapse {
    border:0;
    background: white !important;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    max-height: none;

    .navbar-nav {
      margin: 0 !important;
    }

    .navbar-nav>li>a {
      color: #333;
      font-size: 16px;
      padding: 15px;

      .label {
        position: relative;
        top: -3px;
        left: 3px;
      }
    }
  }
}


/* NAVBAR FILTER DROPDOWN */

.navbar-header {
  .navbar-brand.dropdown-toggle {
    cursor: pointer;

    i {
      //font-size: 12px;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }

  .dropdown-menu {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;

    a {
      padding: 7px 15px;
    }

    .active a {
      background: #eee;
      color: #333;
    }
  }
}

.ios .navbar-header {
  .dropdown-menu {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;

    a {
      padding: 12px 20px;
      font-size: 16px;
    }

    .active a {
      background: #007aff;
      color: white;
    }
  }
}

.android .navbar-header {
  .dropdown-menu {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    text-align: left;

    a {
      padding: 15px 20px;
      font-size: 16px;
    }

    .active a {
      background: #33b5e5;
      color: white;
    }
  }
}


/* COMMON LIST-DETAIL VIEWS */

.isometrica-container-listdetail {
  padding-top: 80px;

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;

      .btn i {
        font-size: 21px;
      }
    }
  }

  .list-group-item {
    i.pull-left {
      font-size: 32px;
      position: relative;
      top: 4px;
    }
    .list-group-item-content {
      overflow: hidden;
    }
  }

  .bootcards-cards {
    .list-group-item {
      i {
        width: auto;
        opacity: 1;
        margin-right: 5px;
      }
    }
  }

}

.ios {
  .isometrica-container-listdetail {

    .guidance-bar {
      .btn {
        line-height: 28px;
        padding-right: 15px;
      }
    }

    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;

    @media (max-width: 767px) {
      top: 44px;
    }
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      //padding-left: 0;
      //padding-right: 0;

      padding: 0;
    }
  }
}

.android {
  .isometrica-container-listdetail {

    .guidance-bar {
      .btn {
        line-height: 28px;
      }
    }

    padding-top: 0 !important;
    position: fixed;
    top: 102px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;

    @media (max-width: 767px) {
      top: 50px;
    }
  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;


      > .panel {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}


/* MOBILE-ONLY LIST VIEWS */

.isometrica-mobile-list-view-container {
  padding-top: 15px;

  .bootcards-list {
    height: auto !important;
  }

  .list-group-item {
    .label {
      display: inline-block;
      padding: .3em .6em .3em;
    }
  }

}

.ios .isometrica-mobile-list-view-container {
  padding: 0;
}



/* GUIDANCE BAR */

.guidance-bar {
  //background: rgba(0,0,0,0.75) !important;
  background: #337ab7;
  border: 0;
  height: auto;
  margin: 0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0;
  padding: 15px 0;

  .row {
    i.fa-long-arrow-right {
      position: absolute;
      right: -8px;
      top: 0;
      font-size: 21px;
      line-height: 21px;
      color: white;
      //opacity: 0.5;
    }
  }

  h4 {
    color: white;
    margin: 0;
    font-weight: 300;
    line-height: 1.3;
    font-size: 17px;
    //padding: 0 10px;

    .badge {
      position: relative;
      top: -1px;
      margin-right: 3px;
      background: #5bc0de;
    }
  }

  .btn-group {
    .btn {
      color: white;
      opacity: 0.7;
      text-decoration: none;
      transition: all 0.3s ease;
      font-size: 17px;

      &:hover, &:active {
        opacity: 1;
      }
    }
  }
}

.ios .guidance-bar {
  top: 44px;
}

.android .guidance-bar {
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}



/* MODALS */

.modal-footer small, .panel-footer small {
  text-align: inherit !important;
}

.desktop .modal-dialog {
  .modal-header {
    border-color: #ddd;
  }
}

.ios .modal-dialog {

  .modal-content {
    z-index: 1;
  }

	.modal-header {
		padding: 0;

    .pull-left {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

		.btn {
			padding: 0 15px;
			line-height: 44px;
			i {
				vertical-align: 0;
			}
			span {
				font-size: 14px;
			}
		}

		&.subheader {
  		padding: 10px 15px;
  		height: auto !important;
  		font-size: 12px;
  		line-height: 20px;
		}
	}

  .modal-body {
    //z-index: -1;
  }
}

.android .table-view-modal .modal-dialog {
	margin: 0;
}

.android .modal-dialog {
	.modal-header {
		padding: 0;
    //background: #33b5e5;
    //background: #444;
    border-color: transparent;
    background: #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    .modal-title {
      font-size: 20px;
      //color: white;
    }

    .pull-left {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

		.btn {
			padding: 0 15px;
			line-height: 50px;
			margin-top: 0;
			color: #33b5e5;
			//font-size: 14px;

			i {
				vertical-align: 0;
			}
			span {
				font-size: 14px;
			}
		}

		&.subheader {
  		padding: 10px 15px;
  		height: auto !important;
  		font-size: 13px;
  		line-height: 20px;
  		background: #f5f5f5;
  		box-shadow: none;
		}

	}
}

.desktop .modal-title {
	line-height: 34px;
}



/* ACCORDION */

.bootcards-accordion {
  .bootcards-list-subheading {
    background-color: #f5f5f5 !important;
    padding-left: 48px;
    font-size: 16px !important;

    &:before {
      //font-size: 24px !important;
      //width: 20px !important;
      color: #337ab7 !important;
      transition: all 0.3s ease;
    }

    .list-group-item-heading {
      font-size: 16px;
      font-weight: 500;
    }

    .list-group-item-text {
      font-weight: normal;
    }
  }
}

.bootcards-panel-collapsing {
	margin-bottom: 15px;
	border-color: #bbb;

	.panel-heading {
  	border: 0;
  	//padding: 10px 15px 0;
  	padding-left: 50px;
  	cursor: pointer;
  	position: relative;
  	transition: all 0.3s ease;

  	.bootcards-panel-collapsing-indicator {
    	line-height: 20px;
    	font-size: 24px;
    	width: 24px;
    	text-align: center;
    	margin-top: 7px;
    	color: #337ab7;
    	position: absolute;
    	left: 15px;
    	top: 50%;
    	margin-top: -12px;
    	transition: all 0.3s ease;
  	}

    &:hover, &:focus, &:active {
    	background: #f5f5f5;

    	.bootcards-panel-collapsing-indicator {
    	  color: #23527c;
      }
  	}

  	&.collapsed {
    	border-radius: 4px;

    	.bootcards-panel-collapsing-indicator {
      	-webkit-transform: rotate(-90deg);
    	}
  	}
	}

	.panel-body {
  	border-top: 1px solid #ddd;
	}
}

.ios .bootcards-panel-collapsing {
  .panel-heading {
  	.bootcards-panel-collapsing-indicator {
    	@media (max-width:767px) {
      	left: 8px;
      	font-size: 18px;
      	margin-top: -10px;
    	}
  	}
  }
}


.android {
  .panel-heading {
    .btn {
      color: #33b5e5 !important;
    }

    .panel-title {
      color: #333;
      padding: 8px 0;
    }
  }
}


@import "_workbook.scss";
@import "_overview.scss";
@import "_org-setup.scss";
@import "_wiki.scss";
@import "_address-book.scss";
@import "_users.scss";
@import "_worksheet.scss";
@import "_dashboard.scss";
@import "_communications.scss";
@import "_meetings.scss";
@import "_work-inbox.scss";