$red-color: #d9534f;
$amber-color: #f0ad4e;
$green-color: #5cb85c;
$sticky-color-default:#dcecf8;
$link-color: #337ab7;

html,
body {
	height: 100%;
}

body.desktop {
  padding-top: 50px !important;

  &.has-bootcards-navbar-double {
    padding-top: 80px !important;
  }
}

.desktop .bootcards-hidden-desktop {
  display: none;
}

.modal-backdrop.in {
  position: fixed;
}

.label {
  padding: .25em .6em;
}

.container {
  @media (min-width:768px) and (max-width: 991px) {
    width: auto;
  }
}

/* COLORS */

.text-danger {
  color: #d9534f;
}

.text-warning {
  color: #f0ad4e;
}

.text-success {
  color: #5cb85c;
}


/* FORMS */

.desktop .list-group label {
  font-weight: bold;
}

input.form-value {
  border-color: transparent !important;
  background: transparent !important;
  color: #333 !important;
  box-shadow: none !important;
  padding-left: 0;
}

.isometrica-btn-toggle { // Toggle
  //overflow: hidden;
  //white-space: nowrap;

  .btn {
    @media (max-width: 767px) {
      font-size: 12px !important;
      line-height: 20px;
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

.clear-field {
	position: absolute;
	right: 12px;
	top: 0;
	font-size: 21px !important;
	line-height: 22px;
	color: #bbb !important;
	transition: all 0.3s ease;
	border: 0;

	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
	}
}

.ios .clear-field {
  //right: 4px;
}

.android .clear-field {
	right: 3px;
	top: 3px;
}

.desktop .clear-field {
  display: none;
}

.help-icon {
  margin-right: 5px;
  color: #bbb;

  i {
    font-size: 21px;
  }

  &:hover, &:focus, &:active { color: #23527c; }
}

.form-horizontal .form-group .btn {
  margin-bottom: 4px;
}

.isometrica-rich-text-control {
  padding: 0;

  .isometrica-rich-text-controls {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    position: relative;

    .btn {
      border-color: transparent;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
    }

    .btn-expand {
      position: absolute;
      right: 10px;
      top: 4px;
    }
  }

  .isometrica-rich-text-input {
    height: 300px;
  }
}

.ios {

  .form-horizontal .form-group:last-child {
    margin-bottom: 0;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;

  }

  .form-horizontal .form-group > :first-child {
    padding-left: 15px !important;
  }

  .form-horizontal .form-group > :last-child {
    padding-right: 15px !important;
  }

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .btn {
    margin: 1px 0;
  }
}

.android {

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;
  }

  .form-horizontal .form-group .btn {
    margin: 2px 0;
  }
}


/* BUTTONS */

.btn {
  transition: all 0.3s ease;

  i.no-margin {
    margin: 0;
  }

  i.margin-left {
    margin: 0 0 0 5px;
  }
}

.btn-default {
  background: white;
  border-color: #bbb;

  &:hover, &:focus, &:active, &.active {
    background: #e6e6e6;
    border-color: #bbb;
  }
}

.btn-progress {
  opacity: 0.5;
  position: relative;
  overflow: hidden;

  .progress-indicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #337ab7;
    opacity: 0.3;
  }
}

.ios .btn-progress {
  opacity: 0.5 !important;
}

.ios {
  .btn {
    transition: all 0.3s ease;
    padding-left: 12px;
    padding-right: 12px;

    &:hover, &:focus, &:active, &.active {
      outline: none;
      opacity: 1 !important;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .form-horizontal .form-group .btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn-primary {
    background: #007aff;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #007aff;
      color: white;
    }
  }

  .btn-info {
    background: #33b5e5;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      color: white;
    }
  }

  .btn-default {
    background: white;
    border-color: #bbb;
    color: #444;

    &:hover, &:focus, &:active, &.active {
      background: #e6e6e6;
      border: 1px solid #bbb;
      color: #444;
    }
  }

  .btn-warning {
    background: #f0ad4e;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      color: white;
    }
  }

  .btn-danger {
    background: #d9534f;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      color: white;
    }
  }

  .btn-success {
    background: #4cae4c;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #4cae4c;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      color: #007aff;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.android {
  .btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .btn-primary {
    background: #337ab7;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #337ab7;
      color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-info {
    background: #33b5e5;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-default {
    background: #dfdfdf;
    font-size: 14px;
    color: #444;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #cecece;
      color: #444;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
      outline: none;
    }
  }

  .btn-warning {
    background: #f0ad4e;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      color: white;
    }
  }

  .btn-danger {
    background: #d9534f;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      color: white;
    }
  }

  .btn-success {
    background: #4cae4c;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    &:hover, &:focus, &:active, &.active {
      background: #4cae4c;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      color: #23527c;
      box-shadow: none;
      font-size: 14px;
    }
  }
}




/* FORMS */

.android {
  .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-horizontal .form-group .control-label:first-child {
    padding-left: 15px;
  }

  .form-horizontal .form-group div:last-child {
    padding-right: 15px;
  }
}


/* NAV */

.desktop .isometrica-navbar-centered {
  .navbar-brand {
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .btn {
    padding-top: 12px;
    padding-bottom: 12px;

    i {
      font-size: 24px;
    }
  }

  .navbar-nav {
  	@media (max-width: 767px) {
  		//margin: 4px 0;
  		margin: 0;
  	}



  	&.navbar-left {
  		//float: left;
  		//margin-left: -15px;
  		position: absolute;
  		left: 0;
  		top: 1px;
  		z-index: 2;
  		margin: 0;
  	}

  	&.navbar-right {
  		//float: right;
  		//margin-right: -15px;
  		position: absolute;
  		right: 0;
  		top: 1px;
  		z-index: 2;
  		margin: 0;
  	}
  }
}



.desktop {
  .navbar-inverse {
    background: #444;

    .navbar-brand {
      font-weight: 500;
    }

    .navbar-brand,
    .navbar-text,
    .navbar-nav>li>a {
      color: #bbb;
    }

    span.navbar-brand,
    a.navbar-brand:hover,
    .navbar-nav>li>a:hover {
      color: white;
    }
  }
}

.ios .navbar-collapse,
.android .navbar-collapse {
  display: none !important;
}

.android {
  .navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-color: transparent;

    .navbar-brand {
      font-size: 20px;
      padding-left: 15px !important;
      color: white !important;
      margin-left: 0 !important;
    }
    .btn {
      line-height: 50px;
    }
  }
}

.ios .bootcards-navbar-double {
  .container > .navbar-right {
    position: absolute;
    left: 0;
    right: auto;
  }

  .navbar-header {
    overflow: hidden;
  }

  .navbar-collapse {
    border:0;
    background: white !important;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    max-height: none;

    .navbar-nav {
      margin: 0 !important;
    }

    .navbar-nav>li>a {
      color: #333;
      font-size: 15px;

      .label {
        position: relative;
        top: -2px;
        left: 3px;
      }
    }
  }
}

.android .bootcards-navbar-double {
  .container > .navbar-right {
    float: left !important;

    .btn {
      height: 50px;
    }
  }

  .navbar-brand {
    margin: 0;
  }

  .navbar-header {
    overflow: hidden;
  }

  .navbar-collapse {
    border:0;
    background: white !important;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    max-height: none;

    .navbar-nav {
      margin: 0 !important;
    }

    .navbar-nav>li>a {
      color: #333;
      font-size: 16px;
      padding: 15px;

      .label {
        position: relative;
        top: -3px;
        left: 3px;
      }
    }
  }
}


/* NAVBAR FILTER DROPDOWN */

.navbar-header {
  .navbar-brand.dropdown-toggle {
    cursor: pointer;

    i {
      //font-size: 12px;
      position: relative;
      top: -2px;
      left: 2px;
      transition: all 0.3s ease;
    }

    &[aria-expanded="true"] {
      i {
        color: #aaa;
      }
    }
  }

  .dropdown-menu {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;

    a {
      padding: 7px 15px;
    }

    .active a {
      background: #eee;
      color: #333;
    }
  }
}

.ios .navbar-header {
  .dropdown-menu {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;

    a {
      padding: 12px 20px;
      font-size: 16px;
    }

    .active a {
      background: #007aff;
      color: white;
    }
  }
}

.android .navbar-header {
  .dropdown-menu {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    text-align: left;

    a {
      padding: 15px 20px;
      font-size: 16px;
    }

    .active a {
      background: #33b5e5;
      color: white;
    }
  }
}


/* COMMON LIST-DETAIL VIEWS */

$status-indicator-size: 36px;

.status-indicator {
  border-radius: 50%;
  z-index: 9;
  height: $status-indicator-size;
  width: $status-indicator-size;
  padding: 0;
  float: left;
  text-align: center;
  margin-right: 10px;
  font-size: 11px;
  line-height: $status-indicator-size;
  display: block;
  position: relative;
  top: 2px;

  &:empty {
    display: block;
  }

  i {
    color: white;
    opacity: 1 !important;
    font-size: 18px;
    width: auto !important;
    margin: 0 !important;
    line-height: $status-indicator-size;
    width: 21px;

    &.fa-clock-o {
      font-size: 26px;
    }
  }
}

.isometrica-container-listdetail {
  padding-top: 80px;

  .guidance-bar {
    height: 52px;
    overflow: hidden;

    @media (max-width: 767px) {
      h4 {
        font-size: 14px;
      }
    }

    .btn-group {
      margin: -13px 0;
      margin-right: -15px;

      .btn i {
        font-size: 21px;
      }
    }
  }

  .list-group-item {
    i {
      opacity: 1;

      &.pull-left {
        position: relative;
        top: 4px;
        font-size: 32px;
        color: #999;
      }
    }

    .list-group-item-content {
      overflow: hidden;
    }
  }

  .bootcards-cards {
    .panel-title {
      .label {
        padding-top: .25em;
        padding-bottom: .25em;
        position: relative;
        top: -1px;
        margin-right: 6px;
      }

      .status-indicator {
        position: static;
        padding: 0;
      }
    }

    .list-group-item {
      i {
        width: auto;
        opacity: 1;
        margin-right: 5px;
      }

      .btn {
        margin-bottom: 5px;
      }

      .list-group-item-heading {
        .label {
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
      }
    }


  }
}

.desktop {
  .isometrica-container-listdetail {
    .bootcards-list {
      .panel-body {
        padding: 10px 15px;
      }
    }

    .bootcards-cards {
      .list-group-item {
        border-top: 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
      }

      .panel>.list-group .list-group-item:last-child {
        border-bottom: 1px solid #ddd;
      }

      .list-group>.list-group-item:last-child {
        border-bottom: 0 !important;
      }

      .list-group {
        .row {
          margin: 0;
          > div { padding: 0; }
        }
      }
    }
  }
}

.ios {
  .isometrica-container-listdetail {

    .guidance-bar {
      .btn {
        line-height: 28px;
        padding-right: 15px;
      }
    }

    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;

    @media (max-width: 767px) {
      top: 44px;
    }

    .bootcards-cards {
      .list-group-item {
        border-top: 0;
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 0;
      }

      .list-group {
        .row {
          margin: 0;
          > div { padding: 0; }
        }

        > .list-group-item:last-child {
          border-bottom: 0 !important;
        }
      }
    }


    /*
    .bootcards-cards .list-group {
      .row { // Multiple form groups per row
        margin-bottom: -1px;
      }

      .row > div > .list-group-item:last-child {
        border-top: 1px solid #ddd !important;
      }

      @media (max-width:767px) {
        .row:first-child > div:first-child > .list-group-item {
          border-top: 0 !important;
        }
      }

      @media (min-width:768px) {
        .row:first-child > div > .list-group-item {
          border-top: 0 !important;
        }
      }

    }*/


  }

  @media (max-width: 767px) {
    .bootcards-cards {
      //padding-left: 0;
      //padding-right: 0;

      padding: 0;
    }
  }
}

.android {
  .isometrica-container-listdetail {

    .guidance-bar {
      .btn {
        line-height: 28px;
      }
    }

    padding-top: 0 !important;
    position: fixed;
    top: 102px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    height: auto;

    @media (max-width: 767px) {
      top: 50px;
    }

    /*.bootcards-cards .list-group {
      .row { // Multiple form groups per row
        margin-bottom: -1px;
      }

      .row > div > .list-group-item:last-child {
        border-top: 1px solid #ddd !important;
      }

      @media (max-width:767px) {
        .row:first-child > div:first-child > .list-group-item {
          border-top: 0 !important;
        }
      }

      @media (min-width:768px) {
        .row:first-child > div > .list-group-item {
          border-top: 0 !important;
        }
      }

    }*/

    .bootcards-cards {
      .list-group-item {
        border-top: 0;
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 0;
      }

      .list-group {
        .row {
          margin: 0;
          > div { padding: 0; }
        }

        > .list-group-item:last-child {
          border-bottom: 0 !important;
        }
      }
    }

  }

  @media (max-width: 767px) {
    .bootcards-cards {
      padding-left: 0;
      padding-right: 0;


      > .panel {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}


/* MOBILE-ONLY LIST VIEWS */

.isometrica-mobile-list-view-container {
  padding-top: 15px;

  .bootcards-list {
    height: auto !important;
  }

  .list-group-item {
    .label {
      display: inline-block;
      padding: .3em .6em .3em;
    }
  }

}

.ios .isometrica-mobile-list-view-container {
  padding: 0;
}


.risk-square {
  float: left;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  padding: 0;
  margin-right: 12px;
  font-weight: 300;
}



/* GUIDANCE BAR */

.guidance-bar {
  //background: rgba(0,0,0,0.75) !important;
  background: #337ab7;
  border: 0;
  height: auto;
  margin: 0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0;
  padding: 15px 0;

  .row {
    i.fa-long-arrow-right {
      position: absolute;
      right: -8px;
      top: 0;
      font-size: 21px;
      line-height: 21px;
      color: white;
      //opacity: 0.5;
    }
  }

  h4 {
    color: white;
    margin: 0;
    font-weight: 300;
    line-height: 1.3;
    font-size: 17px;
    //padding: 0 10px;

    .badge {
      position: relative;
      top: -1px;
      margin-right: 3px;
      background: #5bc0de;
    }
  }

  .btn-group {
    .btn {
      color: white;
      opacity: 0.7;
      text-decoration: none;
      transition: all 0.3s ease;
      font-size: 17px;

      &:hover, &:active {
        opacity: 1;
      }
    }
  }
}

.ios .guidance-bar {
  top: 44px;
}

.android .guidance-bar {
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}



/* MODALS */

.modal-footer small, .panel-footer small {
  text-align: inherit !important;
}

.modal {
  .modal-body {
    .isometrica-rich-text-control {
      margin: 0 -15px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;

      .isometrica-rich-text-input {
        height: 160px;
      }
    }

    hr {
      margin: 15px -15px;
      border-color: #ddd;
    }
  }
}

.desktop .modal-dialog {
  .modal-header {
    border-color: #ddd;

    .modal-title {
    	line-height: 34px;
    }
  }
}

.ios .modal-dialog {

  .modal-content {
    z-index: 1;
  }

	.modal-header {
		padding: 0;

    .pull-left {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

		.btn {
			padding: 0 15px;
			line-height: 44px;
			i {
				vertical-align: 0;
			}
			span {
				font-size: 14px;
			}
		}

		&.subheader {
  		padding: 10px 15px;
  		height: auto !important;
  		font-size: 12px;
  		line-height: 20px;
		}
	}

  .modal-body {
    //z-index: -1;
  }
}

.android .table-view-modal .modal-dialog {
	margin: 0;
}

.android .modal-dialog {
	.modal-header {
		padding: 0;
    //background: #33b5e5;
    //background: #444;
    border-color: transparent;
    background: #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    .modal-title {
      font-size: 20px;
      //color: white;
    }

    .pull-left {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      z-index: 1;
    }

		.btn {
			padding: 0 15px;
			line-height: 50px;
			margin-top: 0;
			color: #33b5e5;
			//font-size: 14px;

			i {
				vertical-align: 0;
			}
			span {
				font-size: 14px;
			}
		}

		&.subheader {
  		padding: 10px 15px;
  		height: auto !important;
  		font-size: 13px;
  		line-height: 20px;
  		background: #f5f5f5;
  		box-shadow: none;
		}

	}
}





/* ACCORDION */

.bootcards-accordion {
  .bootcards-list-subheading {
    background-color: #f5f5f5 !important;
    padding-left: 48px;
    font-size: 16px !important;

    &:before {
      font-size: 18px !important;
      //width: 20px !important;
      color: #337ab7 !important;
      transition: all 0.3s ease;
    }

    .list-group-item-heading {
      font-size: 16px;
      font-weight: 500;
    }

    .list-group-item-text {
      font-weight: normal;
    }
  }
}

.bootcards-panel-collapsing {
	margin-bottom: 0;
	border-color: #bbb;

  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
  }

  &:first-child {
    margin-top: 15px;
  }

  &:last-child {
    margin-bottom: 15px;
  }

	.panel-heading {
  	border: 0;
  	//padding: 10px 15px 0;
  	padding-left: 50px;
  	cursor: pointer;
  	position: relative;
  	transition: all 0.3s ease;

  	.bootcards-panel-collapsing-indicator {
    	line-height: 20px;
    	font-size: 24px;
    	width: 24px;
    	text-align: center;
    	margin-top: 7px;
    	color: #337ab7;
    	position: absolute;
    	left: 10px;
    	top: 50%;
    	margin-top: -11px;
    	transition: all 0.3s ease;
  	}

    .label {
      position: relative;
      top: -1px;
      //margin-right: 5px;
      margin-left: 10px;
      font-size: 12px;
    }

    &:hover, &:focus, &:active {
    	background: #f5f5f5;

    	.bootcards-panel-collapsing-indicator {
    	  color: #23527c;
      }
  	}

  	&.collapsed {
    	border-radius: 4px;

    	.bootcards-panel-collapsing-indicator {
      	-webkit-transform: rotate(-90deg);
    	}
  	}
	}

	.panel-body {
  	border-top: 1px solid #ddd;
	}
}

.ios .bootcards-panel-collapsing {
  border: 1px solid #ccc;

  &:not(:last-child) {
    border-bottom: 0;
  }

  .panel-heading {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
  }

  .panel-body {
    padding-bottom: 0;
  }

  .panel-heading {
  	.bootcards-panel-collapsing-indicator {
    	@media (max-width:767px) {
      	left: 8px;
      	font-size: 18px;
      	margin-top: -10px;
    	}
  	}
  }
}


.android {
  .bootcards-panel-collapsing {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 15px;
    }

    .panel-heading {
      padding-top: 10px;
      padding-bottom: 10px;
      background: #f5f5f5;
      border-radius: 0;
    }

    .btn-group {
      margin-top: 4px;

      .btn {
        box-shadow: none;
      }
    }

    .panel-body {
      padding-top: 5px;
      padding-bottom: 0;

      hr {
        margin-bottom: 10px;
      }
    }
  }

  .panel-heading {
    .btn {
      color: #33b5e5 !important;
    }

    .panel-title {
      color: #333;
      padding: 8px 0;
    }
  }
}


@import "_workbook.scss";
@import "_overview.scss";
@import "_org-setup.scss";
@import "_wiki.scss";
@import "_address-book.scss";
@import "_users.scss";
@import "_worksheet.scss";
@import "_dashboard.scss";
@import "_communications.scss";
@import "_meetings.scss";
@import "_work-inbox.scss";