.card-block-branding {
  border-top-width: 4px !important;
  border-top-style: solid;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  
  &-logo {
    //height: 30px;
  }
}

#audit-edit-modal {
  .btn-repeat-all {
    margin: -6px 0;
    opacity: 1;
    margin-right: 15px;
  }
  .collapsed > .btn-repeat-all {
    opacity: 0;
  }
}

.audit-question {
  padding: 0;
  position: relative;
  @include flexbox;
  
  &-helptext {
    //font-family: $font-semibold;
    //border-top: 1px solid #ddd;
    border-top: 0 !important;
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 45px;
  }
  
  
  &-current,
  &-previous {
    padding-top: 1rem;
  }
  
  &-current {
    @include flex(1);
    position: relative;
    padding-left: 3.5rem;

    textarea {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  
  &-question {
    padding: 0;
    margin-bottom: 12px;
    font-size: 17px;
    padding-right: 40px; // Space for guidance icon
    
    @media(min-width: 768px) {
      padding-right: 140px;
    }
  }
  
  &-guidance {
  
    &-content {
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;
      padding-bottom: 10px;
      
      p {
        margin-bottom: .5rem;
      }
    }
    
    &-open {
      position: absolute;
      right: 15px;
      top: 15px;
      
      &:not(.collapsed) {
        display: none;
      }
      
      i {
        font-size: 24px;
      }
    }
    
    &-close {
      padding-left: 0;
    }
  }  

  
  &-previous {
    background: #f5f5f5;
    border-left: 1px solid #ddd;
    width: 33%;
    
    &-answer {
      font-family: $font-semibold;
       margin-bottom: 12px;
    }
    
    &-date,
    &-comment {
      color: #777;
      font-family: $font-regular;
    }
    
    .btn {
      padding: .5rem 1.5rem;
    }
    

  }

  &-answers {
    
    .btn {
      background: #eee;
      padding: .5rem 1.5rem;
      margin-bottom: 2px;
      margin-top: 2px;
    
      &:hover:not(.active) {
        background: #ddd;
      }
    
      &-yes.active {
        background: $green-color !important;
        border-color: $green-color !important;
      }
      
      &-no.active {
        background: $red-color !important;
        border-color: $red-color !important;
      }
    
      &-previous:not(.active) {
        background: #ddd;
        
        &:hover {
          background: #ccc;
        }
      }
    }
    
    .btn-group {
      margin-bottom: 0;
    }
    
  }
  
  .btn-repeat {
    padding: .5rem 1.5rem;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  &-dropdown {
    .btn {
      padding: .5rem;
      margin-bottom: 2px;
      margin-top: 2px;
      
      i {
        font-size: 18px;
      }
    }
  }
  
  &-number {
    position: absolute;
    left: 1.25rem;
    top: 1rem;
  }
  
  
  
  &-comment {
    @include transition(color 0.4s ease);
    //max-width: 600px;
    
    &-previous {
      color: #777;
    }
  }
  
  &-attachments {
    margin: 0;
    border-top: 1px solid #ddd;
    padding: 1rem 0 .0;
    margin-top: 1rem;
    
    .btn-group {
      margin-right: 10px;
    }
    .btn-link {
      margin-bottom: 0;
      
      &:first-child {
        padding-left: 0;
        padding-right: 0;
        //color: #777 !important;
        text-decoration: none;
        font-family: $font-regular;
        i {
          //color: #777 !important;
        }
      }
    }
  }
  
  
  .collapse-comment {
    
    @media (min-width:768px) {
      padding-right: 140px;
    }
    
    .form-group {
      margin: 0;
      overflow: hidden;
      position: relative;
      //padding-bottom: .9rem;
      
      .clear-field {
        top: 3px;
        right: 3px;
      }
    }
  }
  
  &-attachment-form {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
    
    /*
    &:before,
    &:after {
      position: absolute;
      right: 6px;
      display: block;
      content: '';
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
    }
    
    &:before {
      border-bottom-color: #ddd;
      top: -20px;
    }
    
    &:after {
      border-bottom-color: white;
      top: -19px;
    }
    */
  }
}

.audit-read {
  &-question {
    font-family: $font-semibold;
    margin: 0 0 5px;
  }
  &-answer {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 5px;
  }
  &-comment {
    color: #777;
    margin: 0 0 5px;
  }
  &-responses {
    color: #777;
    margin: 0 0 5px;
  }
}

.audit-section-scoring {
  margin: 0 -1.25rem;
  
  th {
    border-top: 0 !important;
    border-bottom-width: 1px !important;
    font-weight: normal;
    font-family: $font-semibold;
  }
  
  td {
    white-space: nowrap;
    line-height: 32px;
    
    &:last-child {
      width: 66.66666667%;
      padding-right: 4.5rem; // Space for delete button
      position: relative;
      
      .btn-remove {
        position: absolute;
        right: 1.25rem;
        top: .75rem;
      }
    }
  }
  
  &-points {
    width: 60px;
    display: inline-block;
  }
  
  textarea {
    margin-top: 10px;
  }
}




.audit-template-question-advanced {
  overflow: hidden;
  
  &-toggle {
    .expanded-label { display: inline; }
    .collapsed-label { display: none; }
    
    &.collapsed {
      .expanded-label { display: none; }
      .collapsed-label { display: inline; }      
    }
  }
  
  &-columns {
    margin: 0 -7.5px !important;
    
    > div {
      padding: 0 7.5px !important;
      
      .btn-checkbox {
        margin: 0;
      }
    }
  }
}