// main: app.scss

.btn {
  font-family: $font-semibold;
  font-weight: normal;
  @include transition(all .3s ease);

  &-primary {
    @include gradient($blue-color, darken($blue-color,10%));
    border-color: darken($blue-color,10%);
    &:hover {
      @include gradient(darken($blue-color,5%), darken($blue-color,15%));
      border-color: darken($blue-color,15%);
    }
  }

  &-secondary {
    @include gradient(#FFFFFF, darken(#FFFFFF,5%));
    &:hover {
      @include gradient(darken(#FFFFFF,5%), darken(#FFFFFF,10%));
    }
  }

  &-muted {
    color: #373a3c;
    @include gradient(#f5f5f5, darken(#f5f5f5,10%))
    //background-color: #f5f5f5;
    border-color: #ccc;

    &:not(:disabled):hover {
      @include gradient(darken(#f5f5f5,5%), darken(#f5f5f5,15%))
      border-color: darken(#ccc,5%);
    }
  }

  &-info {
    background: $light-blue-color;
    border-color: $light-blue-color;
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);
    }
    &:disabled:hover {
      background: $light-blue-color;
      border-color: $light-blue-color;
    }
  }
  &-success {
    @include gradient($green-color, darken($green-color,10%));
    border-color: darken($green-color,10%);
    &:hover {
      @include gradient(darken($green-color,5%), darken($green-color,15%));
      border-color: darken($green-color,15%);
    }
  }
  &-warning {
    @include gradient($amber-color, darken($amber-color,10%));
    border-color: darken($amber-color,10%);
    &:hover {
      @include gradient(darken($amber-color,5%), darken($amber-color,15%));
      border-color: darken($amber-color,15%);
    }
  }
  &-danger {
    @include gradient($red-color, darken($red-color,10%));
    border-color: darken($red-color,10%);
    &:hover {
      @include gradient(darken($red-color,5%), darken($red-color,15%));
      border-color: darken($red-color,15%);
    }
  }


  &-link {
    color: $blue-color;

    &.text-muted {
	    color: $muted-color;
	    &:hover {
		    color: $blue-color;
	    }
    }
  }

  &:disabled {
    opacity: 1;
  }
}

.btn-icon {
  width: 36px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  i {
    font-size: 20px;
    line-height: 18px;
    position: relative;
    top: 2px;
    width: 1.28571429em;
    text-align: center
  }
}

.btn-group {
  &-nomargin {
    margin-bottom: 0 !important;

    .btn {
      margin-bottom: 0 !important;
    }
  }
}

.btn-secondary.active {
  &[data-toggle="button"],
  .btn-group[data-toggle="buttons"] & {
    background: $light-blue-color;
    border-color: $light-blue-color;
    color: white;
  }
}




/*
  BUTTON ICONS
*/

.btn {
  i {
    &.margin-right {
      margin-right: 5px;
    }
  }
}

/*
  FILE UPLOAD
*/

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

/*
  COLLAPSE BUTTON - switch labels
*/

.btn-collapse {
  &-label {
    &-show {
      display: none;

      .collapsed & {
        display: inline
      }
    }
    &-hide {
      display: inline;

      .collapsed & {
        display: none;
      }
    }
  }
}
