.calendar-container {
  width: 100%;
}

.calendar {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-top: -1px;

  &-title {
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
    font-family: $font-semibold;
  }

  .search-form {
    .form-group-flex-flex {
      position: relative;
      margin: 0;
      padding: 0;
    }

    input {
      padding-left: 32px;
    }

    i.fa-search {
      position: absolute;
      left: 12px;
      top: 10px;
      color: #999;
      font-size: 14px;
    }
    
    .btn {
      margin-left: 8px;
      
      @media (min-width:768px) {
        i { 
          margin-right: 4px;
        }
      }
      @media (max-width: 767px) {
        span {
          display: none;
        }        
      }

    }
  }

  .collapse.in {
    display: table-row-group;
  }

  th {
    &:first-child {
      border-right: 1px solid #bbb !important;
      min-width: 250px;

      @media (max-width: 543px) { // Phone portrait
        min-width: 180px;
      }
      
      @media (min-width: 544px) and (max-width: 767px) { // Phone landscape
        min-width: 250px;
      }
    }
    
    &:not(:first-child) {
      width: 6.6666%; 
    }
  }



  thead {
    background: #f5f5f5;

    th {
      border-width: 1px !important;
      text-align: center;
      vertical-align: middle !important;
    }
    
    .calendar-months {
      font-family: $font-semibold;
      font-weight: normal !important;
    }
  }

  th, td {
    padding: 8px !important;
    border-color: #ddd !important;
  }
  
  td {
    position: relative;
  }

  th:first-child {
    border-right: 1px solid #ddd;
  }

  tbody th {
    font-size: 16px;
    padding: 10px 15px !important;
    font-weight: 500;
  }

  th.calendar-accordion-toggle {
    margin-left: 0;
    font-weight: 500;
    z-index: 6;
    padding: 10px 10px 10px 2.5rem !important;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    position: relative;

    &:before  {
      content: "\f105";
      font-family: 'FontAwesome';
      position: absolute;
      left: 1rem;
      top: 50%;
      font-size: 24px;
      line-height: 1;
      margin-top: -12px;
      color: $blue-color;
      @include transition(all 0.3s ease);        
    }

    &:not(.collapsed):before {
      -webkit-transform: rotate(90deg);
    }

  }
  
  .calendar-timeline {
    background: #fafafa;
    background: lighten($light-blue-color,51%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid lighten($light-blue-color,45%);
  }
  
  .calendar-row {
    position: relative;
    height: 30px;
    overflow: hidden;
  }

  .btn-date-specific,
  .btn-date-range  {
    text-align: left;
    text-decoration: none;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .15rem .5rem;
  }

  .btn-date-specific {
    padding-right: 0;
    padding-left: 15px !important;
    color: $blue-color;
    right: 0;

    .date {
      color: #999;
    }

    &:before {
      content: "\f111";
      font-family: "FontAwesome";
      line-height: 1;
      position: absolute;
      left: 0;
      top: 50%;
      font-size: 12px;
      margin-top: -6px;
    }
    
    &:hover {
      color: darken($blue-color,20%);
    }
    
    &.custom {
      color: $light-blue-color;
      &:hover {
        color: darken($light-blue-color,10%);
      }
    }
    
    /*
    &.completed {
      color: #777;
      &:hover {
        color: #555;
      }
    }
    */
    
    &.overdue {
      color: $red-color;
      &:hover {
        color: darken($red-color,10%);
      }
    }
  }

  .btn-date-range {
    display: block;
    text-align: left;
    color: white;
    background: $blue-color;
    
    &:hover {
      background: darken($blue-color,10%);
    }

    .date {
      color: #cde9f0;
    }
    
    &.custom {
      background: $light-blue-color;
      &:hover {
        background: darken($light-blue-color,10%);
      }
    }
    
    /*
    &.completed {
      background: #777;
      &:hover {
        background: #555;
      }
      .date {
        color: #ddd;
      }
    }
    */
    
    &.overdue {
      background: $red-color;
      &:hover {
        background: darken($red-color,10%);
      }
      .date {
        color: lighten($red-color,40%);
      }
    }
  }

  tbody {
    .label {
      display: block;
      font-size: 14px;
      padding: 5px;
    }
    
    th, td {
      background: white;
    }
  }
}