$canvas-border-color: #aaa;
$canvas-item-color-1: #FCCF31;
$canvas-item-color-2: #94135E;
$canvas-item-color-3: #F0889C;
$canvas-section-padding: 1rem;

.canvas {
	background: white;
	border: 1px solid $canvas-border-color;
	//min-height: 100%;
	
	@include not-mobile {
		@include flexbox();
		@include flex-direction(column);
		@include flex();		
	}
	
	&-wrapper {
		@include not-mobile {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include flexbox();
			@include flex-direction(column);		
		}
	}
	
	&-row {
		@include tablet-portrait {
			@include flexbox();
			@include flex();
			@include flex-wrap(wrap);
		}
		
		@include desktop {
			@include flexbox();
			@include flex();
			
			&-1third {
				min-height: 33.33333%;
			}
			
			&-2thirds {
				min-height: 66.66666%;
			}
		}
	}
	
	&-col {
		@include flexbox();
		@include flex-direction(column);
		@include flex();
		
		&-sm {
			width: 100%;
			
			@include not-mobile {
				@include flexbox();
				@include flex-direction(column);
				@include flex();
			}			
		}
		
		&-md {
			width: 100%;
			
			@include tablet-portrait {
				@include flexbox();
			}
			
			@include desktop {
				@include flexbox();
				@include flex();
				@include flex-direction(column);
			}			
		}
	}
	
	&-section {
		border: 2px solid $canvas-border-color;
		transition: background-color 0.4s ease, border-color 0.4s ease;
		margin: -1px;
		z-index: 1;

		
		@include not-mobile {
			min-height: 200px;
			@include flex();
			@include flexbox();
			@include flex-direction(column);			
		}

		&.empty {
			.canvas-section-help {
				display: block;
			}
			
			&:hover {
				cursor: pointer;
				background: #f5f5f5;
				border-color: $blue-color;
				z-index: 2;
				
				i {
					color: $blue-color;
					
				}
			}			
		}
		
		&-heading {
			padding: $canvas-section-padding;
			@include flexbox();
			@include align-items(center);

			h4 {
				font-size: 18px;
				line-height: 1.2;
				font-family: $font-semibold;
				margin: 0;
				@include flex();
			}
		}
		
		&-help {
			display: none;
			padding: 0px $canvas-section-padding;
			margin: 0 0 .5rem;
		}
		
		.btn-chart,
		.btn-add {
			font-size: 24px;
			transition: color 0.4s ease;
			color: #bbb;
			margin: -10px;
			margin-left: 10px;
			
			&:hover {
				cursor: pointer;
				color: $blue-color;
			}				
		}

		&-items {
			list-style: none;
			margin: 0;
			padding: 0px $canvas-section-padding;
			@include flex();
			overflow-x: hidden;
			overflow-y: auto;
					
			li {
				margin: 0 -0.5rem .5rem;
				border-radius: 3px;
				transition: background 0.4s ease;
				padding: 0 0.5rem;
				cursor: move;
				
				&:hover {
					background: #eee;
				}
				
				&.placeholder {
				  position: relative;
				  height: 21px;
				  border: 1px dashed #ddd;
				  
				  /** More li styles **/
				}
				&.placeholder:before {
				  position: absolute;
				  /** Define arrowhead **/
				}
				
				i {
					float: left;
					margin-right: 8px;
					margin-top: 4px;

					&.canvas-item {
						&-color {
							&-1 {
								color: $canvas-item-color-1;
							}
							&-2 {
								color: $canvas-item-color-2;
							}
							&-3 {
								color: $canvas-item-color-3;
							}
						}
					}
				}
				
				span {
					overflow: hidden;
					display: block;
				}
			}
		}
		
		&-footer {
			padding: $canvas-section-padding;
			@include flexbox();
			@include align-items(center);
			
			&-labels {
				@include flex();
			}
			
			a.label {
				transition: background 0.4s ease;
				font-size: 14px;
				
				&:hover {
					background: $blue-color;
				}
			}
		}
	}
}

/*
	Sortable plugin CSS
*/

body.dragging, body.dragging * {
  cursor: move !important;
  
  .canvas-section li {
	  background: transparent !important;
  }
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}


/*
	Value proposition canvas
*/

.valuepropositioncanvas,
.customersegmentcanvas {
	position: relative;
	min-height: 330px;
	overflow: hidden;
	
	.btn-match {
		position: absolute;
		right: 1.25rem;
		bottom: 1.25rem;
		opacity: 1;
		transition: opacity 0.4s ease;
	}
	
	#gains, 
	#pains, 
	#jobs, 
	#painRelievers, 
	#gainCreators, 
	#productsAndServices {
		display: none !important;
	}
	
	#gains,
	#pains,
	#productsAndServices {
		margin-right: 170px;		
	}
	
	#jobs,
	#painRelievers,
	#gainCreators {
		margin-left: 170px;
	}
	
	&-canvas {
		width: 300px;
		position: absolute;
		left: 50%;
		margin-left: -150px;
		top: 15px;
		transition: left .4s ease, margin-left .4s ease;
	}
	
	&.show-gains {
		#customersegmentschart-gains { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 100%; margin-left: -170px; }
		#gains { display: block !important;}
		.btn-match { opacity: 0; }
	} 
	
	&.show-pains {
		#customersegmentschart-pains { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 100%; margin-left: -170px; }
		#pains { display: block !important; }
		.btn-match { opacity: 0; }
	} 
	
	&.show-customerJobs {
		#customersegmentschart-customerJobs { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 0%; margin-left: -130px; }	
		#jobs { display: block !important;  }
		.btn-match { opacity: 0; }
	} 
	
	&.show-gainCreators {
		#valuepropositionchart-gainCreators { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 0%; margin-left: -120px; }
		#gainCreators { display: block !important;}
		.btn-match { opacity: 0; }
	} 
	
	&.show-painRelievers {
		#valuepropositionchart-painRelievers { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 0%; margin-left: -120px; }
		#painRelievers { display: block !important; }
		.btn-match { opacity: 0; }
	} 
	
	&.show-productsAndServices {
		#valuepropositionchart-productsAndServices { fill: #eee; }
		.valuepropositioncanvas-canvas { left: 100%; margin-left: -160px; }	
		#productsAndServices { display: block !important;  }
		.btn-match { opacity: 0; }
	} 	
	
	
	
	text {
		font-family: $font-semibold !important;
		pointer-events: none !important;
	}
	
	#customersegmentschart-gains,
	#customersegmentschart-pains,
	#customersegmentschart-customerJobs,
	#valuepropositionchart-gainCreators,
	#valuepropositionchart-painRelievers,
	#valuepropositionchart-productsAndServices {
		cursor: pointer;
		&:hover {
			fill:#eee;
			transition: all 0.4s ease;
		}
	}
}

/* HTML/CSS version
.valuepropositioncanvas {
	padding-bottom: 50%;
	height: 0;
	overflow: hidden;
	position: relative;
	
	&-valueproposition {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		border: 2px solid black;
		border-radius: 2px;
		overflow: hidden;
		
		&-gaincreators {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 50%;
				border-bottom: 2px solid black;				
			}
		}
		
		&-painrelievers {
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 50%;
			}
		}
		
		&-products {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -70.25%;
				height: 100%;
				width: 100%;
				border: 2px solid black;
				transform: rotate(45deg);
				background: white;
			}
		}
	}
	
	&-customersegment {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		border: 2px solid black;
		border-radius: 50%;
	}
}
*/