$canvas-border-color: #aaa;
$canvas-item-color-1: #FCCF31;
$canvas-item-color-2: #94135E;
$canvas-item-color-3: #F0889C;
$canvas-section-padding: 1rem;
$canvas-item-min-height: 240px;

.canvas {
	
	//border: 1px solid $canvas-border-color;
	min-height: 100%;
	
	@include not-mobile {
		min-height: $canvas-item-min-height * 3;
		@include flex();
	}


	@include desktop {
		@include flexbox();
		@include flex-direction(column);
			
	}
	
	&-wrapper {
		background: white;
		width: 100%;
		
		@include not-mobile {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include flexbox();
			@include flex-direction(column);		
		}
	}
	
	&-row {
		@include tablet-portrait {
			@include flexbox();
			@include flex();
			@include flex-wrap(wrap);
		}
		
		@include desktop {
			@include flexbox();
			@include flex();
			
			&-1third {
				min-height: 33.33333%;
			}
			
			&-2thirds {
				min-height: 66.66666%;
			}
		}
	}
	
	&-col {
		@include flexbox();
		@include flex-direction(column);
		@include flex();
		
		&-sm {
			width: 100%;
			
			@include not-mobile {
				@include flexbox();
				@include flex-direction(column);
				@include flex();
			}			
		}
		
		&-md {
			width: 100%;
			
			@include tablet-portrait {
				@include flexbox();
			}
			
			@include desktop {
				@include flexbox();
				@include flex();
				@include flex-direction(column);
			}			
		}
	}
	
	&-section {
		border: 2px solid $canvas-border-color;
		transition: background-color 0.4s ease, border-color 0.4s ease;
		margin: -1px;
		//z-index: 1;
		
		@include not-mobile {
			@include flex();
			@include flexbox();
			@include flex-direction(column);		
			min-height: $canvas-item-min-height;	
		}

	
		@include tablet-portrait {
			max-height: 400px; 
		}

		&.empty {
			.canvas-section-help {
				display: block;
			}
			
			&:hover {
				cursor: pointer;
				background: #f5f5f5;
				border-color: $blue-color;
				z-index: 2;
				
				.btn-add {
					color: $blue-color;
				}
			}			
		}
		
		&-heading {
			padding: $canvas-section-padding;
			@include flexbox();
			@include align-items(flex-start);

			h4 {
				font-size: 18px;
				line-height: 1.2;
				font-family: $font-semibold;
				margin: 0;
				@include flex();
			}
		}
		
		&-print-icon {
			display: none;
		}
		
		&-help {
			display: none;
			padding: 0px $canvas-section-padding;
			margin: 0 0 .5rem;
			@include flex();
		}
		
		
		.btn-chart,
		.btn-add {
			font-size: 24px;
			transition: color 0.4s ease;
			color: #bbb;
			margin: $canvas-section-padding * -1;;
			margin-left: 5px;
			
			&:hover {
				cursor: pointer;
				color: $blue-color;
			}			
			
			&[disabled] {
				cursor: default;
				color: #bbb;
				opacity: 0.3;
			}	
		}

		&-items {
			list-style: none;
			margin: 0;
			padding: 0px $canvas-section-padding;
			@include flex();
			overflow-x: hidden;
			overflow-y: auto;
					
			li {
				margin: 0 -0.5rem 0;
				border-radius: 3px;
				transition: background 0.4s ease;
				padding: 0 0.5rem 0 0;
				cursor: pointer;
				overflow: hidden;
				display: flex;
				align-items: flex-start;
				
				&:hover {
					background: #eee;
				}
				
				&.placeholder {
				  position: relative;
				  height: 32px;
				  border: 1px dashed #ddd;
				  
				  &:before {
					  position: absolute;
					}
				}
				
				> span {
					padding: 4px 0;
				}
				
				.canvas-item-handle {
					//float: left;
					//height: 32px;
					min-height: 30px;
					width: 32px;
					position: relative;
					cursor: row-resize;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					flex-shrink: 0;
					padding: 8px;

					i {
						height: 16px;
						width: 16px;
						padding: 2px;
						line-height: 12px;
						border-radius: 2px;
						display: block;
						text-align: center;
						color: white;
						transition: background-color .4s ease;
						
						&.canvas-item-color-1 { 
							background-color: $canvas-item-color-1; 
							&:before { color: $canvas-item-color-1; }
						}
						&.canvas-item-color-2 { 
							background-color: $canvas-item-color-2; 
							&:before { color: $canvas-item-color-2; }
						}
						&.canvas-item-color-3 { 
							background-color: $canvas-item-color-3; 
							&:before { color: $canvas-item-color-3; }
						}			
					}
					
					&:hover i {
						background-color: transparent;
					}
				}
				

				
				.linked-item {
					color: $muted-color;
					margin-top: 2px;
					line-height: 1.4;

					i {
						line-height: inherit;
						float: left;
						margin-right: 5px;
					}
				}
				

				
				span {
					overflow: hidden;
					display: block;
				}
			}
		}
		
		&-footer {
			padding: $canvas-section-padding;
			@include flexbox();
			@include align-items(flex-end);
			
			&-labels {
				@include flex();
				//padding-top: 4px;
				margin-bottom: -4px;
				
				/*
				height: 100%;
				position: relative;
				padding: $canvas-section-padding;
				
				&-inner {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					overflow-y: hidden;
					overflow-x: auto;
					
					> div {
						white-space: nowrap;
					}
				}
				*/
			}
			
			a.btn-sm {
				//line-height: 1;
				display: inline-block;
				margin: 0 0 4px 0;
				padding: .1rem .7rem .15rem;
			}
			
			.dropup {
				display: inline-block;
			}
			
			a.label {
				transition: background 0.4s ease;
				font-size: 12px;
				min-width: 45px;
				line-height: 16px;
				float: left;
				margin: 0 0 4px 4px;
				
				&:hover {
					background: $blue-color;
				}
			}
		}
	}
}

/*
	Sortable plugin CSS
*/

body.dragging, body.dragging * {
  cursor: move !important;
  
  .canvas-section li {
	  background: transparent !important;
  }
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}


/*
	Value proposition canvas
*/

.valuepropositioncanvas,
.customersegmentcanvas {

	@include not-mobile {
		position: relative;
		min-height: 300px;
		//overflow: hidden;
		margin: 0 -1.25rem;
		padding: 0 1.25rem;		
	}
	
	.customersegmentcanvas-canvas,
	.valuepropositioncanvas-canvas {
		@include mobile {
			width: 200px;
			margin: 0 auto 1rem;
		}		
	}
	
	// Match button
	
	.btn-match {		
		@include not-mobile {
			position: absolute;
			opacity: 1;
			transition: opacity 0.4s ease;			
			top: 50%;
			
		}
	}
	
	#customersegment-canvas .btn-match {
		@include not-mobile {
			right: 50%;
			margin-right: 160px;
			margin-top: -32px;
		}
	}
	
	#valueproposition-canvas .btn-match {
		@include not-mobile {
			left: 50%;
			margin-left: 160px;
			margin-top: -32px;
		}
	}
	
	// Subcards
	
	.card { 
		z-index: 1;
		position: relative;
		
		@include mobile { // Remove side padding on mobile
			margin-left: -1.25rem;
			margin-right: -1.25rem;
			border-top: 1px solid #ddd;
		}
	}	
	
	#wants, 
	#needs, 
	#benefits, 
	#features {
		display: none !important;
	}
	
	#needs,
	#benefits {
		@include not-mobile {
			margin-right: 170px;
		}		
	}
	
	#wants,
	#features {
		@include not-mobile {
			margin-left: 170px;
		}
	}
	
	&-canvas {
		@include not-mobile {
			z-index: 2;
			width: 300px;
			position: absolute;
			left: 50%;
			margin-left: -150px;
			top: 0;
			transition: left .4s ease, margin-left .4s ease;			
		}
	}
	

	
	&.show-wants {
		#customersegmentschart-wants { fill: #eee; }
		@include not-mobile {.valuepropositioncanvas-canvas { left: 0%; margin-left: -130px; }}
		#wants { display: block !important;}
		.btn-match { opacity: 0; @include mobile { display: none; } }
	} 
	
	&.show-needs {
		#customersegmentschart-needs { fill: #eee; }
		@include not-mobile {.valuepropositioncanvas-canvas { left: 100%; margin-left: -170px; }}
		#needs { display: block !important;  }
		.btn-match { opacity: 0; @include mobile { display: none; } }
	} 
	
	&.show-benefits {
		#valuepropositionchart-benefits { fill: #eee; }
		@include not-mobile {.valuepropositioncanvas-canvas { left: 100%; margin-left: -160px; }}
		#benefits { display: block !important;}
		.btn-match { opacity: 0; @include mobile { display: none; } }
	} 
	&.show-features {
		#valuepropositionchart-features { fill: #eee; }
		@include not-mobile {.valuepropositioncanvas-canvas { left: 0%; margin-left: -120px; }}
		#features { display: block !important;  }
		.btn-match { opacity: 0; @include mobile { display: none; } }
	} 	
	
	
	
	text {
		font-family: $font-semibold !important;
		pointer-events: none !important;
	}
	
	#customersegmentschart-wants,
	#customersegmentschart-needs,
	#valuepropositionchart-benefits,
	#valuepropositionchart-features {
		cursor: pointer;
		&:hover {
			fill:#eee;
			transition: all 0.4s ease;
		}
	}
}

/* 
	Matching view 
*/

.btn-canvas .fa-angle-left {
	font-size: 19px;
	top: 1px;
	position: relative;
}

.matching {
	&-arrow {
		font-size: 28px;
		margin: 3px 0 0;
	}
	
	&-row {
		margin-bottom: 15px;
		position: relative;
		
		> div {
			position: static;
			
			> .dropdown-menu {
				left: 12px;
				right: 12px;
			}
		}

		.btn {
			margin: 0 !important;
			white-space: normal !important;
			font-family: $font-regular !important;
		}
		
		.dropdown {
			
			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&-menu {
				right: 0;
				max-height: 200px;
				overflow-y: auto;
				overflow-x: hidden;
			}

			&-item {
				text-overflow: ellipsis;
				max-width: 100%;
				overflow: hidden;
			}
			
			&-divider {
				margin: 0;
			}
		}
	}
	
	
}