.dashboard-items {
  @include flexbox;
  @include flex-wrap(wrap);
  padding-top: 30px;
  margin: 0 -15px;
  
  @media (max-width:767px) {
    padding-top: 0;
    margin: 0;
  }
  
  @media (min-width:768px) and (max-width:1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  > div {
    @include flexbox;
    padding: 0 15px;

    @media (max-width:767px) {
      width: 100%;
      padding: 0;
    }  
    
    @media (min-width:768px) and (max-width:991px) {
      width: 33.3333%;
    }  
    
    @media (min-width:992px) {
      width: 20%;
    } 
  }

}

.dashboard-item {
  @include flexbox();
  @include flex(1);
  @include flex-direction(column);
  cursor: pointer;
  @include transition(all .3s ease);
  text-decoration: none !important;
  
  @media (max-width:767px) {
    margin-bottom: 0;  
  }

  &:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  }

  &-disabled {
    cursor: default;
    background: #f5f5f5;
    border-style: dashed !important;
    box-shadow: none !important;
  }

	&-icon {
    display: block;
    text-align: center;
    font-size: 42px;
    margin: 10px auto 10px;
    color: $light-blue-color;
    text-decoration: none !important;
    
    @media (max-width:767px) {
      float: left;
      margin: 0 15px 0 0;
    }
	}   
	
	.card-block {
		@include clearfix;
		
		@media (min-width: 768px) {
			@include flexbox();
			@include flex-direction(column);
	    @include flex(1);
		}
	}
	 
	.card-title {
		margin-top: 0;
		padding: 0;
		margin-bottom: 3px;
		line-height: 20px;
		font-size: 18px;
		text-align: center;
		color: #333;
		text-decoration: none !important;
		
		@media (max-width:767px) {
  	  text-align: left;	
    }
    
    @media (min-width: 768px) {
	    @include flex(1);
	  }
	}

	.card-text {
		margin-bottom: 0;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #777;
		text-decoration: none !important;
	}
	
	.card-footer {
		background: transparent;
		border-color: #ddd;
		text-align: center;
		padding: 1rem;
		
		@media (max-width:767px) {
  	  text-align: left;	
  	  border: 0;
  	  padding: 0;
    }
    
    @media (min-width: 768px) {
      margin: 1.5rem -1.25rem -1.25rem;
    }
	}
	
	.label {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 13px;
    padding: 4px 8px;
  }
}


.dashboard-stats {
  padding: 5px 0;
  
  @media (max-width:1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width:767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &-title {
    font-family: $font-light;
    margin: 0 0 10px;



    a {
      text-decoration: none !important;
      color: $body-color;

      &[data-toggle="collapse"] {
	      
	      i {
		      transition: all .4s ease;
	      }
	      
	      &.collapsed {
		      i {
			      transform: rotate(-90deg);
		      }
	      }
      }
    }
    
 		.btn-add {
			padding: 0;
			width: 26px;
			height: 26px;
			line-height: 24px;
			margin-right: 5px;
			position: relative;
			top: -2px;
		}   
    
  }
  
  &-user {
    margin-right: 15px;
    display: inline-block;
    font-family: $font-semibold;
    padding: 5px 0;
    
    i {
      margin-right: 5px;
      color: #00BCF2;
    }
  }
  
  &-message {
    padding: 5px 0;
    cursor: pointer;
    display: block;
    
    i {
      margin-right: 5px;
      color: #00BCF2;
    }
    
    span {
      margin-left: 5px;
    }
    
    /*
    a {
      opacity: 0;
      margin-left: 5px;
      @include transition(opacity .3s ease);
    }
    
    &:hover a {
      opacity: 1;
    }
    */
  }
  
  &-action {
    padding: 5px 0;
    cursor: pointer;
    display: block;
    
    .label {
      font-size: 14px;
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
    
    .text-danger {
      margin-left: 5px;
    }
  }
}


.dashboard-footer {
  padding: 15px 0;
  @include clearfix;
  
  @media (max-width:1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width:767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &-buttons {
    margin-bottom: 15px;
    
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: left;
    }
  
    .btn {
      margin-right: 20px;
      margin-bottom: 15px;
      padding: 10px 18px;
      font-size: 14px;
      
      &:last-child {
        margin-right: 0;
      }
    }    
  }

  &-logo {
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: right;
    }

    img {
      height: 34px;
    }
  }
}


.dashboard-goals {
	//overflow-x: auto;
	//overflow-y: hidden;
	position: relative;
	
	&-inner {
		//width: 3000px;
	}
	
	&-timeline {
		&-dates {
			list-style: none;
			padding: 0;
			@include flexbox();
			margin: 0;
			
			li {
				@include flex(1);
			}
		}
		&-today {
			position: absolute;
			display: block;
			width: 2px;
			top: 0;
			bottom: 0;
			background: #ddd;
		}
	}
	
	&-collapse {
		overflow: hidden;
	}
}

.dashboard-goal {
	margin-bottom: 1.25rem;
	$marker-size: 16px;
	position: relative;
	padding: 0 $marker-size/2;
	
	&-markers {
		list-style: none;
		padding: 0;
		position: relative;
		height: $marker-size + 6;
		margin: 0;
		padding: 0;
		margin-bottom: .25rem;
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: $marker-size/2;
			right: $marker-size/2;
			top: 50%;
			height: 2px;
			margin-top: -1px;
			background: $light-blue-color;
			z-index: 1;
		}

		li {
			position: absolute;
			top: 50%;
			width: $marker-size;
			height: $marker-size;
			margin-top: $marker-size * -0.5;
			margin-left: $marker-size * -0.5;
			
			.dropdown-toggle {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: block;
				text-align: center;
				border: 2px solid $light-blue-color;
				cursor: pointer;
				z-index: 2;
				&:after {
					display: none;
				}				
			}
			
			&:hover {
				.dropdown-toggle {
					border-color: darken($light-blue-color, 15%);
				}
			}
			
			&.start,
			&.finish {
				.dropdown-toggle {
					border-radius: 50%;
					background: $light-blue-color;
		
					&:hover {
						background: darken($light-blue-color, 15%);
					}
				}
			}
			
			&.start {
				left: 0;
			}
			
			&.finish {
				left: 100%;
			}
			
			&.milestone {
				.dropdown-toggle {
					$milestone-marker-size:15px;
					//transform-origin: 50% 50%;
					transform: rotate(45deg);
					width: $milestone-marker-size;
					height: $milestone-marker-size;
					//margin-top: $milestone-marker-size * -0.5;
					margin-left: $milestone-marker-size * -0.5;				
				}
			}
			
			&.completed {
				.dropdown-toggle {
					background: $light-blue-color;
					
					&:hover {
						background: darken($light-blue-color, 15%);
					}
				}
			}
			
			&.outstanding {
				.dropdown-toggle {
					background: white;
				}
			}
			
			.dropdown-toggle {

			}
		}
	}
	

	
	&-dates {
		position: relative;
		height: 20px;
		text-align: center;
		margin: 0 0 .5rem;
		left: $marker-size * -0.5;
		@include flexbox();
		@include flex-wrap(no-wrap);
	}
	
	&-title {
		font-family: $font-semibold;
		@include flex(1);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 .5rem;
		//font-weight: bold;
		

	}
	
	&-tasks {
		list-style: none;
		padding: 0;
		margin: 0;
		left: $marker-size * -0.5;
		position: relative;
		z-index: 2;
		overflow: hidden;
		
		li {
			i {
				float: left;
				margin-top: 4px;
			}
			> span {
				display: block;
				overflow: hidden;
				
				span {
					white-space: nowrap;
				}
			}
		}
	}
}