
.form-group-nomargin {
  margin-bottom: 0;
}

/* Inputs */

.form-control {
  color: #333;
  font-weight: normal;
  font-family: $font-regular;
  
  &:disabled {
    color: black;
  }
}


/* Labels */

.form-control-label {
  font-weight: normal;
  font-family: $font-semibold;
  
  .form-horizontal &,
  .form-group.row & {
    @media (min-width:768px) {
      text-align: right;
      padding-right: 0;
    }
  }
  
  .form-group:not(.row) & {
    padding-left: 0;
  }
}


/* Rich text */

.rich-text {  
  &-controls {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 3px 0;
    
    .btn {
      border: 0;
    }
  }
  
  &-input {
    font-size: 0;
    height: 400px;
    
    .expanded & {
      height: 800px;
    }
  }
  
  &-expand-toggle {
    .fa-compress { display: none; }
    .fa-expand { display: inline-block; }
    
    .expanded & {
      .fa-compress { display: inline-block; }
      .fa-expand { display: none; }      
    }
    
  }
}


/* Form buttons */

.form-group {
  .btn {
    margin-bottom: 7px;
  }
}

/* Checkbox button */

.btn-checkbox {
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  
  &.active {
    background: $light-blue-color;
    border-color: $light-blue-color;
    
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);      
    }
  }

  i {
    margin: 0;
    color: white;
    font-size: 19px;
  }
  
  &-label {
    font-family: $font-semibold;
  }
}

/* 
  Select dropdowns 
*/

.c-select {
  width: 100%;
  color: #333;
  border-radius: .25rem;
}


/*
  Dropdowns
*/

.dropdown {
  &-menu {
    padding: 0;
    
    &-full {
      left: 0;
      right: 0;
    }
    
    &-full-xs {
	    @include mobile {
      left: 0;
      right: 0;		    
	    }

    }
  }
  &-item {
    padding: 10px 15px;
    
    &.indent {
      padding-left: 30px;
    }
    
    &.checked {
	    padding-right: 40px;
	    position: relative;
	    
	    &:after {
		    position: absolute;
		    content: "\f00c"; // Checkmark
		    font-family: "FontAwesome";
		    right: 15px;
		    top: 50%;
		    font-size: 12px;
		    line-height: 1;
		    margin-top: -6px;
		    color: $blue-color;
	    }
    }
  }
  &-header {
    margin-bottom: 0;
    font-family: $font-semibold;
  }
  
  .btn {
    display: block;
    margin: 0 7px 7px;
  }
}


/*
  Dropdowns - submenus
*/

.dropdown-menu-submenu {
	position: relative;

	> a {
		padding-right: 2.5rem; // Space for caret
		position: relative;
		
		&:before {
			content: "\f0da";
			font-family: "FontAwesome";
			position: absolute;
			right: 1rem;
			top: 50%;
			line-height: 20px;
			margin-top: -8px;
			transition: all .2s ease;
		}
	}
	
	&.open > a {
		background-color: #f5f5f5;
		@include mobile {
			&:before {
				transform: rotate(90deg);
			}
		}
	}
	
	> .dropdown-menu {
		@include mobile {
			max-height: 200px;
			overflow-x: hidden;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			position: relative;
			border: 0;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;			
			border-radius: 0;
			width: 100%;
			margin: 0;
		}
		
		@include not-mobile {
			left: 100%;
			top: 0;
			margin-top: 0;
			margin-left: 2px;			
		}
	}
}

/*
  Form group nested layout - flex
*/

.form-group-flex {
  @include flexbox;
  
  &-flex {
    @include flex(1);
  }
  
  .margin-left {
    margin-left: 15px;
  }
  
  .margin-right {
    margin-right: 15px;
  }
  
  .btn {
    margin-bottom: 0;
  }
}

/* 
  Form group nested layout - rows/cols
*/

.form-group.row .row {
  margin: 0;
  
  > div {
    padding: 0;
    
    &:not(:last-child) {
      padding-right: 15px;
    }
  }
}



/* Clear field */

.clear-field {
	position: absolute;
	right: 15px;
	top: 0;
	font-size: 21px;
	line-height: 1;
	color: #bbb !important;
	transition: all 0.3s ease;
	border: 0;
  z-index: 9;
  display: none;
  margin: 0 !important;
  padding-left: 6px;
  padding-right: 6px;
  
	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
  	font-size: 21px !important;
  	line-height: inherit;
  	top: 0 !important;
	}

  .ios & {
    padding-right: 0 !important;
  }
  
  .android & {
    right: 0;
  }	
}

input:focus ~ .clear-field,
textarea:focus ~ .clear-field {
  display: block;
}


/* Input group */

.input-group {
  &-btn {
    .btn {
      margin-bottom: 0 !important;
    }
  }
  
  // Textarea version
  &-textarea {
    .input-group-addon {
      vertical-align: top;
      line-height: 21px;
    }
  }

}


/* Typeahead */

.input-group-typeahead {
  position: relative;
  
  .dropdown-menu {
    left: 0;
  }
}



/* Risk Grading */

.table-risk-grading {
  border-top: 1px solid #ddd;

  table {
    margin-bottom: 10px;
  }

  th, td {
    border-color: white !important;
    border-left: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    width: 1%;
    padding: 10px !important;
    font-weight: 500;
    
    @media (max-width: 480px) {
      max-width: 50px !important;
      overflow: hidden;
    }

    &.impacts-heading {
      position: relative;
      width: 44px !important;
      padding: 0 !important;
      vertical-align: middle;

      span {
        -webkit-transform: rotate(-90deg);
        display: block;
        //position: absolute;
        //top: 50%;
        //margin-top: -30px;
      
      }
    }

    &.impact-label {
      background: #eee;
    }

    &.impact {
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        bottom: 0;
        background: rgba(255,255,255,0.6);
        opacity: 1;
        transition: all 0.3s ease;
      }

      &:hover, &:focus, &:active, &.active {
        &:after {
          opacity: 0;
        }
      }
    }

    &.impact-vlow { background: $green-color; }
    &.impact-low { background: $yellow-color; }
    &.impact-medium { background: $amber-color; }
    &.impact-high { background: $red-color; }
    &.impact-vhigh { background: $red-color; }
  }

  td {
    color: white;
    font-weight: bold;
  }

}

/*
  FORM GROUP - BUTTONS (e.g. lists of file attachments)
*/

.form-group-buttons {
  .btn, .btn-group {
    margin-right: 3px;
  }
  
  .btn-group .btn {
    margin-right: 0;
  }
}


/*
  LEGEND
*/

legend {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.2;
}

/*
  INLINE FORM GROUPS
*/

.form-group-inline {
  @include clearfix;
  
  label {
    display: inline-block;
    padding-left: 0;
    float: left;
  }
  .input-group {
    max-width: 160px;
    float: left;
  }
  
  .margin-right {
    margin-right: 10px;
  }
}



.help-block {
  margin: 0 0 10px;
}


/*
  COLORPICKER
*/

.simplecolorpicker {
	&.picker {
		max-width: 368px;
		max-width: 278px;
		margin-left: 5px;
		
		@include mobile {
			max-width: 288px;
		}
	}
	
	&.icon {
		width: 33px;
		height: 33px;
		border-radius: 3px;
		outline: none !important;
		border: 1px solid #ccc;
		position: relative;
		overflow: hidden;
		display: block;
		transition: border-color 0.3s ease;
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: 5px solid white;
			transition: border-color 0.3s ease;
		}
		
		&:hover {
			border-color: #adadad;
			&:before { border-color: #e6e6e6; }
		}
	}

	$colorpicker-dropdown-icon-size: 40px;
	$colorpicker-dropdown-icon-size-mobile: 30px;


	span.color {
		width: $colorpicker-dropdown-icon-size;
		height: $colorpicker-dropdown-icon-size;
		//border-radius: 3px;
		float: left;
		
		@include mobile {
			width: $colorpicker-dropdown-icon-size-mobile;
			height: $colorpicker-dropdown-icon-size-mobile;			
		}
		
		&:hover,
		&[data-selected] {
			border: 1px solid rgba(0,0,0,0.5);
		}
		
		&[data-selected]::after {
			margin: 0;
			line-height: $colorpicker-dropdown-icon-size;
			display: block;
			text-align: center;
			
			@include mobile {
				line-height: $colorpicker-dropdown-icon-size-mobile;
			}
		}
	}
}


// Old colorpicker
.colorpicker-component {
  width: 34px;
  
  input {
    display: none !important;
  }
  
  .add-on {
    width: 34px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius: .25rem !important;
    
    i {
      position: relative;
      top: 1px;
    }
  }
}

