$marker-size: 16px;
$marker-border-size: 4px;
$marker-color-default: #777;
$marker-color-custom-1: #CE93D8;
$marker-color-custom-2: #90CAF9;
$marker-color-custom-3: #80CBC4;

.goals {
	//overflow-x: auto;
	//overflow-y: hidden;
	position: relative;
	
	&-inner {
		//width: 3000px;
	}
	
	&-timeline {
		&-dates {
			list-style: none;
			padding: 0;
			@include flexbox();
			margin: 0;
			
			li {
				@include flex(1);
			}
		}
		&-today {
			position: absolute;
			display: block;
			width: 2px;
			top: 0;
			bottom: 0;
			background: #ddd;
		}
	}
	
	&-collapse {
		overflow: hidden;
		
		&-toggle {
			i {
				transition: all .4s ease;
			}
			&.collapsed {
				i {
					transform: rotate(-90deg);
				}
			}
		}
	}
}

.goal {	
	margin-bottom: 1.25rem;
	position: relative;
	padding: 0 $marker-size/2;
	
	&-markers {
		list-style: none;
		padding: 0;
		position: relative;
		height: $marker-size + 6;
		margin: 0;
		padding: 0;
		margin-bottom: .25rem;
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: $marker-size/2;
			right: $marker-size/2;
			top: 50%;
			height: 4px;
			margin-top: -2px;
			z-index: 1;
			background: $marker-color-default;
			transition: background .4s ease;
			.goal-custom-color-1 & { background: $marker-color-custom-1; }
			.goal-custom-color-2 & { background: $marker-color-custom-2; }
			.goal-custom-color-3 & { background: $marker-color-custom-3; }
		}
		
		&:hover {
			cursor: pointer;
		}

		&:hover:after {
			background: darken($marker-color-default, 15%);
			.goal-custom-color-1 & { background: darken($marker-color-custom-1, 15%); }
			.goal-custom-color-2 & { background: darken($marker-color-custom-2, 15%); }
			.goal-custom-color-3 & { background: darken($marker-color-custom-3, 15%); }	
		}

	}
	
	&-marker {
		position: absolute;
		top: 50%;
		width: $marker-size;
		height: $marker-size;
		margin-top: $marker-size * -0.5;
		margin-left: $marker-size * -0.5;
		
		&-toggle {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			display: block;
			text-align: center;
			border: $marker-border-size solid $marker-color-default;
			transition: background-color 0.4s ease, border-color 0.4s ease;
			cursor: pointer;
			z-index: 2;
			background: white;
			
			.goal-custom-color-1 & { border-color: $marker-color-custom-1; }
			.goal-custom-color-2 & { border-color: $marker-color-custom-2; }
			.goal-custom-color-3 & { border-color: $marker-color-custom-3; }
			
			&:after {
				display: none;
			}				
		}
		
		&.start {
			left: 0;
		}
		
		&.finish {
			left: 100%;
		}
		
		&.start,
		&.finish {
			.dropdown-toggle {
				border-radius: 50%;
			}
		}

		&:hover {
			.dropdown-toggle {
				border-color: darken($marker-color-default, 15%);
				.goal-custom-color-1 & { border-color: darken($marker-color-custom-1, 15%); }
				.goal-custom-color-2 & { border-color: darken($marker-color-custom-2, 15%); }
				.goal-custom-color-3 & { border-color: darken($marker-color-custom-3, 15%); }
			}
		}
		
		&.start,
		&.finish,
		&.completed {
			.dropdown-toggle {
				background: $marker-color-default;
				.goal-custom-color-1 & { background: $marker-color-custom-1; }
				.goal-custom-color-2 & { background: $marker-color-custom-2; }
				.goal-custom-color-3 & { background: $marker-color-custom-3; }
	
				&:hover {
					background: darken($marker-color-default, 15%);
					.goal-custom-color-1 & { background: darken($marker-color-custom-1, 15%); }
					.goal-custom-color-2 & { background: darken($marker-color-custom-2, 15%); }
					.goal-custom-color-3 & { background: darken($marker-color-custom-3, 15%); }					
				}
			}
			
			&.arrow {
				.dropdown-toggle {
					background: transparent !important;
					border-left-color: transparent !important;
					border-bottom-color: transparent !important;
					border-width: $marker-size/2;
					border-radius: 0 !important;
					transform: rotate(45deg);
					width: 0;
					height: 0;
					right: $marker-size/2;
					left: auto;
					
				}
			}
		}
		

		
		&.milestone {
			.dropdown-toggle {
				//$milestone-marker-size:15px;
				transform: rotate(45deg);
				//width: $milestone-marker-size;
				//height: $milestone-marker-size;				
			}
		}
	}

	
	&-dates {
		position: relative;
		height: 20px;
		text-align: center;
		margin: 0;
		//left: $marker-size * -0.5;
		@include flexbox();
		@include flex-wrap(no-wrap);
		
		&-start {
			margin-left: $marker-size * -0.5;
		}
		
		&-end {
			margin-right: $marker-size * -0.5;
		}
	}
	
	&-title {
		font-family: $font-semibold;
		color: $body-color;
		cursor: pointer;
		@include flex(1);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 .5rem;
		//font-weight: bold;
		
		i {
			transition: all .4s ease;
			margin-left: 4px;
		}
		
		&.collapsed {
			i {
				transform: rotate(-90deg);
			}
		}
		

	}
	
	&-tasks {
		margin-left: -10px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		
		ul {
			list-style: none;
			padding: 0;
			margin: .5rem 0;			
		}
		
		li {
			i {
				float: left;
				margin-top: 5px;
				margin-left: 5px;
				margin-right: 10px;
			}
			> span {
				display: block;
				overflow: hidden;
				
				span {
					white-space: nowrap;
				}
			}
		}
	}
}


/*
	ICONS USED ELSEWHERE
*/

$marker-icon-size: 12px;
$marker-icon-border-size: 3px;

.goal-marker-icon {
	width: $marker-icon-size;
	height: $marker-icon-size;
	display: inline-block;
	border: $marker-icon-border-size solid $marker-color-default;
	background: white;
		
	&.goal-custom-color-1 { border-color: $marker-color-custom-1; }
	&.goal-custom-color-2 { border-color: $marker-color-custom-2; }
	&.goal-custom-color-3 { border-color: $marker-color-custom-3; }

	&.completed {
		background: $marker-color-default;
		&.goal-custom-color-1 { background: $marker-color-custom-1; }
		&.goal-custom-color-2 { background: $marker-color-custom-2; }
		&.goal-custom-color-3 { background: $marker-color-custom-3; }
	}

	&.milestone {
		width: $marker-icon-size * 0.9;
		height: $marker-icon-size * 0.9;
		transform: rotate(45deg);			
	}
}