html,
body {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
}

body {
  @include flexbox();
  @include flex-direction(column);
  background: #f5f5f5;
  font-family: $font-regular;
  //-webkit-font-smoothing: subpixel-antialiased;
}

.scroll {
  @include scroll;
}

.flexbox-row {
  @include flexbox;
}

.flexbox-column {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
}

.flex {
  @include flex(1);
}


.content {
  overflow: hidden;
  position: relative;
  @include flex(1);
  
  &:not(.no-flex) {
    @include flexbox;
  }
  
  > .container {
    @media (max-width:1200px) {
      max-width: none;
    }
  }
  
  > .container,
  > .container-fluid {
    @include flex(1);
    @include flexbox();
    position: relative;
    
    > .row {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      height: 100%;
      @include flexbox();
    }
  }
  
  &-list {
    padding-top: 30px;
    height: 100%;
    
    @include mobile {
      width: 100%;
      border: 0;
    }
  }
  
  &-cards {
    height: 100%;
    padding: 0;
    
    &-inner {
      @media (min-width: 768px) {
        padding: 30px 30px 0;
      }
    }
  }
}

.text {
	&-normal {
		font-family: $font-regular !important;
	}
	&-left {
		text-align: left !important;
	}
	&-center {
		text-align: center !important;
	}
	&-right {
		text-align: right !important;
	}
}

.flexbox {
	@include flexbox();
	&-fill {
		@include flex(1);
	}
}

.rotate {
	&-45 {
		@include rotate(45);
	}
}

strong {
  font-weight: normal;
  font-family: $font-semibold;
}

.tooltip {
	font-family: $font-regular;
	z-index: 1039; // Disply underneath modals
}

.margin-top {
  margin-top: 5px !important;
}

.margin-bottom {
  margin-bottom: 5px !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.margin {
	&-0 {
		margin: 0 !important;
	}
	
	&-left {
		&-0 {
			margin-left: 0 !important;
		}
		&-5 {
			margin-left: 5px !important;
		}
		&-10 {
			margin-left: 10px !important;
		}
		
	}
	
	&-right {
		&-5 {
			margin-right: 5px !important;
		}
		&-10 {
			margin-right: 10px !important;
		}
		&-15 {
			margin-right: 15px !important;
		}
	}
	
	&-bottom {
		&-0 {
			margin-bottom: 0 !important;
		}
		&-5 {
			margin-bottom: 5px !important;
		}
		&-10 {
			margin-bottom: 10px !important;
		}
		&-15 {
			margin-bottom: 15px !important;
		}
	}
	
	&-top {
		&-4 {
			margin-top: 4px !important;
		}
		&-5 {
			margin-top: 5px !important;
		}
	}
}

.padding {
	&-left {
		&-0 {
			padding-left: 0 !important;
		}
		&-30 {
			padding-left: 30px !important;
		}
		&-45 {
			padding-left: 45px !important;
		}
	}
	
	&-right {
		&-0 {
			padding-right: 0 !important;
		}
		&-45 {
			padding-right: 45px !important;
		}
	}
}


