// main: app.scss

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.text {
  &-success {
    color: $green-color !important;
  }
  &-warning {
    color: $amber-color !important;
  }
  &-danger {
    color: $red-color !important;
  }
  &-default {
    color: #333 !important;
  }
  &-very-muted {
	  color: lighten($muted-color,30%) !important;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
