.text {
  &-success {
    color: $green-color !important;
  }
  &-warning {
    color: $amber-color !important;
  }
  &-danger {
    color: $red-color !important;
  }
  &-default {
    color: #333 !important;
  }
  &-very-muted {
	  color: lighten($muted-color,30%) !important;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

