html, body {
	overflow: hidden !important;
	height: auto !important;
	display: block !important;
	color: black !important;
}

.content {
	overflow: hidden !important;
	display: block !important;
}



.canvas {
	&-wrapper {
		position: static !important;
		overflow: hidden !important;
		display: block !important;
	}
	
	&-col-md {
		display: flex !important;
	}
	
	&-section {
		flex: 1 !important;
		
		.btn-chart,
		.btn-add {
			display: none !important;
		}

		&-items li {
			display: inline-block;
			margin-right: 15px;
		}
	}
}