@import "__variables.scss";
@import "__flexbox.scss";

@media print {
	@page {size: landscape; }
}

html, body {
	height: auto;
	overflow: auto !important;
}

body {
	background: white;
	color: black;
	display: block;
}

.container {
	max-width: none;
}

section {
	min-height: 500px;

	@media screen {
		padding: 30px;
	}

	&:not(:first-child) {
		page-break-before: always;

		@media screen {
			border-top: 50px solid #f5f5f5;
		}
	}
}

.page-break {
	page-break-before: always;
}

h1 {
	margin: 0 0 30px;
	font-size: 24px;


}

.btn {
	@media print {
		display: none !important;
	}
}

.canvas {
	&-row {
		@include flexbox();
		@include flex();
	}

	&-row-1third,
	&-row-2thirds {
		min-height: 0 !important;
	}

	&-col-md {
		@include flexbox();
		@include flex-direction(column);
		@include flex();
	}

	&-section {
		min-height: 0 !important;
		padding-bottom: 10px;
		pointer-events: none !important;
		@include flex();
		@include flexbox();
		@include flex-direction(column);
		max-height: none !important;

		&-items,
		&-help,
		&-heading {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}

		&-heading {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
		}

		&-items li {
			//display: inline-block;
			display: inline-flex;
			margin-right: 10px;
			padding: 0;
			overflow: hidden;

			.canvas-item-handle {
				display: block;
				-webkit-print-color-adjust: exact;
			}
		}

		&-print-icon {
			font-size: 24px;
			display: block;
			margin-left: 10px;
		}
	}

	.btn-add,
	.btn-chart,
	&-section-footer {
		display: none !important;
	}

}

.report-canvas-items {


	&:not(.horizontal) {
		column-count: 4;
	}

	.canvas-section-heading {
		padding: 0;
		margin-bottom: 0;

		.canvas-section-print-icon {
			display: none;
		}
	}

	h3 {
		letter-spacing: 1px;
		font-size: 16px;
		color: #818a91;

	}

	h3, h4 {
		overflow: hidden; /* fix for Firefox */
		break-after: avoid-column;
		-webkit-column-break-after: avoid;
		margin: 0 0 1rem;
	}

	h4 {
		span.text-muted {
			font-size: 14px;
			font-family: $font-regular;
		}
	}

	ol {
		list-style: decimal inside;
		padding-left: 0;
		margin-bottom: 1rem;

		li {
			font-family: $font-semibold;

			span {
				font-family: $font-regular;
			}
		}
	}

	&.horizontal {

		li {
			display: inline-block;

			&:not(:last-child):after {
				content: " – ";
			}
		}
	}

	.canvas-section-items {
		overflow: visible;
		padding: 0;
		margin-bottom: 1.5rem;

		li {
			display: block;

			> span {
				padding-top: 0;
				padding-bottom: 0;
			}

			.canvas-item-handle {
				padding-top: 4px;
				padding-bottom: 4px;
				float: left;
			}
		}
	}

	p {
		margin-bottom: 1.5rem !important;
	}

	.canvas-section-help {
		//display: block;
		padding: 0;
		margin-bottom: 2rem;
	}
}

.report-section {

	h5 {
		font-size: 20px;
		margin: 0 0 10px;
	}

	h6 {
		font-size: inherit;
		font-weight: 500;
		color: #818a91;
		text-transform: uppercase;
		margin: 0;
		letter-spacing: 1.4px;
		line-height: 21px;
	}

	p {
		margin: 0;
	}

	ul {
		margin: 0;
	}

	.report-linkage {
		color: #818a91;
		margin-bottom: 10px;
	}

	.product-market-fit-arrows {
		float: right;
		font-size: 24px;
		line-height: 1;
		color: #818a91;
	}

	.report-chart {
		&-heading {
			margin-bottom: 5px;
			text-align: center;
		}

		&-subheading {
			margin-bottom: 15px;
			text-align: center;
		}

		&-wrapper {
			max-width: 250px;
			margin: 0 auto 15px;
			position: relative;

			i.fa {
				$chartIconSize: 48px;
				position: absolute;
				width: $chartIconSize;
				height: $chartIconSize;
				font-size: $chartIconSize;
				line-height: 1;
				text-align: center;
				left: 50%;
				top: 50%;
				margin-left: $chartIconSize/-2;
				margin-top: $chartIconSize/-2;
				color: #c5c7c9;

			}
		}

		&-legend {
			max-width: 360px;
	    margin: 0 auto;

			ul {
				list-style: none;
				padding: 0;
				margin-top: 10px;
				//text-align: center;

				li {
					//text-align: center;
					//display: inline-block;
					//margin-right: 1rem;
					position: relative;
					padding-left: 20px;
					display: flex;
				}
			}

			table {
				width: 100%;
				th {
					font-weight: normal;
					font-size: 12px;
				}
				td,th {
					vertical-align: top;
					&:not(:last-child) {
						padding-right: 10px;
					}
					&:first-child {
						padding-right: 5px;
						width: 1%;
					}

				}
			}

			.dot {
				-webkit-print-color-adjust: exact; // Forces Chrome to print with background color
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				//position: absolute;
				//left: 0;
				//top: 5px;
				//margin-right: 5px;
			}

			.key {
				flex: 1;
			}

			.value {
				color: #818a91;
				text-align: right;
			}
		}
	}
}
