@import "__flexbox.scss";

@media print {
	@page {size: landscape; }
}

html, body {
	height: auto;
	overflow: auto !important;
}

body {
	background: white;
	color: black;
	display: block;
}

.container {
	max-width: none;
}

section {
	min-height: 500px;
	
	@media screen {
		padding: 30px;
	}
	
	&:not(:first-child) {
		page-break-before: always;

		@media screen {
			border-top: 50px solid #f5f5f5;
		}
	}
}

.page-break {
	page-break-before: always;
}

h1 {
	margin: 0 0 30px;
	font-size: 24px;
	

}

.btn {
	@media print {
		display: none !important;
	}
}

.canvas {
	&-row {
		@include flexbox();
		@include flex();
	}

	&-row-1third,
	&-row-2thirds {
		min-height: 0 !important;
	}

	&-col-md {
		@include flexbox();
		@include flex-direction(column);
		@include flex();
	}

	&-section {
		min-height: 0 !important;
		padding-bottom: 10px;
		pointer-events: none !important;
		@include flex();
		@include flexbox();
		@include flex-direction(column);	
		max-height: none !important;	

		&-items,
		&-help,
		&-heading {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
		
		&-heading {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
		}

		&-items li {
			display: inline-block;
			margin-right: 15px;
			
			i {
				font-size: 10px;
				line-height: inherit;
				margin-right: 5px !important;
			}
		}

		&-print-icon {
			font-size: 24px;
			display: block;
			margin-left: 10px;
		}
	}
	
	.btn-add,
	.btn-chart,
	&-section-footer {
		display: none !important;
	}

}

.report-section {

	h5 {
		font-size: 20px;
		margin: 0 0 10px;
	}
	
	h6 {
		font-size: inherit;
		font-weight: 500;
		color: #818a91;
		text-transform: uppercase;
		margin: 15px 0 10px;
		letter-spacing: 1px;
	}
	
	p {
		margin: 0 0 10px;
	}
	
	ul {
		margin: 0 0 10px;
	}
	
	.report-linkage {
		color: #818a91;
		margin-bottom: 0;
	}
	
	.product-market-fit-arrows {
		float: right;
		font-size: 24px;
		line-height: 1;
		color: #818a91;
	}
	
	.report-chart-wrapper {
		max-width: 300px;
		margin: 0 auto;
		position: relative;
		
		i.fa {
			$chartIconSize: 48px;
			position: absolute;
			width: $chartIconSize;
			height: $chartIconSize;
			font-size: $chartIconSize;
			line-height: 1;
			text-align: center;
			left: 50%;
			top: 50%;
			margin-left: $chartIconSize/-2;
			margin-top: $chartIconSize/-2;
			color: #c5c7c9;
			
		}
	}
	
	.report-chart-legend {
		ul {
			list-style: none;
			padding: 0;
			margin-top: 10px;
		
			li {
				text-align: center;		

				span {
					-webkit-print-color-adjust: exact; // Forces Chrome to print with background color
					display: inline-block;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					position: relative;
					top: 1px;
					margin-right: 5px;
				}
			}
		}

	}
}