html, body {
  height: auto;
  overflow: auto !important; }

body {
  background: white;
  color: black;
  display: block; }

.container {
  max-width: none; }

section {
  min-height: 500px; }
  @media screen {
    section {
      padding: 30px; } }
  section:not(:first-child) {
    page-break-before: always; }
    @media screen {
      section:not(:first-child) {
        border-top: 50px solid #f5f5f5; } }

h1 {
  margin: 0 0 30px;
  font-size: 24px; }

.canvas-col-md {
  display: flex !important;
  flex: 1 !important;
  flex-direction: column !important; }

.canvas .btn-add,
.canvas .btn-chart,
.canvas-section-footer {
  display: none !important; }

.canvas-row-1third,
.canvas-row-2thirds {
  min-height: 0 !important; }

.canvas-section {
  min-height: 0 !important;
  padding-bottom: 10px;
  pointer-events: none !important;
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important; }
  .canvas-section-items li {
    display: inline-block;
    margin-right: 15px; }
  .canvas-section-print-icon {
    font-size: 24px;
    display: block;
    margin-left: 10px; }

.report-section h5 {
  font-size: 20px;
  margin: 0 0 10px; }

.report-section h6 {
  font-size: inherit;
  font-weight: 500;
  color: #818a91;
  text-transform: uppercase;
  margin: 15px 0 10px;
  letter-spacing: 1px; }

.report-section p {
  margin: 0 0 10px; }

.report-section ul {
  margin: 0 0 10px; }

.report-section .report-linkage {
  color: #818a91;
  margin-bottom: 0; }

.report-section .product-market-fit-arrows {
  float: right;
  font-size: 24px;
  line-height: 1;
  color: #818a91; }

.report-section .report-chart-wrapper {
  max-width: 300px;
  margin: 0 auto; }

.report-section .report-chart-legend ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; }
  .report-section .report-chart-legend ul li {
    text-align: center; }
    .report-section .report-chart-legend ul li span {
      -webkit-print-color-adjust: exact;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: relative;
      top: 1px;
      margin-right: 5px; }
