html, body {
	height: auto;
	overflow: auto !important;
}

body {
	background: white;
	color: black;
	display: block;
}

.container {
	max-width: none;
}

section {
	min-height: 500px;
	
	@media screen {
		padding: 30px;
	}
	
	&:not(:first-child) {
		page-break-before: always;

		@media screen {
			border-top: 50px solid #f5f5f5;
		}
	}
	

}

h1 {
	margin: 0 0 30px;
	font-size: 24px;
}



.canvas {
	.btn-add,
	.btn-chart,
	.canvas-section-footer {
		display: none !important;
	}
	
	.canvas-row-1third,
	.canvas-row-2thirds {
		min-height: 0 !important;
	}
	
	.canvas-section {
		min-height: 0 !important;
		padding-bottom: 10px;
		pointer-events: none !important;
	}
	
	.canvas-section-print-icon {
		font-size: 24px;
		display: block;
		margin-left: 10px;
	}
}

.report-section {

	h5 {
		font-size: 20px;
		margin: 0 0 10px;
	}
	
	h6 {
		font-size: inherit;
		font-weight: 500;
		color: #818a91;
		text-transform: uppercase;
		margin: 15px 0 10px;
		letter-spacing: 1px;
	}
	
	p {
		margin: 0 0 10px;
	}
	
	ul {
		margin: 0 0 10px;
	}
	
	.report-linkage {
		color: #818a91;
		margin-bottom: 0;
	}
	
	.product-market-fit-arrows {
		float: right;
		font-size: 24px;
		line-height: 1;
		color: #818a91;
	}
	
	.report-chart-wrapper {
		max-width: 300px;
		margin: 0 auto;
	}
	
	.report-chart-legend {
		ul {
			list-style: none;
			padding: 0;
			margin-top: 10px;
		
			li {
				text-align: center;		

				span {
					display: inline-block;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					position: relative;
					top: 1px;
					margin-right: 5px;
				}
			}
		}

	}
}