.standard-sidebar {
  height: 100%; 
  padding: 0;
  background: #e5e5e5;
  border-left: 1px solid #bbb;
  max-width: 300px;
  min-width: 220px;
  width: 20%;
  @include hide-scrollbar;
  
  @media (max-width: 991px) {
    display: none;
  }
  
  &-inner {
    padding: 1rem 1.25rem 0;
  }
  
  &-heading {
    @include clearfix;
  }
  
  &-close {
    float: right;
    padding: 0;
    color: #bbb;
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    
    &:hover {
      color: #555;
    }
  }
  
  &-more {
    float: right;
    margin-left: 15px;
  }
  
  &-title {
    float: left;
    font-size: 20px;
    line-height: 34px;
    margin: 0;
  }
  
  &-subtitle {
    font-size: 18px;
    line-height: 1.3;
    margin: 0 0 1rem;
  }
  
  hr {
    margin: 1.25rem -1.25rem;
  }
  
  &-bia {
    @include clearfix;
    
    &-value {
      color: $red-color;
      float: left;
      margin: 0;
      line-height: 30px;
    }
    
    &-chart {
      float: right;
      color: #999;
      font-size: 24px;
      line-height: 30px;
      @include transition(color .3s ease);
    }
  }
  
  &-worksheet {
    float: right;
    color: #999;
    font-size: 28px;
    line-height: 30px; 
    margin-right: 2px;
    margin-left: 10px;
    margin-top: -2px;   
    @include transition(color .3s ease);
  }

  .card {
    margin-bottom: 1rem;
    //cursor: pointer;
    //@include transition(all .3s ease);
    
    &:hover {
      //border-color: $blue-color;
    }
    
    &-block {
      //padding: 1rem;
    }
    
    &-title {
      //font-size: 14px;
    }
    
    .list-group-item {
      @include clearfix;
      padding: .75rem 1rem 1rem;
      
      i {
        float: left;
        font-size: 30px;
        width: 30px;
        text-align: center;
        color: #bbb;
        margin-right: 0.75rem;
        margin-top: 5px;
      }
      
      .label {
        float: left;
        font-size: 14px;
        margin-right: .75rem;
      }
      
      h5 {
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        overflow: hidden;
        font-family: $font-regular;
        color: #333;
        
        strong {
          display: block;
        }
      }
    }
  }
} 