.text {
  &-success {
    color: $green-color !important;
  }
  &-warning {
    color: $amber-color !important;
  }
  &-danger {
    color: $red-color !important;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}