.btn {
  font-family: $font-semibold;
  font-weight: normal;
  
  &-primary {
    background: $blue-color;
    border-color: $blue-color;
    &:hover {
      background: darken($blue-color,5%);
      border-color: darken($blue-color,5%);    
    }
  }
  &-info {
    background: $light-blue-color;
    border-color: $light-blue-color;
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);    
    }
  }
  &-success {
    background: $green-color;
    border-color: $green-color;
    &:hover {
      background: darken($green-color,5%);
      border-color: darken($green-color,5%);    
    }
  }
  &-warning {
    background: $amber-color;
    border-color: $amber-color;
    &:hover {
      background: darken($amber-color,5%);
      border-color: darken($amber-color,5%);    
    }
  }
  &-danger {
    background: $red-color;
    border-color: $red-color;
    &:hover {
      background: darken($red-color,5%);
      border-color: darken($red-color,5%);    
    }
  }
  
  
  &-link {
    color: $blue-color;
  }
  
  &:disabled {
    opacity: 1;
  }
}

.btn-group {
  &-nomargin {
    margin-bottom: 0 !important;
    
    .btn {
      margin-bottom: 0 !important;
    }
  }
  
  &[data-toggle="buttons"] {
    .btn.active {
      background: $light-blue-color;
      border-color: $light-blue-color;
      color: white;
    }
  }
}

/*
.btn[disabled] {
  opacity: 1;
}

.btn {
  i.margin-left {
    margin-right: 0 !important;
  }
}

.desktop,
.android,
.ios {
  a:not(.btn):not(.list-group-item),
  .btn-link {
    color: $blue-color;

    &:hover, &:focus, &:active, &.active {
      color: $blue-color-hover;
    }
  }
}



.btn {
  transition: all 0.3s ease;

  i.no-margin {
    margin: 0;
  }

  i.margin-left {
    margin: 0 0 0 5px;
  }
}

.btn-secondary {
  background: white;
  border-color: #bbb;

  &:hover, &:focus, &:active, &.active {
    background: #e6e6e6;
    border-color: #bbb;
  }
}


.list-group-item {
  .btn {
    margin-bottom: 5px;
  }

  .btn, .btn-group {
    margin-right: 5px;
  }
}





.btn-primary,
.ios .btn-primary {
  background: $blue-color;
  color: white;

  &:hover, &:focus, &:active, &.active {
    background: $blue-color-hover;
    color: white;
  }
}

.btn-info {
  background: $light-blue-color;

  &:hover, &:focus, &:active, &.active {
    background: darken($light-blue-color,5%);
  }
}

.btn-progress {
  opacity: 0.5;
  position: relative;
  overflow: hidden;

  .progress-indicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #337ab7;
    opacity: 0.3;
  }
}

.ios .btn-progress {
  opacity: 0.5 !important;
}

.ios {
  .btn {
    transition: all 0.3s ease;
    padding-left: 12px;
    padding-right: 12px;

    &:hover, &:focus, &:active, &.active {
      outline: none;
      opacity: 1 !important;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .form-horizontal .form-group .btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn-info,
  .btn-info[disabled] {
    background: #33b5e5;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      color: white;
    }
  }

  .btn-secondary,
  .btn-secondary[disabled] {
    background: white;
    border-color: #bbb;
    color: #444;

    &:hover, &:focus, &:active, &.active {
      background: #e6e6e6;
      border: 1px solid #bbb;
      color: #444;
    }
  }

  .btn-warning,
  .btn-warning[disabled] {
    background: #f0ad4e;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      color: white;
    }
  }

  .btn-danger,
  .btn-danger[disabled] {
    background: #d9534f;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      color: white;
    }
  }

  .btn-success,
  .btn-success[disabled] {
    background: #4cae4c;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #4cae4c;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      border-color: transparent;
      color: $light-blue-color;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.android {
  .btn {
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    
    &:hover, &:focus, &:active, &.active {
      outline: none;
      box-shadow: none;
    }
  }
  
  .btn-link {
    box-shadow: none;
    
    &:hover, &:focus, &:active, &.active {
      background: transparent;  
    }
  }

  .btn-primary,
  .btn-primary[disabled] {
    background: #337ab7;
    border-color: #337ab7;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #337ab7;
      border-color: #337ab7;
      color: white;
    }
  }

  .btn-info,
  .btn-info[disabled] {
    background: #33b5e5;
    border-color: #33b5e5;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #23a5d5;
      border-color: #23a5d5;
      color: white;      
    }
  }

  .btn-secondary,
  .btn-secondary[disabled] {
    background: #dfdfdf;
    border-color: #dfdfdf;
    color: #444;

    &:hover, &:focus, &:active, &.active {
      background: #cecece;
      border-color: #cecece;
      color: #444;
    }
  }

  .btn-warning,
  .btn-warning[disabled] {
    background: #f0ad4e;
    border-color: #f0ad4e;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #f0ad4e;
      border-color: #f0ad4e;
      color: white;
    }
  }

  .btn-danger,
  .btn-danger[disabled] {
    background: #d9534f;
    border-color: #d9534f;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #d9534f;
      border-color: #d9534f;
      color: white;
    }
  }

  .btn-success,
  .btn-success[disabled] {
    background: #4cae4c;
    border-color: #4cae4c;
    color: white;

    &:hover, &:focus, &:active, &.active {
      background: #4cae4c;
      border-color: #4cae4c;
      color: white;
    }
  }

  .modal-header,
  .panel-heading {
    .btn {
      background: transparent;
      border-color: transparent;
      color: #23527c;
      box-shadow: none;
      font-size: 14px;
    }
  }
}



.isometrica-documentlink-btn-group {
  margin-right: 0 !important;
  //width: 100%;
  max-width: 100%;
  position: relative;
  padding-right: 41px !important; // Space for close button
  
  .btn {
    text-align: left;
    
    &:first-child {
      //width: 100%;
      //border-radius: 4px !important;
      padding-left: 40px !important;
      max-width: 100%;
      
      i {
        position: absolute;
        left: 12px;
        top: 50%;
        margin-top: -20px;
      }
    }
    
    &:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    i.double-height {
      line-height: 2.15em;
    }
    
    i.pull-left {
      margin-right: 15px !important;
    }
    
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

*/