/* Inputs */

.form-control {
  color: #333;
  
  &:disabled {
    color: black;
  }
}


/* Labels */

.form-control-label {
  font-weight: normal;
  font-family: $font-semibold;
  
  .form-horizontal & {
    @media (min-width:768px) {
      text-align: right;
      padding-right: 0;
    }
  }
}

/* Rich text */

.rich-text {  
  &-controls {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 3px 0;
    
    .btn {
      border: 0;
    }
  }
  
  &-input {
    font-size: 0;
    height: 400px;
  }
}


/* Form buttons */

.form-group {
  .btn {
    margin-bottom: 7px;
  }
}

/* Checkbox button */

.btn-checkbox {
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  
  &.active {
    background: $light-blue-color;
    border-color: $light-blue-color;
    
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);      
    }
  }

  i {
    margin: 0;
    color: white;
    font-size: 19px;
  }
  
  &-label {
    font-family: $font-semibold;
  }
}

/* 
  Select dropdowns 
*/

.c-select {
  width: 100%;
  color: #333;
  border-radius: .25rem;
}

/*
  Dropdowns
*/

.dropdown {
  &-header {
    margin-bottom: 0;
    font-family: $font-semibold;
  }
}

/*
  Phone numbers
*/

.form-group-flex {
  @include flexbox;
  
  &-flex {
    @include flex(1);
  }
  
  .margin-left {
    margin-left: 15px;
  }
  
  .margin-right {
    margin-right: 15px;
  }
}


/* Clear field */

.clear-field {
	position: absolute;
	right: 7px;
	top: 0;
	font-size: 21px;
	line-height: 22px;
	color: #bbb !important;
	transition: all 0.3s ease;
	border: 0;
  z-index: 9;
  display: none;
  margin-right: 0 !important;

	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
  	font-size: 21px !important;
  	line-height: inherit;
  	top: 0 !important;
	}

  .ios & {
    padding-right: 0 !important;
  }
  
  .android & {
    right: 0;
  }	
}

input:focus ~ .clear-field {
  display: block;
}



/* Typeahead */

.input-group-typeahead {
  position: relative;
  
  .input-group-btn {
    .btn {
      margin-bottom: 0;
    }
  }
  .dropdown-menu {
    left: 0;
  }
}



/* Risk Grading */

.table-risk-grading {
  border-top: 1px solid #ddd;

  table {
    margin-bottom: 10px;
  }

  th, td {
    border-color: white !important;
    border-left: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    width: 1%;
    padding: 10px !important;
    font-weight: 500;
    
    @media (max-width: 480px) {
      max-width: 50px !important;
      overflow: hidden;
    }

    &.impacts-heading {
      position: relative;
      width: 44px !important;
      padding: 0 !important;
      vertical-align: middle;

      span {
        -webkit-transform: rotate(-90deg);
        display: block;
        //position: absolute;
        //top: 50%;
        //margin-top: -30px;
      
      }
    }

    &.impact-label {
      background: #eee;
    }

    &.impact {
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        bottom: 0;
        background: rgba(255,255,255,0.6);
        opacity: 1;
        transition: all 0.3s ease;
      }

      &:hover, &:focus, &:active, &.active {
        &:after {
          opacity: 0;
        }
      }
    }

    &.impact-vlow { background: $green-color; }
    &.impact-low { background: $yellow-color; }
    &.impact-medium { background: $amber-color; }
    &.impact-high { background: $red-color; }
    &.impact-vhigh { background: $red-color; }
  }

  td {
    color: white;
    font-weight: bold;
  }

}

/*
  FORM GROUP - BUTTONS (e.g. lists of file attachments)
*/

.form-group-buttons {
  .btn, .btn-group {
    margin-right: 3px;
  }
  
  .btn-group .btn {
    margin-right: 0;
  }
}



/*

.form-control {
  color: #333;
}


.inline-dropdown {
  display: inline-block;
}

.help-icon {
  margin-right: 5px;
  color: #bbb;

  i {
    font-size: 21px;
  }

  &:hover, &:focus, &:active { color: #23527c; }
}



/* Larget caret in dropdown buttons 

.btn .fa-caret {
  font-size: 16px;
}

/* Larger font size for inputs 

.ios, .android {
  .form-control,
  .input-group-addon {
    font-size: 16px;
  }
}


.isometrica-rich-text-control {
  padding: 0;
  margin: 0 -15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  .isometrica-rich-text-controls {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    position: relative;

    .btn {
      border-color: transparent;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
    }

    .btn-expand {
      position: absolute;
      right: 10px;
      top: 4px;
    }
  }

  .isometrica-rich-text-input {
    height: 300px;
  }

  &.isometrica-rich-text-control-condensed {
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;

    .isometrica-rich-text-input {
      height: 120px;
    }
  }

}

.modal .isometrica-rich-text-control {
  .isometrica-rich-text-input {
    height: 120px;
  }
}

.isometrica-rich-text-panel {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;

    .isometrica-rich-text-control {
      border-top: 0;
      border-bottom: 0;
      margin-bottom: 0;
    }

    .isometrica-rich-text-input {
      height: 340px;
    }
  }
}

.form-control-with-status {
  padding-right: 35px !important;
  position: relative;

  .label {
    position: absolute;
    right: 8px;
    left: auto !important;
    top: 50%;
    margin-top: -8px;
  }
}

.btn-checkbox {
  width: 34px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 10px !important;

  i {
    margin: 0 !important;
    color: white;
  }
}


.desktop {
  .form-horizontal .control-label {
    padding-right: 0;
  }
}

.ios {

  .modal-body {
    padding-top: 10px;
  }

  .form-horizontal .form-group {
    
    //border-color: transparent;
    //margin-left: 0 !important;
    //border-bottom: 1px solid #ddd;

    label,
    .form-control,
    .btn {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .form-horizontal .form-group .control-label {
    white-space: normal;
  }

  .form-horizontal .form-group:first-of-type {
    margin-top: 0;
  }

  hr {
    //margin-top: 7px !important;
    //margin-bottom: 7px !important;
    //display: none !important;
    //border-color: transparent !important;
  }

  textarea {
    resize: none;
  }

  textarea:focus, input:focus{
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }

  .form-horizontal .form-group .btn {
    //margin: 1px 0;
  }
}

.android {

  textarea:focus, input:focus, select:focus {
    outline: 0;
    box-shadow: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  .form-horizontal .form-group .control-label {
    padding-top: 6px;
    
    @media(max-width: 767px) {
      text-align: left;
      padding-top: 0 !important;
      margin-top: 0;
    }
  }

  .form-horizontal .form-group .btn {
    margin: 2px 0;
  }
  
  .control-label {
    text-transform: none !important;
    font-size: 14px !important;
  }
}



.control-label-block,
.form-horizontal .control-label-block {
  padding-top: 0;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}



/* Form group status label 

.form-group .label {
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 8px;
  display: inline-block;
}

.ios,
.android { 
  .form-group .label {
    margin: 10px 0;
  }
}

/* Dropdowns 

.dropdown-menu>li>a {
  padding: 7px 15px;
}

.dropdown-menu {
  .divider {
    margin: 4px 0;
  }
  .dropdown-header {
    padding: 5px 15px 0;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background: $blue-color;
  color: white !important;
}






/* Disabled fields 

.form-control[disabled] {
  -webkit-text-fill-color: #555;
}

.ios .form-control[disabled],
.android .form-control[disabled] {
  background: #eee;
  padding-left: 10px;
}






/* Search form 

.search-form {
  .form-control,
  .btn {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.search-filters {
  margin-top: 10px;
}


/* Form layout 

.ios,
.android {
  .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
    border: 0;
  }

  .form-horizontal .form-group:last-child {
    margin-bottom: 0;
  }

  .form-horizontal .form-group .control-label:first-child {
    padding-left: 15px;
    padding-right: 0;
  }

  .form-horizontal .form-group > div,
  .form-horizontal .form-group > div:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ios {
  .form-horizontal .form-group .control-label {
    padding-top: 8px;
    color: $blue-color;
    color: black;
    font-weight: 500;
    
    @media (max-width: 767px) {
      //padding-top: 0;
      margin-bottom: 0;
    }
  }

  .bootcards-panel-collapsing:not(.full-width) .panel-body {
    //padding-top: 0;
    //padding-bottom: 0;
  }
}

.android {
  .form-horizontal .form-group .control-label {
    padding-top: 7px;
  }

  textarea {
    //line-height: 26px;
  }
  
  .form-control {
    padding-left: 0;
  }
}


/* Input groups 

.input-group + .input-group {
  //margin-top: 8px;
}

.input-group .btn {
  margin-right: 0;
  margin-bottom: 0;
}


.ios,
.android {
  .input-group {
    .input-group-btn > .btn {
      border-radius: 3px;
      border-width: 1px;
      z-index: 9;
    }
    .input-group-addon {
      background: #eee;
      border-color: transparent;
      //padding-left: 0;
      color: #777;
    }
    .form-control:not(:first-child) {
      padding-left: 10px;
    }
  }
}



/* Consistent bottom margin for form buttons, fields, etc 

.form-horizontal .form-group {
  margin-bottom: 10px;
  
  .btn,
  .btn-group,
  .input-group,
  .form-control {
    margin-bottom: 5px;
  }
}

.ios .form-horizontal .form-group {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  
  .btn,
  .btn-group,
  .input-group,
  .form-control {
    margin-bottom: 5px;
    margin-top: 5px;
    
    @media (max-width: 767px) {
      margin-bottom: 0;
      //margin-top: 0;  
    }
  }  
}

/* Consistent right margin for inline form buttons/groups 

.form-group .btn,
.form-group .btn-group {
  margin-right: 5px;
  
  &.pull-xs-right {
    margin-right: 0;
  }
}

/* Reset for nested elements 

.form-group .btn-group .btn {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.form-group .input-group {
  .form-control,
  .btn {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
}

.form-group .input-group .form-control {
  margin-bottom: 0;
}

/* Smaller btn groups on mobile 

.form-group .btn-group .btn {
  @media (max-width:480px) {
    font-size: 13px !important;
  }
}

*/