html,
body {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
}

body {
  @include flexbox();
  @include flex-direction(column);
  background: #f5f5f5;
  font-family: $font-regular;
}

.container {
  @media (max-width:1199px) {
    max-width: none;
  }
}

.content {
  @include flex(1);
  @include flexbox();

  > .container {
    @include flex(1);
    position: relative;

     > .row {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      height: 100%;

      .content-cards,
      .content-list {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        padding-top: 30px;
      
        &::-webkit-scrollbar {
          width: 0px;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $SegoeUISemibold;
}

strong {
  font-weight: normal;
  font-family: $font-semibold;
}