.modal {
  
  .modal-dialog {
    > .card {
      border: 0;
      
      > .card-heading .card-title {
        text-align: center !important;
        font-family: $font-semibold;
      }
    }

    .card-block {
      &:not(:first-child) {
        border-top: 1px solid #ddd;
      }
    }
    
    
  }

}