.page-orgsetup {
  background: white;


  .container-orgsetup {
    width: auto;
  
    > .row > div {
      padding: 30px 180px 0;
      position: relative;
    }
  
    @media (max-width: 991px) {
      padding: 0 15px;
    }
  
    .card-orgsetup {
      margin-bottom: 40px;
      position: relative;
  
      .card-block {
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        background: #eee;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ccc;
  
        &.first {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
  
        &.last {
          border-bottom: 0;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
  
        &:hover,
        &:active {
          background: #f5f5f5;
        }
        
        .card-title {
          line-height: 24px;
  
          .text-muted {
            color: #999;
            display: inline-block;
          }
        }
  
        .arrow {
          position: absolute;
          font-size: 63px;
          line-height: 1;
          top: 50%;
          margin-top: -32px;
          color: #ccc;
          z-index: 9;
  
          &.left {
            left: -54px;
          }
  
          &.right {
            right: -54px;
          }
  
          &.top {
            top: -54px;
            margin-top: 0;
            left: 50%;
            width: 64px;
            text-align: center;
            margin-left: -32px;
          }
        }
  
        .status-indicator {
          position: absolute;
          top: 50%;
          right: 20px;
          left: auto;
          margin-top: -9px;
        }
      }
  
      .offset {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 120px;
  
        &.left {
          left: -165px;
        }
  
        &.right {
          right: -165px;
        }
  
        .card {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0;
          text-align: center;
          @include flexbox;
          @include flex-direction(column);  
          
          &-orgsettings {
            top: auto;
          }
            
  
          .card-block {
            @include flex(1);
            margin: 0;
            border: 0;
  
            .status-indicator {
              top: auto;
              bottom: 20px;
              left: 50%;
              right: auto;
              margin-top: 0;
              margin-left: -9px;
            }
          }
        }
      }
    }
  }
}




.form-multiadd {
  .table {
    margin-bottom: 0;
    border: 0;
  }

  .table-responsive {
    border-top: 0;
    
    @media (min-width: 768px) {
      overflow: visible;
    }
  }

  td {
    padding: 0 !important;
    position: relative;
    min-height: 34px;
  }

  th {
    padding-left: 15px;
    background: #f5f5f5;
    border-bottom-width: 1px;
    min-width: 170px;
  }

  td,
  th {
    &:first-child { border-left: 0; }
    
    &.short {
      width: 140px;
      min-width: 140px;
    }
    
    &.long {
      min-width: 300px;
    }
  
    &.icon {
      width: 40px;
      min-width: 40px;
    }    
  }

  .required {
    color: $red-color;
  }

  .form-control {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding-left: 15px;
  }
  
  textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    resize:none;
  }
  
  select {
    -webkit-appearance: none;
  }
  
  .input-group {
    .input-group-addon {
      border: 0;
      border-radius: 0;
      border-right: 1px solid #ddd;
    }
  }
  
  .btn {
    border-color: transparent;
    border-radius: 0;

    .android & {
      background: transparent;
      height: 40px;
      box-shadow: none;
    }     
    
  }

  td > .btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: left;
  }
  
  td.icon > .btn {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .text-muted {
    color: #bbb;
  }

  .btn-group {
    white-space: nowrap;
    .btn {
      float: none;
      display: inline-block;
    }
  }
  
  /* Meetings */
  
  .agenda-item-title {
    min-width: 320px;
    
    .input-group-addon {
      min-width: 45px;
      padding-left: 15px;
      padding-right: 0;
      text-align: left;
    }
  }
  
  .agenda-item-description {
    min-width: 500px;
  }
}




/* Mission & goals edit */

#editMission {
  .modal-content {
    overflow: hidden;
  }

  .modal-body {
    padding-bottom: 0;
    //border-top: 1px solid #ddd;
  }

  .isometrica-rich-text-control {
    border-bottom: 0;

    .isometrica-rich-text-input {
      height: 400px;
    }
  }
}


/* Modal widths */

.page-orgsetup {
  .modal-dialog {
    &.modal-lg {
      @media (min-width: 992px) {
        width: 700px !important;
      }      
    }
    &.modal-xl {
      @media (min-width: 992px) {
        width: 1050px !important;
      }      
    }
  } 
}



.ios.page-orgsetup {

  .container-orgsetup {
    padding-top: 30px;
    overflow: scroll;

    @media (max-width:767px) {
      padding-top: 15px;
    }
  }

  .card-orgsetup {
    border: 1px solid #bbb !important;

    .card-title {
      color: #333 !important;
      text-transform: none !important;
      font-weight: 500 !important;
    }

    .card {
      border: 1px solid #bbb !important;
    }
  }

  .modal {
    .panel {
      border: 1px solid #bbb;
    }

    .form-group {
      margin-top: 0;
      margin-right: 0;
      border: 0;

      .form-control {
        padding-left: 10px;
      }
    }
  }
}

.android.page-orgsetup {
  .container-orgsetup {
    padding-top: 15px;
  }

  .card-orgsetup {
    .panel-heading {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .modal-header {
    .pull-right {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
    }
  }
}


/* CORE SYSTEM MODAL */

.modal.modal-orgsetup {
	z-index: 1051;

	.modal-dialog {
  	@media (min-width: 768px) {
    	width: 480px;
    	
    	&.modal-lg,
    	&.modal-xl {
      	width: auto;
    	}
  	}
	}

	.modal-header {
  	//padding: 10px;
  	padding: 12px 15px;

  	.pull-left {
    	position: absolute;
      left: 15px;
      top: 12px;
  	}

  	.pull-right {
    	position: absolute;
      right: 15px;
      top: 12px;
  	}

  	.modal-title {
    	@media (max-width: 767px) {
      	text-align: left;
      	padding-left: 15px;
    	}

  	}
	}
}


/* SETTINGS */

#org-settings-modal {
  .btn-checkbox,
  .btn-checkbox-label {
    margin-bottom: 5px;
  }
  
  .full-width {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}