.workspace-items {
  @include flexbox;
  @include flex-wrap(wrap);
  
  > div {
    @include flexbox;
    
    width: 20%;
    
    @media (max-width:991px) {
      width: 33.333%;
    }
    
    @media (max-width:767px) {
      width: 50%;
    }
    
    @media (max-width:480px) {
      width: 100%;
    }
  }

  .card {
    @include flex(1);
    @include flexbox;
    @include flex-direction(column);
    cursor: pointer;
    
		.workspace-item-icon {
      display: block;
      text-align: center;
      font-size: 42px;
      margin: 10px auto 10px;
      color: $light-blue-color;
      			
		}   
		
		.card-block {
  		@include clearfix;
  		@include flex(1);
		}
		
		.card-block + .card-block {
  		border-top: 1px solid #ddd;
		}
		 
		.card-title {
			margin-top: 0;
			padding: 0;
			margin-bottom: 3px;
			line-height: 20px;
			font-size: 16px;
			text-align: center;
		}

		.card-text {
  		margin-bottom: 0;
  		line-height: 20px;
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		color: #777;
		}
		
		.card-footer {
  		background: transparent;
  		border-color: #ddd;
  		height: 56px;
  		text-align: center;
  		
  		.text-muted {
    		line-height: 34px;
  		}
  		
  		.progress {
    		height: 30px;
    		margin: 2px 0;
  		}
		}
		
		.label {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 13px;
      padding: 4px 8px;
    }
  }
}

.dashboard-items {
  @include flexbox;
  
  > div {
    @include flexbox;
  }

  .card {
    @include flex(1);
    cursor: pointer;
    
		.dashboard-item-icon {
			float: left;
			margin: 0 5px 0 0;
			font-size: 46px;
			color: #bbb;
			text-align: center;
		}   
		 
		.card-title {
			margin-top: 0;
			padding: 0;
			margin-bottom: 3px;
			line-height: 20px;
			font-size: 16px;
		}

		.card-text {
  		margin-bottom: 0;
  		line-height: 20px;
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		color: #777;
		}

    .label {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 13px;
      padding: 4px 8px;
    }		
		
  }
}

.workspace-footer {
  padding-top: 15px;
  
  &-buttons {
    margin-bottom: 15px;
    
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: left;
    }
  
    .btn {
      margin-right: 10px;
      margin-bottom: 15px;
      
      &:last-child {
        margin-right: 0;
      }
    }    
  }

  &-logo {
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: right;
    }

    img {
      height: 34px;
    }
  }
}




/* Navbar


/* ICON UPLOAD 

.overview-icon-preview {
  background: #444;
  padding: 20px !important;
  text-align: center;

  img {
    height: 34px;
    margin: 0 auto;
  }
}



/* Scrolling Area 

.ios.isometrica-overview-page {
  overflow-y: auto;
}



/* DASHBOARD

.isometrica-overview-page .guidance-bar {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  min-height: 115px;

  @media (max-width: 767px) {
    padding-bottom: 5px;
  }
}

/* Tabs 

.isometrica-overview-tabs {
  background: $blue-color;
  padding-top: 10px;

  @media (max-width: 767px) {
    padding-top: 3px;
    .container {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .nav {
    > li {
      > a {
        border-color: transparent !important;
        font-weight: 500;
        color: white !important;
        background: #539ad7;
        background: $light-blue-color;
        //border-radius: 0;
        transition: all 0.3s ease;
        margin: 0 2px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media (max-width: 991px) {
          white-space: nowrap;
        }

        i {
          font-size: 24px;
        }

        &:hover, &:focus, &:active {
          background: #5bc0de;
        }
      }

      &.active > a {
        background: #f5f5f5;
        color: #333 !important;
      }
    }
  }

  // Show on Mobile
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
}

.ios .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #efeff4;
    }
  }
}

.android .isometrica-overview-tabs {
  .nav > li {
    &.active > a {
      background: #eee;
    }
  }
}

/* Dashboard Items

.isometrica-overview-items {
  //margin-top: 30px;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
  @include clearfix();

  @media (max-width:767px) {
    padding-left: 0;
    margin-top: 12px;
  }

  hr {
    clear: both;
    border-color: #ddd;
    margin: 0 0 30px;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    &.isometrica-org-divider {
      border-width: 3px;
    }
  }

  h2 {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width:767px) {
      text-align: center;
    }
  }

  .btn-add-org {
    margin-bottom: 20px;
  }
}


/* Services 

.isometrica-overview-items.services {
  .panel-heading {
    background: transparent;

    .panel-title {
      line-height: 1.3;
      overflow: hidden;
      text-align: center;
    }

    i {
      margin-top: 12px;
      margin-right: 12px;
      display: block;
      float: none !important;
      margin: 10px 0;
      text-align: center;
      font-size: 40px;
    }
  }
}


/* Workspace 

.isometrica-overview-document-items {
  position: relative;

  @media (min-width:768px) {
    padding-left: 120px;
  }
}

.isometrica-overview-add {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-decoration: none !important;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 20px;


  @media (max-width:767px) {
    position: static;
    width: auto;
    margin-bottom: 10px !important;

  }

  @media (min-width: 768px) {
    white-space: normal;
  }

  i {
    @media (max-width:767px) {
      //display: inline-block;
      //font-size: inherit;

    }
    @media (min-width: 768px) {
      margin: 0 !important;
      font-size: 48px;
      line-height: 1;
      vertical-align: 0;
      display: block;
    }

  }
}

.isometrica-overview-item {
	cursor: pointer;
	border: 1px solid #bbb !important;
	margin-bottom: 30px;

	@media (max-width:767px) {
    margin-bottom: 15px;
  }

	&:hover, &:focus, &:active {
		border-color: #5bc0de;
	}

	.label {
		font-size: 12px;
	}

	.panel-body {
  	position: relative;
  	
		.isometrica-overview-item-heading {
  		.workbook-icon {
  			float: left;
  			margin: 3px 15px 0 3px;
  			height: 60px;
  		}
  		
		  .document-not-approved {
        position: absolute;
        left: 12px;
        top: 12px;
        border-radius: 50%;
        font-size: 14px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0;
        text-align: center;
      }

  		h3 {
  			margin-top: 0;
  			padding: 0;
  			margin-bottom: 3px;
  			line-height: 20px;
  			font-size: 16px;
  		}

			.org-name {
    		margin-bottom: 0;
    		line-height: 20px;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
  		}
		}

		p {
			overflow: hidden;
			margin: 0;
			margin-bottom: 5px;

		}

		.description {
  		margin-bottom: 15px;
  		line-height: 20px;
  		height: 50px;
  		overflow: hidden;
  		clear: both;
  		padding-top: 10px;

  		@media (max-width: 767px) {
    		height: auto;
  		}
		}

	}


	.status {
		margin-bottom: 0;
		border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: 30px;
    clear: both;

    .label {
      display: inline-block;
      padding: .3em .6em;
      position: relative;
      top: -1px;
      left: 3px;
    }
	}

  &.isometrica-overview-item-document {
    .isometrica-overview-item-heading {
      @media (min-width: 768px) {
        height: 65px;
        overflow: hidden;
      }

      .workbook-icon {
        margin-bottom: 15px;
      }
    }
  }

	.progress {
		clear: both;
		margin-bottom: 0;
		//margin: 0;
    border-radius: 0;
    height: 30px;

    .progress-bar {
      line-height: 30px;
      font-size: 14px;
    }
	}

  .no-activity {
    display: block;
    text-align: center;
    padding: 7px 0;
  }

  .panel-footer {
    background: transparent;
    text-align: center;
    line-height: 35px;

    .progress {
      border-radius: 3px;
      margin: 2px 0 3px;
    }
    
    .btn-link {
      text-decoration: none;
      font-weight: 500;
      
      i {
        font-size: 38px;
        line-height: 20px;
        float: left;
      }
    }
  }

	.users {
		list-style: none;
		padding: 0;
		overflow: hidden;
		height: 35px;
		margin: 0;

		li {
			float: left;
			text-align: center;

			@media (max-width: 400px) {
  			&:nth-child(5) {
    			display: none;
  			}
			}

			@media (max-width: 767px) {
  			margin-right: 10px;
			}

			@media (min-width: 768px) {
  			//width: 16.666%;
  			margin-right: 15px;
			}

			img {
  			height: 34px;
  			width: 34px;
			}

			.add-user {
        text-decoration: none;
        
				i {
					font-size: 38px;
					line-height: 34px;
					display: block;
					text-align: center;
					color: #ddd;
				
  				&:hover,
  				&:active {
  					color: $blue-color;
  				}				
				}
			}
		}
	}

	.stats {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			overflow: hidden;
			padding: 5px 0;
			h6 { float: left; }
			span { float: right; }
			h6, span {
				font-size: 14px;
				line-height: 1;
				margin: 0;
			}
		}
	}
}

.ios .isometrica-overview-items {

  hr {
    margin-bottom: 15px;
  }

  .row  {
    margin: 0 -8px;

    > div {
      padding: 0 8px;
      //padding-right: 15px;

      .isometrica-overview-item {
        margin-bottom: 15px;
      }
    }
  }
}

.android .isometrica-overview-items {
  > .row  {
    margin: 0;
    margin-right: -15px;

    > div {
      padding: 0;
      padding-right: 15px;
    }
  }
}

#chooseTemplateModal {
  .modal-content {
    overflow: hidden;
  }
  
  .list-group-item-toggle {
    //border: 0;
    margin-bottom: 1px;
    
    &:before {
      transform: rotate(270deg);
      transition: all .3s ease;
    }
    
    &.collapsed {
      border-bottom-color: transparent;
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}

#add-users-modal {
  .form-group.user {
    position: relative;
    padding-left: 45px;
    
    .avatar {
      position: absolute;
      left: 0;
      top: 0;
      width: 34px;
      height: 34px;
    }    
  }
  

}
*/