.btn {
  font-family: $font-semibold;
  font-weight: normal;
  @include transition(all .3s ease);
  
  &-primary {
    background: $blue-color;
    border-color: $blue-color;
    &:hover {
      background: darken($blue-color,5%);
      border-color: darken($blue-color,5%);    
    }
  }
  &-info {
    background: $light-blue-color;
    border-color: $light-blue-color;
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);    
    }
    &:disabled:hover {
      background: $light-blue-color;
      border-color: $light-blue-color;      
    }
  }
  &-success {
    background: $green-color;
    border-color: $green-color;
    &:hover {
      background: darken($green-color,5%);
      border-color: darken($green-color,5%);    
    }
  }
  &-warning {
    background: $amber-color;
    border-color: $amber-color;
    &:hover {
      background: darken($amber-color,5%);
      border-color: darken($amber-color,5%);    
    }
  }
  &-danger {
    background: $red-color;
    border-color: $red-color;
    &:hover {
      background: darken($red-color,5%);
      border-color: darken($red-color,5%);    
    }
  }
  
  
  &-link {
    color: $blue-color;
  }
  
  &:disabled {
    opacity: 1;
  }
}

.btn-group {
  &-nomargin {
    margin-bottom: 0 !important;
    
    .btn {
      margin-bottom: 0 !important;
    }
  }
  
  &[data-toggle="buttons"] {
    .btn.active {
      background: $light-blue-color;
      border-color: $light-blue-color;
      color: white;
    }
  }
}

/*
  BUTTON ICONS
*/

.btn {
  i {
    &.ms-Icon {
      font-size: 19px;
      position: relative;
      top: 1px;      

      &--caretDown {
        font-size: 18px;
        position: relative;
        top: 2px;
      }
    }
  }
}
