.chat {
  @include flexbox();
  @include flex-direction(column);

  &-heading {
    padding: 1rem 1.25rem;
    min-height: 100px;
    
    .label-standard {
      $label-standard-size: 70px;
      width: $label-standard-size;
      height: $label-standard-size;
      line-height: $label-standard-size;
      font-size: $label-standard-size/2 - 8px;
      margin-right: 15px;
    }
    
    .btn-link {
      float: right;
      padding: 0;
      i { 
        //font-size: 24px; 
      }
    }
    
    .btn-group {
      float: right;
      margin-top: 5px;
    }
    
    &-title {
      font-size: 27px;
    }
    
    &-text {
      font-size: 14px;
      margin: 0;
      color: #777;
    }
  }

  &-content {
    //border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    @include scroll;
    @include flex(1);
  }

  &-item {
    padding: 1rem 1.25rem;
    border-top: 1px solid #eee;
    
    &-start {
      border-top: 0;
    }
    
    &-avatar {
      $avatar-size: 40px;
      border-radius: 50%;
      width: $avatar-size;
      height: $avatar-size;
      float: left;
      margin-right: 15px;
      margin-top: 3px;
    }
    &-card {
      @include clearfix;
    }
    &-author {
      font-size: 13px;
      font-family: $font-semibold;
      margin-right: 5px;
    }
    &-time {
      font-size: 13px;
      color: #999;
      float: right;
    }
    &-level {
      color: #999;
      font-size: 13px;
    }
    &-text {
      margin: 0;
      font-size: 16px;
  
      .chat-item-start & {
        color: #777;
        
      }
    }
    &-dropdown {
      float: right;
      clear: right;
      
      .btn {
        padding: 4px 2px;
        outline: none !important;
        color: #aaa;
        
        &:hover {
          color: $blue-color;
        }
      }
      &.open .btn {
        color: $blue-color;
      }
      
      .dropdown-menu {
        margin: 0;
      }
    }
  }
  
  &-form {
    padding: 0 1.25rem 1.25rem;
    
    .form-group {
      margin: 0;
    }
    .form-control {
      font-size: 16px;
      padding: .5rem 1rem;
    }
    .btn {
      padding: .5rem .75rem;
      line-height: 20px;
      
      i {
        font-size: 22px;
      }
    }
  }  

  &-sidebar {
    padding: 1rem 1.25rem;
    width: 20%;
    border-left: 1px solid #ccc;
    @include scroll;
    height: 100%; 
    
    &-heading {
      @include clearfix;
  
      .btn {
        float: right;
        padding: 0;
        color: #bbb;
        
        &:hover {
          color: #555;
        }
      }
    }
    
    &-title {
      float: left;
      font-size: 20px;
      margin: 0;
    }
    
    &-subtitle {
      font-size: 18px;
      margin: 0 0 1.25rem;
    }
    
    hr {
      margin: 1.25rem -1.25rem;
    }
  
    .card {
      margin-bottom: .75rem;
      cursor: pointer;
      @include transition(all .3s ease);
      
      &:hover {
        border-color: $blue-color;
      }
      
      &-block {
        padding: 1rem;
      }
      
      &-title {
        font-size: 14px;
      }
      
      i {
        float: left;
        font-size: 30px;
        width: 30px;
        text-align: center;
        color: #bbb;
        margin-right: 0.75rem;
      }
      
      img {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 0.75rem;
        margin-top: 3px;
        margin-left: 3px;
        border-radius: 50%; 
      }
      
      p {
        margin: .5rem 0 0;
      }
    }
  } 
}





