html,
body {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
}

body {
  @include flexbox();
  @include flex-direction(column);
  background: #f5f5f5;
  font-family: $font-regular;
}

/*
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
*/

.content {
  overflow: hidden;
  position: relative;
  @include flex(1);
  
  .container {
    @include flex(1);
    @include flexbox();
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    max-width: none;
  }
  
  &-list {
    width: 300px;
    border-right: 1px solid #ccc;
    @include scroll;
    height: 100%;
    
    @include mobile {
      width: 100%;
      border: 0;
    }
  }
  
  &-detail {
    @include flex(1);
    background: white;
  }
  
  &-sidebar {
   
  }
}

strong {
  font-weight: normal;
  font-family: $font-semibold;
}